<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/brandon.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>Rev. Brandon A. Olivares</title>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


<META Name="Description" Content="Learn more about the founder of Christ's Light Ministries, Rev. Brandon A. Olivares.">
<META Name="Keywords" Content="Rev. Brandon A. Olivares, Brandon Olivares, blind">

<link href="http://www.christs-light-ministries.org/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<link href="http://www.christs-light-ministries.org/support-files/style.css" type="text/css" rel="stylesheet">



<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>


<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
</head>

<body onLoad="MM_preloadImages('http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'); ">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="imgs/logo.jpg" width="725" height="140" alt="logo for christs-light-ministries.org"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
            
            <div>
            Need prayer? Call our prayer line<br>
            <strong>(888) 989-3544</strong>
            </div>
				
				
				<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center><br>


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fforums%2Echrists-light-ministries%2Eorg%2F&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fbrandon%2Ehtml'; return false;"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				
			</div>
			<img src="imgs/LEFT.gif" width="130" height="10" alt="LEFT for christs-light-ministries.org">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>

<h1 style="text-align:center; color:#000066">
Rev. Brandon A. Olivares<br>
<a  href="brandons-spiritual-reflections.html"
title="Brandon's Spiritual Reflections">
Spiritual Reflections Blog
</a>
</h1>

<p style="text-align:left;">
By Rev. Brandon A. Olivares
Johnstown, PA, USA
</p>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Top */
google_ad_slot = "3553303200";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<div>
<p style="text-align:center;">
<img src="http://www.christs-light-ministries.org/image-files/brandon.jpg" alt="Brandon">
</p>
<p style="text-align:center;">
Rev. Brandon Olivares
</p>
</div>

<p>My name is Rev. Brandon A. Olivares, and I, along with <a  href="http://www.christs-light-ministries.org/christine.html">Christine</a> (my beautiful fiance), started Christ's Light Ministries. I am so passionate about spiritual growth and helping others to grow spiritually, as well as bringing healing to them.</p>

<p style="border:1px solid #0000FF"><strong>Important</strong>: Want to comment on my profile? <a href="#INV">Click here to share your feedback or post your question</a>, or <a href="#VisitorPages">see what others are saying</a>.</p>

<p>I lost my sight at the age of four, as the result of a brain tumor. I was never bitter, but believed that I could overcome any obstacle, and wanted to live as normal of a life as possible. I have always had an inquisitive mind, and always wanted to find the truth for myself, which has lead me on a long, sometimes arduous journey in pursuit of that truth.</p>

<p>I have been sensitive from a young age. As long as I can remember, I have always been able to sense spirits when they are around me, as well as the energy of other people. I was heavily involved in the new-age off-and-on for ten years from the age of nine. This study of the new-age introduced me to energy healing, in which I became very interested. I also had the chance to develop my intuition, and focus on my ability to sense the energy of people and spirits around me. This ability has never left me, and in fact has only grown stronger with time.</p>

<p>In August of 2009, I met <a  href="http://www.christs-light-ministries.org/christine.html">Christine</a>, who is now my fianc&eacute; and future wife. She introduced me to the charismatic movement within the Catholic Church. Though it took me a while to get used to it, I soon had been blessed with many of the gifts of the Holy Spirit in January, 2010, including the gifts of healing, discernment of spirits (deliverance), prophecy, and tongues. Gradually, these gifts were unfolded more and more.</p>

<p>I had a period where I was interested in the Catholic Church, and so shut down many of these abilities that were so natural to me before. I became Catholic on April 3, 2010, but soon thereafter realized that I felt very restricted, and could not reach my full potential that way. Of course, I respect the Catholic Church and help people who are Catholic, but I realized that it just wasn't for me.</p>

<p>I soon became interested again in energy healing, by the encouragement of Christine. I soon decided that it was possible to integrate these alternative methods of healing I had before studied, including Reiki, with these other gifts of the Holy Spirit. In this way, I have seen much healing take place, which inspires me even more to continue. My gift of healing has only blossomed since then. I now try to reach as many people as possible, no matter what religion they are or spiritual tradition they adhere to, in order to bring healing to them, and allow them to find their purpose.</p>

<p><strong>Note</strong>: Please also see my <a  href="http://www.christs-light-ministries.org/brandons-spiritual-reflections.html">spiritual reflections blog</a> for more of my writings about spiritual ideas and my personal experiences.</p>

<h2>My Most Recent Articles</h2>
<dl id="recent">
<dt>
<a href="jesus-message-147-august-14-2011.html">
Jesus' Message #147: August 14, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a href="jesus-message-147-august-14-2011.html">
Jesus' Message #147: August 14, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a href="jesus-message-146-august-13-2011.html">
Jesus' Message #146: August 13, 2011
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a href="jesus-message-146-august-13-2011.html">
Jesus' Message #146: August 13, 2011
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a href="jesus-message-145-august-12-2011.html">
Jesus' Message #145: August 12, 2011
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

<dt>
<a href="jesus-message-145-august-12-2011.html">
Jesus' Message #145: August 12, 2011
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

<dt>
<a href="jesus-message-144-august-11-2011.html">
Jesus' Message #144: August 11, 2011
</a>
</dt>
<dd>
Jesus' message says that we must rely on the power of God, instead of our own power, and live in alignment with His will.
</dd>

<dt>
<a href="jesus-message-144-august-11-2011.html">
Jesus' Message #144: August 11, 2011
</a>
</dt>
<dd>
Jesus' message says that we must rely on the power of God, instead of our own power, and live in alignment with His will.
</dd>

<dt>
<a href="jesus-message-143-august-10-2011.html">
Jesus' Message #143: August 10, 2011
</a>
</dt>
<dd>
Jesus' message says that we ca always have hope, as long as God is with us, and this hope will bring us out of darkness.
</dd>

<dt>
<a href="jesus-message-143-august-10-2011.html">
Jesus' Message #143: August 10, 2011
</a>
</dt>
<dd>
Jesus' message says that we ca always have hope, as long as God is with us, and this hope will bring us out of darkness.
</dd>

<dt>
<a href="jesus-message-142-august-9-2011.html">
Jesus' Message #142: August 9, 2011
</a>
</dt>
<dd>
Jesus' message says that we must trust in God, and our life will become full of synchronicities and even miracles.
</dd>

<dt>
<a href="jesus-message-142-august-9-2011.html">
Jesus' Message #142: August 9, 2011
</a>
</dt>
<dd>
Jesus' message says that we must trust in God, and our life will become full of synchronicities and even miracles.
</dd>

</dl>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<h2>Archive of All My Pages</h2>
<dl id="archive">
<dt>
<a href="400year-anniversary-of-the-kjv-bible.html">
400-Year Anniversary of the KJV Bible
</a>
</dt>
<dd>
May 14, 2011 Today is apparently the 400-year anniversary of the King James Version of the Bible. While the KJV isn't my favorite translation, I find... (<a   href="400year-anniversary-of-the-kjv-bible.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="a-poignant-account-of-jesus-crucifixion.html">
A Poignant Account of Jesus' Crucifixion
</a>
</dt>
<dd>
June 5, 2009<br>
I was reading some posts on the Catholic Answers Forums this evening, when I came across a thread, where someone asked ...
(<a   href="a-poignant-account-of-jesus-crucifixion.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="alternative-healing.html">
Alternative Healing
</a>
</dt>
<dd>
Alternative healing allows you to be healed on all levels, not just on the surface. Learn more about this wonderful technique and how to apply it to your own life.
</dd>

<dt>
<a href="apostles-creed-prayer.html">
Apostles' Creed Prayer
</a>
</dt>
<dd>
The Apostles' Creed prayer is used frequently, especially in Catholicism, Lutheranism, Anglicanism, Western Orthodoxy, Presbyterianism, Methodism, and Congregationalism.
</dd>

<dt>
<a href="buddhist-news.html">
Buddhist News
</a>
</dt>
<dd>
Follow the latest in Buddhist news, and comment or write your own summary of what's happening in Buddhism around the world.
</dd>

<dt>
<a href="catholic-news.html">
Catholic News
</a>
</dt>
<dd>
Follow the latest in Catholic news, and comment or write your own summary of what's happening in Catholicism around the world.
</dd>

<dt>
<a href="ceremonial-magick-ritual-for-healing.html">
Ceremonial Magick: Ritual for Healing?
</a>
</dt>
<dd>
I've been getting into ceremonial magick. It is the type of magick I have always been most attracted to, but it is also the most complicated, so it is... (<a   href="ceremonial-magick-ritual-for-healing.html"><small>Read more</small></a>)
</dd>

<dt>
<a href="change-your-beliefs.html">
Change Your Beliefs
</a>
</dt>
<dd>
To change your beliefs can be an involved, sometimes intimidating process. I want to help you discover why you might want to change your beliefs and how to go about it if it is best for you.
</dd>

<dt>
<a href="/">
Christ's Light Ministries Homepage
</a>
</dt>
<dd>
A Christian ministry aiming to bring spiritual growth and holistic healing to all people, helping them to live in the light of Christ.
</dd>

<dt>
<a href="christian-news.html">
Christian News
</a>
</dt>
<dd>
Follow the latest in Christian news, and comment or write your own summary of what's happening in Christianity around the world.
</dd>

<dt>
<a href="contact.html">
Contact Christ's Light Ministries
</a>
</dt>
<dd>
Contact Christ's Light Ministries with your questions, comments, and suggestions.
</dd>

<dt>
<a href="daily-inspiration.html">
Daily Inspiration
</a>
</dt>
<dd>
Daily inspiration for each day of your spiritual journey, to give you encouragement and hope.
</dd>

<dt>
<a href="daily-inspiration-1-gods-orchestra.html">
Daily Inspiration #1
</a>
</dt>
<dd>
God's orchestra
</dd>

<dt>
<a href="daily-inspiration-2-ocean-of-love.html">
Daily Inspiration #2
</a>
</dt>
<dd>
Ocean of Love
</dd>

<dt>
<a href="daily-inspiration-3-the-beacon-of-christ.html">
Daily Inspiration #3
</a>
</dt>
<dd>
The beacon of Christ
</dd>

<dt>
<a href="daily-inspiration-4-loving-god.html">
Daily Inspiration #4
</a>
</dt>
<dd>
Loving God
</dd>

<dt>
<a href="daily-inspiration-5-light-and-dark.html">
Daily Inspiration #5
</a>
</dt>
<dd>
Light and dark
</dd>

<dt>
<a href="daily-inspiration-6-reaffirming-gods-supremacy.html">
Daily Inspiration #6
</a>
</dt>
<dd>
Reaffirming God's supremacy
</dd>

<dt>
<a href="daily-inspiration-7-freedom-from-the-cycle.html">
Daily Inspiration #7
</a>
</dt>
<dd>
Freedom from the cycle
</dd>

<dt>
<a href="daily-inspiration-8-water-of-life.html">
Daily Inspiration #8
</a>
</dt>
<dd>
Water of Life
</dd>

<dt>
<a href="daily-inspiration-9-resisting-happiness.html">
Daily Inspiration #9
</a>
</dt>
<dd>
Resisting happiness
</dd>

<dt>
<a href="daily-inspiration-10-the-cycle-of-life.html">
Daily Inspiration #10
</a>
</dt>
<dd>
The cycle of life
</dd>

<dt>
<a href="daily-inspiration-11-the-angels.html">
Daily Inspiration #11
</a>
</dt>
<dd>
The angels
</dd>

<dt>
<a href="daily-inspiration-12-the-light-within.html">
Daily Inspiration #12
</a>
</dt>
<dd>
The Light within
</dd>

<dt>
<a href="daily-inspiration-13-revealing-the-truth.html">
Daily Inspiration #13
</a>
</dt>
<dd>
Revealing the Truth
</dd>

<dt>
<a href="daily-inspiration-14-sea-of-despair.html">
Daily Inspiration #14
</a>
</dt>
<dd>
Sea of despair
</dd>

<dt>
<a href="daily-inspiration-15-the-silence-of-the-voice-of-god.html">
Daily Inspiration #15
</a>
</dt>
<dd>
The silence of the voice of God
</dd>

<dt>
<a href="daily-inspiration-16-god-wipes-away-sin.html">
Daily Inspiration #16
</a>
</dt>
<dd>
God wipes away sin
</dd>

<dt>
<a href="daily-inspiration-17-the-light-of-god-in-all-things.html">
Daily Inspiration #17
</a>
</dt>
<dd>
The Light of God in all things
</dd>

<dt>
<a href="daily-inspiration-18-the-eternal-peace-of-god.html">
Daily Inspiration #18
</a>
</dt>
<dd>
The Eternal Peace of God
</dd>

<dt>
<a href="daily-inspiration-19-healing-is-loving.html">
Daily Inspiration #19
</a>
</dt>
<dd>
Healing is Loving
</dd>

<dt>
<a href="daily-inspiration-20-the-answer-to-guilt.html">
Daily Inspiration #20
</a>
</dt>
<dd>
The Answer to Guilt
</dd>

<dt>
<a href="daily-inspiration-21-true-happiness-is-in-god.html">
Daily Inspiration #21
</a>
</dt>
<dd>
True Happiness is in God
</dd>

<dt>
<a href="daily-inspiration-22-soul-lessons.html">
Daily Inspiration #22
</a>
</dt>
<dd>
Soul Lessons
</dd>

<dt>
<a href="daily-inspiration-23-the-breath-of-god.html">
Daily Inspiration #23
</a>
</dt>
<dd>
The Breath of God
</dd>

<dt>
<a href="daily-inspiration-24-the-great-counselor.html">
Daily Inspiration #24
</a>
</dt>
<dd>
The Great Counselor
</dd>

<dt>
<a href="daily-inspiration-25-finding-love-within.html">
Daily Inspiration #25
</a>
</dt>
<dd>
Finding Love Within
</dd>

<dt>
<a href="daily-inspiration-26-gods-eternal-purpose-for-you.html">
Daily Inspiration #26
</a>
</dt>
<dd>
God's Eternal Purpose for You
</dd>

<dt>
<a href="daily-inspiration-27-finding-peace.html">
Daily Inspiration #27
</a>
</dt>
<dd>
Finding Peace
</dd>

<dt>
<a href="daily-inspiration-28-blinding-yourself-to-the-truth.html">
Daily Inspiration #28
</a>
</dt>
<dd>
Blinding Yourself to the Truth
</dd>

<dt>
<a href="daily-inspiration-29-openness-to-blessing.html">
Daily Inspiration #29
</a>
</dt>
<dd>
Openness to Blessing
</dd>

<dt>
<a href="daily-inspiration-30-success-despite-weakness.html">
Daily Inspiration #30
</a>
</dt>
<dd>
Success Despite Weakness
</dd>

<dt>
<a href="did-god-love-bin-laden.html">
Did God Love Bin Laden?
</a>
</dt>
<dd>
Did God love Bin Laden? This question is posed in light of this article about the proper response of Christians to the death of Bin Laden.  So let's come... (<a   href="did-god-love-bin-laden.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="energy-massage.html">
Energy Massage
</a>
</dt>
<dd>
Energy massage is a method to make massage so much more than just a massage, bringing healing on every level, physically and beyond.
</dd>

<dt>
<a href="experimentation-with-energetic-vibrations.html">
Experimentation with Energetic Vibrations
</a>
</dt>
<dd>
June 4, 2011<br>I've been severely slacking on my energy experimentation lately. A few months ago I was having all sorts of strange and wonderful experiences with energy....
(<a  href="experimentation-with-energetic-vibrations.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="first-year-engagement-anniversary.html">
First-Year Engagement Anniversary
</a>
</dt>
<dd>
May 27, 2011 This might not be the most spiritual, but I wanted to ... (<a   href="first-year-engagement-anniversary.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="god-is-the-source-of-all-things.html">
God is the source of all things
</a>
</dt>
<dd>
June 28, 2009<br>
I was lying in bed last night (well on the couch, since I've been sleeping there lately). I had just finished praying, and was trying to ...
(<a  href="god-is-the-source-of-all-things.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="grace-what-it-is-and-what-it-does.html">
Grace: What It Is and What It Does
</a>
</dt>
<dd>
June 28, 2009<br><br>
On our spiritual journey, it can become evident that we need God's help&mdash;we need God's grace to get us through. Without it, we get hopelessly stuck in this world without a way out.<br><br>
So we must pray for and accept that grace. However, there are a few basic different types of grace: sanctifying grace and actual grace. Knowing the difference can help us even more to know what is happening supernaturally in our relationship with God, and motivate us to pursue spiritual growth with even more vigor.
</dd>

<dt>
<a href="healing-experience-reiki-and-deliverance.html">
Healing Experience: Reiki and Deliverance
</a>
</dt>
<dd>
August 1, 2010<br>
I have been trying to practice Reiki every day, since I have recently been attuned, and want to improve in it. Since I have been at Christine'...
(<a   href="healing-experience-reiki-and-deliverance.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="higher-self-guided-meditation.html">
Higher Self Guided Meditation
</a>
</dt>
<dd>
Learn how to communicate with your higher self for answers to your most pressing questions and for insight into your life purpose with this 15-minute guided meditation.
</dd>

<dt>
<a href="holistic-healing.html">
Holistic Healing
</a>
</dt>
<dd>
Christ's Light Ministries offers holistic healing that heals body, heart, mind, and soul, so that you can be open to a better, healthier, happier life in all ways.
</dd>

<dt>
<a href="intuition-vs-manifestation.html">
Intuition vs. Manifestation
</a>
</dt>
<dd>
April 26, 2011<br>I have been noticing that my intuition has been improving a lot lately. Now I can generally get a feel for a situation, (<a   href="intuition-vs-manifestation.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="jesus-message-1-march-21-2011.html">
Jesus' Message #1: March 21, 2011
</a>
</dt>
<dd>
Jesus' message says that many people ignore their need for God, believing that they can be happy in some other way. However, they must look within, see the inner light, and follow it to happiness.
</dd>

<dt>
<a href="jesus-message-2-march-22-2011.html">
Jesus' Message #2: March 22, 2011
</a>
</dt>
<dd>
Jesus' message says that no one is condemned by God, but God has only pure love for all. We must live in the light of God and be renewed.
</dd>

<dt>
<a href="jesus-message-3-march-23-2011.html">
Jesus' Message #3: March 23, 2011
</a>
</dt>
<dd>
Jesus' message speaks on God's love, and that all people will be brought home into full union with God.
</dd>

<dt>
<a href="jesus-message-4-march-24-2011.html">
Jesus' Message #4: March 24, 2011
</a>
</dt>
<dd>
Jesus' message talks about love of God and love of neighbor, how to give selflessly to others, how to serve others as though they are Jesus, and how to serve God fully.
</dd>

<dt>
<a href="jesus-message-5-march-25-2011.html">
Jesus' Message #5: March 25, 2011
</a>
</dt>
<dd>
Jesus' message says that we must rely on His saving grace. It is like a lifeline that we must cling onto, in order to escape the darkness of the world.
</dd>

<dt>
<a href="jesus-message-6-march-26-2011.html">
Jesus' Message #6: March 26, 2011
</a>
</dt>
<dd>
Jesus' message discusses how people have twisted His messages into ones of fear instead of love, and how love heals all wounds.
</dd>

<dt>
<a href="jesus-message-7-march-27-2011.html">
Jesus' Message #7: March 27, 2011
</a>
</dt>
<dd>
Jesus' message discusses how the difference of religion do not matter, but only love matters.
</dd>

<dt>
<a href="jesus-message-8-march-28-2011.html">
Jesus' Message #8: March 28, 2011
</a>
</dt>
<dd>
Jesus' message talks about how suffering is not necessary, and is not Jesus' will for us.
</dd>

<dt>
<a href="jesus-message-9-march-29-2011.html">
Jesus' Message #9: March 29, 2011
</a>
</dt>
<dd>
Jesus' message discusses how sin and death are not real, but only Jesus is real and can lead you out of it.
</dd>

<dt>
<a href="jesus-message-10-march-30-2011.html">
Jesus' Message #10: March 30, 2011
</a>
</dt>
<dd>
Jesus' message talks about the great love that Jesus has for all mankind, and how without His love, they only exist in darkness.
</dd>

<dt>
<a href="jesus-message-11-march-31-2011.html">
Jesus' Message #11: March 31, 2011
</a>
</dt>
<dd>
Jesus' message discusses giving up all things for God, for we must take up Jesus' burden, but His burden is light.
</dd>

<dt>
<a href="jesus-message-17.html">
Jesus' Message #17: April 6, 2011
</a>
</dt>
<dd>
Jesus' message today talks about the powerful love of God, and how calling upon the Holy Spirit can transform you into a new creation filled with His love and power.
</dd>

<dt>
<a href="jesus-message-25.html">
Jesus' Message #25: April 14, 2011
</a>
</dt>
<dd>
Today, Jesus' message discusses the true power every person has within them, and how they can tap into that power.
</dd>

<dt>
<a href="jesus-message-36.html">
Jesus' Message #36: April 25, 2011
</a>
</dt>
<dd>
Jesus' messages discusses that partaking of the water of life is essential, but warns that it will relentlessly search out and remove all darkness that hinders its progress.
</dd>

<dt>
<a href="jesus-message-42.html">
Jesus' Message #42: May 1, 2011
</a>
</dt>
<dd>
Today, Jesus message discusses again how every person is ordained to be used by God to spread the light of Christ in any way possible.</p>
</dd>

<dt>
<a href="jesus-message-43.html">
Jesus' Message #43: May 2, 2011
</a>
</dt>
<dd>
Jesus' message discusses the importance of expressing the inner light today, because more people are ready to be spiritually awakened. He will guide you in this mission.
</dd>

<dt>
<a href="jesus-message-44.html">
Jesus' Message #44: May 3, 2011
</a>
</dt>
<dd>
Jesus' message today discusses how suffering is never the will of God. It is always God's will that we are successful, as long as it is in alignment with the principles of love.
</dd>

<dt>
<a href="jesus-message-45.html">
Jesus' Message #45: May 4, 2011
</a>
</dt>
<dd>
Jesus' message today discusses how to see the light of God in all things, and to allow that light to engulf our souls and transform our lives.
</dd>

<dt>
<a href="jesus-message-46.html">
Jesus' Message #46: May 5, 2011
</a>
</dt>
<dd>
Today, Jesus' message discusses the importance of examining our souls to determine where the light of God, the Holy Spirit, has not yet been allowed to enter.
</dd>

<dt>
<a href="jesus-message-47.html">
Jesus' Message #47: May 6, 2011
</a>
</dt>
<dd>
Today, Jesus' message discusses the importance of oneness and unity. He teaches how to see the light within, and to realize that it is within all things.
</dd>

<dt>
<a href="jesus-message-48.html">
Jesus' Message #48: May 7, 2011
</a>
</dt>
<dd>
Jesus' message says that we must integrate all of the experiences of our past lives, as well as to accept and love all those whom we hate in this life, in order to return to God.
</dd>

<dt>
<a href="jesus-message-49.html">
Jesus' Message #49: May 8, 2011
</a>
</dt>
<dd>
Jesus' message discusses how we must not be so worried about knowing all, but the only thing that matters is to love all, and the rest shall follow.
</dd>

<dt>
<a href="jesus-message-50.html">
Jesus' Message #50: May 9, 2011
</a>
</dt>
<dd>
Jesus' message discusses how each of us are dependent on the love of God, and that we must be light bearers to spread God's light to others.
</dd>

<dt>
<a href="jesus-message-51.html">
Jesus' Message #51: May 10, 2011
</a>
</dt>
<dd>
Jesus' message discusses how the creations of God are essentially interdependent, and that everything that you do affects everything else,. Therefore it is important to love.
</dd>

<dt>
<a href="jesus-message-52-may-11-2011.html">
Jesus' Message #52: May 11, 2011
</a>
</dt>
<dd>
Jesus' message discusses the importance of looking within and looking into the light. It will begin to transform the soul the more this is done.
</dd>

<dt>
<a href="jesus-message-53-may-12-2011.html">
Jesus' Message #53: May 12, 2011
</a>
</dt>
<dd>
Jesus' message says how God's love is always with us, whether or not we realize it. However, it requires that we have perfect love for all others.
</dd>

<dt>
<a href="jesus-message-54-may-13-2011.html">
Jesus' Message #54: May 13, 2011
</a>
</dt>
<dd>
Jesus' message discusses how to make the journey back to God, even if you can barely see the light. Jesus advises never to fall to spiritual pride.
</dd>

<dt>
<a href="jesus-message-55-may-14-2011.html">
Jesus' Message #55: May 14, 2011
</a>
</dt>
<dd>
Jesus' message discusses how we must have the Spirit of God, the Holy Spirit, enter into our lives and be aligned with God's purpose for us.
</dd>

<dt>
<a href="jesus-message-56-may-15-2011.html">
Jesus' Message #56: May 15, 2011
</a>
</dt>
<dd>
Jesus' message says that denying our own nature is the cause for all suffering. Love will help the many to become one again and to reunite with God.
</dd>

<dt>
<a href="jesus-message-57-may-16-2011.html">
Jesus' Message #57: May 16, 2011
</a>
</dt>
<dd>
Jesus' message says that we are given what we choose, and what results from what we choose. He says that the healing for all wounds is forgiveness.
</dd>

<dt>
<a href="jesus-message-58-may-17-2011.html">
Jesus' Message #58: May 17, 2011
</a>
</dt>
<dd>
Jesus' message encourages us to become the love that our nature consists in. Darkness is illusion, and so nothing good can come from it.
</dd>

<dt>
<a href="jesus-message-59-may-18-2011.html">
Jesus' Message #59: May 18, 2011
</a>
</dt>
<dd>
Jesus' message discusses how limited so many of us have made ourselves. Through our spiritual senses, we can witness the spiritual world just as strongly as the physical.
</dd>

<dt>
<a href="jesus-message-60-may-19-2011.html">
Jesus' Message #60: May 19, 2011
</a>
</dt>
<dd>
Jesus' message says that we are like waves upon the ocean of God's consciousness, filled with His Spirit. We must come to this realization to return to our true nature.
</dd>

<dt>
<a href="jesus-message-61-may-20-2011.html">
Jesus' Message #61: May 20, 2011
</a>
</dt>
<dd>
Jesus' message says that we are all called to be light bearers. Our individual calling was decided before this life, but will be clarified through the voice of God and our angels.
</dd>

<dt>
<a href="jesus-message-62-may-21-2011.html">
Jesus' Message #62: May 21, 2011
</a>
</dt>
<dd>
Jesus' message says that we must look within to behold the light and be filled with it, and not to judge others lest we fall off the path ourselves.
</dd>

<dt>
<a href="jesus-message-63-may-22-2011.html">
Jesus' Message #63: May 22, 2011
</a>
</dt>
<dd>
Jesus' message says that we must discern His message, for there are many who preach messages of fear and guilt. His message is of love, and He will lead us to the Light.
</dd>

<dt>
<a href="jesus-message-64-may-23-2011.html">
Jesus' Message #64: May 23, 2011
</a>
</dt>
<dd>
Jesus' message explains that every person is a light-bearer, and has a three-fold mission that will bring God's light to the world, and reunite them with God.
</dd>

<dt>
<a href="jesus-message-65-may-24-2011.html">
Jesus' Message #65: May 24, 2011
</a>
</dt>
<dd>
Jesus' message discusses the danger of believing you have full grasp of a simple concept, for they are often the most difficult to really understand.
</dd>

<dt>
<a href="jesus-message-66-may-25-2011.html">
<b>Jesus' Message #66: May 25, 2011</b>
</a>
</dt>
<dd>
Jesus' message emphasizes that spirituality is as important as even breathing, and that spiritual death is much worse than physical death.
</dd>

<dt>
<a href="jesus-message-67-may-26-2011.html">
Jesus' Message #67: May 26, 2011
</a>
</dt>
<dd>
Jesus' message outlines the path to salvation: it requires forgiveness, and realizing that one's guilt never existed.
</dd>

<dt>
<a href="jesus-message-68-may-27-2011.html">
Jesus' Message #68: May 27, 2011
</a>
</dt>
<dd>
Jesus' message teaches that if we want to be blessed ourselves, we must give to and serve others, for this balances the universal equation.
</dd>

<dt>
<a href="jesus-message-69-may-28-2011.html">
Jesus' Message #69: May 28, 2011
</a>
</dt>
<dd>
Jesus' message says that true power and authority come from surrendering our own power and authority, and attempts to control others and the world around us.
</dd>

<dt>
<a href="jesus-message-70-may-29-2011.html">
Jesus' Message #70: May 29, 2011
</a>
</dt>
<dd>
Jesus' message emphasizes the essential unity of all things, signifying that it requires forgiveness to escape the cycle of life and death.
</dd>

<dt>
<a href="jesus-message-71-may-30-2011.html">
Jesus' Message #71: May 30, 2011
</a>
</dt>
<dd>
Jesus' message says that many are satisfied with much less than is their full potential. It requires applying the universal laws of God to really reach your full potential in service to God.
</dd>

<dt>
<a href="jesus-message-72-may-31-2011.html">
Jesus' Message #72: May 31, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must be sure to live in the light, and be able to see the light of Christ in all things, realizing that all is one.
</dd>

<dt>
<a href="jesus-message-73-june-1-2011.html">
Jesus' Message #73: June 1, 2011
</a>
</dt>
<dd>
Jesus' message says that negative emotions are like weeds overtaking the garden of our soul, and that forgiveness must be used to pull them out and let our soul shine.
</dd>

<dt>
<a href="jesus-message-74-june-2-2011.html">
Jesus' Message #74: June 2, 2011
</a>
</dt>
<dd>
Jesus' message says that we must live from the perspective of the inner self, which is the direct connection back to God, and therefore is able to see the truth must clearer than our egoic self.
</dd>

<dt>
<a href="jesus-message-75-june-3-2011.html">
Jesus' Message #75: June 3, 2011
</a>
</dt>
<dd>
Jesus' message answers the question of how to return to God. Jesus says that we must call upon the Holy Spirit as the first step of the spiritual path, and Jesus will walk with us the rest of the way.
</dd>

<dt>
<a href="jesus-message-76-june-4-2011.html">
Jesus' Message #76: June 4, 2011
</a>
</dt>
<dd>
Jesus' message teaches that God is always there for us, no matter what we have done. We only have to make Him our refuge, and call on the Holy Spirit daily. God is with us forever.
</dd>

<dt>
<a href="jesus-message-77-june-5-2011.html">
Jesus' Message #77: June 5, 2011
</a>
</dt>
<dd>
Jesus' message says that God has called each one of us for a purpose, and every moment is the moment to respond to that calling, and to begin following Christ.
</dd>

<dt>
<a href="jesus-message-78-june-6-2011.html">
Jesus' Message #78: June 6, 2011
</a>
</dt>
<dd>
Jesus' message says that we must focus on what is truly important in life, being that which is eternal, not that which is temporal.
</dd>

<dt>
<a href="jesus-message-79-june-7-2011.html">
Jesus' Message #79: June 7, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we have resources that we have not even tapped into yet, that can only be accessed when we surrender ourselves to God and live in alignment with Him.
</dd>

<dt>
<a href="jesus-message-80-june-8-2011.html">
Jesus' Message #80: June 8, 2011
</a>
</dt>
<dd>
Jesus' message says that God wants to communicate with us, but we often just forget to listen. Jesus outlines the spiritual path and encourages us to be still, that we may know who we truly are and are destined to be.
</dd>

<dt>
<a href="jesus-message-81-june-9-2011.html">
Jesus' Message #81: June 9, 2011
</a>
</dt>
<dd>
Jesus' message says that forgiveness is the road to salvation, because everything that we hold against another is really just reflected within ourselves instead.
</dd>

<dt>
<a href="jesus-message-82-june-10-2011.html">
Jesus' Message #82: June 10, 2011
</a>
</dt>
<dd>
Jesus' message says that in this time, we must learn to discern what is right for us and what is wrong, for often they appear much the same.
</dd>

<dt>
<a href="jesus-message-83-june-11-2011.html">
Jesus' Message #83: June 11, 2011
</a>
</dt>
<dd>
Jesus' message says that many people have rejected their own power, and created much less than they can truly achieve, because they limit themselves.
</dd>

<dt>
<a href="jesus-message-84-june-12-2011.html">
Jesus' Message #84: June 12, 2011
</a>
</dt>
<dd>
Jesus' message says that in the process of the light being revealed within us, our outstanding spiritual issues will be agitated, and may even appear to be worse than ever. However, this is all a natural part of the path.
</dd>

<dt>
<a href="jesus-message-85-june-13-2011.html">
Jesus' Message #85: June 13, 2011
</a>
</dt>
<dd>
Jesus' message teaches that in order to progress on the spiritual path, we must live with an inward focus, for that is where the light of Christ is found and is the key to conscious living.
</dd>

<dt>
<a href="jesus-message-86-june-14-2011.html">
Jesus' Message #86: June 14, 2011
</a>
</dt>
<dd>
Jesus' message says that we must live in the light of Christ, and become intimately acquainted with it, if we should ever hope to share it with others and bring it to the world.
</dd>

<dt>
<a href="jesus-message-87-june-15-2011.html">
Jesus' Message #87: June 15, 2011
</a>
</dt>
<dd>
Jesus' message teaches about the true meaning of sin and the necessity of salvation, though these terms are very different from what is traditionally taught.
</dd>

<dt>
<a href="jesus-message-88-june-16-2011.html">
Jesus' Message #88: June 16, 2011
</a>
</dt>
<dd>
Jesus' message outlines the difference between short-term, fleeting peace and long-term, lasting peace, and says that sometimes the short-term must be sacrificed for sake of the long-term.
</dd>

<dt>
<a href="jesus-message-89-june-17-2011.html">
Jesus' Message #89: June 17, 2011
</a>
</dt>
<dd>
Jesus' message teaches that it is progressively becoming harder to continue on the path of ascension, as we grow closer and closer to the leap to the next level.
</dd>

<dt>
<a href="jesus-message-90-june-18-2011.html">
Jesus' Message #90: June 18, 2011
</a>
</dt>
<dd>
Jesus' message shows that we ourselves are responsible if we lack that which we desire, even happiness or peace itself.
</dd>

<dt>
<a href="jesus-message-91-june-19-2011.html">
Jesus' Message #91: June 19, 2011
</a>
</dt>
<dd>
Jesus' message says that forgiveness is the one way to God, and those who live in alignment with love are living in alignment with God's will.
</dd>

<dt>
<a href="jesus-message-92-june-20-2011.html">
Jesus' Message #92: June 20, 2011
</a>
</dt>
<dd>
Jesus' message outlines the true meaning of the Trinity, and the Trinity's purpose in your path back to God.
</dd>

<dt>
<a href="jesus-message-93-june-21-2011.html">
Jesus' Message #93: June 21, 2011
</a>
</dt>
<dd>
Jesus' message teaches more about the descent and individualization of Spirit into humanity, and the basic flaw of many ideologies in the world that seek truth over oneness.
</dd>

<dt>
<a href="jesus-message-94-june-22-2011.html">
Jesus' Message #94: June 22, 2011
</a>
</dt>
<dd>
Jesus' message compares the spiritual path to a ladder that must be climbed over a period of lifetimes. At every step, old, incorrect concepts must be dropped, and a greater insight into the truth will be seen. However, it is a journey that never ends.
</dd>

<dt>
<a href="jesus-message-95-june-23-2011.html">
Jesus' Message #95: June 23, 2011
</a>
</dt>
<dd>
Jesus' message teaches that when we pursue success, it must be for the highest good of all, and that good will be returned to us many times over.
</dd>

<dt>
<a href="jesus-message-96-june-24-2011.html">
Jesus' Message #96: June 24, 2011
</a>
</dt>
<dd>
Jesus' message says that we must not hesitate in following the purpose we know we must follow, for God will help us to accomplish it.
</dd>

<dt>
<a href="jesus-message-97-june-25-2011.html">
Jesus' Message #97: June 25, 2011
</a>
</dt>
<dd>
Jesus' message says that we cannot progress in our spiritual growth without the help of God, and without being infused by the Holy Spirit.
</dd>

<dt>
<a href="jesus-message-98-june-26-2011.html">
Jesus' Message #98: June 26, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we have come to keep sacred the God Consciousness, one day to reunite with the fullness of God, removing all impediments along the way.
</dd>

<dt>
<a href="jesus-message-99-june-27-2011.html">
Jesus' Message #99: June 27, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must trust in God for all things, for He will be our protector. He knows all even when we do not, so there is no reason that we should fear for anything.
</dd>

<dt>
<a href="jesus-message-100-june-28-2011.html">
Jesus' Message #100: June 28, 2011
</a>
</dt>
<dd>
Jesus' Message teaches that we are called to be perfect, and all will become perfect in the end, when we realie our true nature. Jesus explains the metaphysics of ascension.
</dd>

<dt>
<a href="jesus-message-101-june-29-2011.html">
Jesus' Message #101: June 29, 2011
</a>
</dt>
<dd>
Jesus' message teaches that every thought, word, and action must be a direct manifestation of the Trinity, and that nothing that we may accomplish is really ours.
</dd>

<dt>
<a href="jesus-message-102-june-30-2011.html">
Jesus' Message #102: June 30, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must trust in God to provide what we need and desire in life, and teaches how not to chase away what we want, but to attract what we really desire.
</dd>

<dt>
<a href="jesus-message-103-july-1-2011.html">
Jesus' Message #103: July 1, 2011
</a>
</dt>
<dd>
Jesus' message teaches what we can pray for, and shows that if we want to be blessed, we must live with integrity.
</dd>

<dt>
<a href="jesus-message-104-july-2-2011.html">
Jesus' Message #104: July 2, 2011
</a>
</dt>
<dd>
Jesus' message says that each one of us is on the spiritual path. We may not know where we are, but God always does.
</dd>

<dt>
<a href="jesus-message-105-july-3-2011.html">
Jesus' Message #105: July 3, 2011
</a>
</dt>
<dd>
Jesus' message teaches that it is important to let go of your sins and your darkness, because this is the only way to purify your soul and begin to ascend along the spiritual path.
</dd>

<dt>
<a href="jesus-message-106-july-4-2011.html">
Jesus' Message #106: July 4, 2011
</a>
</dt>
<dd>
Jesus' message teaches that as we send out strands of light in our daily interactions, it is building a larger net of light that pulls many souls out of darkness.
</dd>

<dt>
<a href="jesus-message-107-july-5-2011.html">
Jesus' Message #107: July 5, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must take on the sight of God, seeing all as one, and accept that way of thinking to reverse the process that put us into this dualistic world.
</dd>

<dt>
<a href="jesus-message-108-july-6-2011.html">
Jesus' Message #108: July 6, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we are called to possess everlasting joy. This joy comes from the fulfilling of our true purpose.
</dd>

<dt>
<a href="jesus-message-109-july-7-2011.html">
Jesus' Message #109: July 7, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must give to others what we wish to receive ourselves, or to recognize those gifts that we have already been given by God.
</dd>

<dt>
<a href="jesus-message-110-july-8-2011.html">
Jesus' Message #110: July 8, 2011
</a>
</dt>
<dd>
Jesus' message shows that we must dispense with all fear or the desire to cause division if we desire to realize our union with God.
</dd>

<dt>
<a href="jesus-message-111-july-9-2011.html">
Jesus' Message #111: July 9, 2011
</a>
</dt>
<dd>
Jesus' message says that the spiritual path must be a personal endeavor, not able to be shared with any other soul, for every soul has its own path. However, God will support us once we have begun the journey.
</dd>

<dt>
<a href="jesus-message-112-july-10-2011.html">
Jesus' Message #112: July 10, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we must perfect wisdom, power, and love if we would hope to reach the attainment of realization of the oneness of God.
</dd>

<dt>
<a href="jesus-message-113-july-11-2011.html">
Jesus' Message #113: July 11, 2011
</a>
</dt>
<dd>
Jesus' message teaches that we need God in order to reach our destination. We need God to lead us from day-to-day so that we may not become lost.
</dd>

<dt>
<a href="jesus-message-114-july-12-2011.html">
Jesus' Message #114: July 12, 2011
</a>
</dt>
<dd>
Jesus' message says that there is no reason to despair or to mourn, even if the light may not yet be apparent. If we surrender to God, the light will come, and the darkness will flee.
</dd>

<dt>
<a href="jesus-message-115-july-13-2011.html">
Jesus' Message #115: July 13, 2011
</a>
</dt>
<dd>
Jesus' message shows that spirituality makes us more truly who we really are. We must only realize and recognize our true nature.
</dd>

<dt>
<a href="jesus-message-116-july-14-2011.html">
Jesus' Message #116: July 14, 2011
</a>
</dt>
<dd>
Jesus' message teaches that God's Word is like a sift that purifies us, rooting out our guilt.
</dd>

<dt>
<a href="jesus-message-117-july-15-2011.html">
Jesus' Message #117: July 15, 2011
</a>
</dt>
<dd>
Jesus' message teaches that God loves every one of us. We must rebuke any thought that we are not worthy, for this deceptive thought keeps us from our true purpose.
</dd>

<dt>
<a href="jesus-message-118-july-16-2011.html">
Jesus' Message #118: July 16, 2011
</a>
</dt>
<dd>
Jesus' message says that we should not fear anything, because God is always with us. Jesus discusses the many gifts that God gives us, and the proper way in which to use them.
</dd>

<dt>
<a href="jesus-message-119-july-17-2011.html">
Jesus' Message #119: July 17, 2011
</a>
</dt>
<dd>
Jesus' message says that we must offer all things in service to God, and that every gift that we have been given must be used for the purposes that God has destined for them.
</dd>

<dt>
<a href="jesus-message-120-july-18-2011.html">
Jesus' Message #120: July 18, 2011
</a>
</dt>
<dd>
Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path.
</dd>

<dt>
<a href="jesus-message-121-july-19-2011.html">
Jesus' Message #121: July 19, 2011
</a>
</dt>
<dd>
Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which is deeply rooted in the promises of God.
</dd>

<dt>
<a href="jesus-message-122-july-20-2011.html">
Jesus' Message #122: July 20, 2011
</a>
</dt>
<dd>
Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven for the glory of God.
</dd>

<dt>
<a href="jesus-messages.html">
Jesus' Messages
</a>
</dt>
<dd>
Jesus' messages are posted every day, channeled from Jesus Himself for the benefit of those who will listen and apply His teachings to their lives.
</dd>

<dt>
<a href="justice-at-last.html">
Justice at last
</a>
</dt>
<dd>
July 2, 2009<br><br>
Three volunteers expelled from CURA after raising concerns over a controversial pamphlet that referred women to overseas abortion clinics have received an unreserved apology over their treatment after a four-year wait for justice.
</dd>

<dt>
<a href="learning-to-heal-even-better.html">
Learning to Heal Even Better
</a>
</dt>
<dd>
May 24, 2011<br>
I've been noticing a lot lately that my healing gift has been drastically improving. I didn't really notice this until Christine pointed ...
(<a   href="learning-to-heal-even-better.html">
<small>Read More</small>
</a>)
</dd>

<dt>
<a href="matrix-energetics.html">
Matrix Energetics
</a>
</dt>
<dd>
I was recently introduced to Dr. Richard Bartlett's Matrix Energetics. He regularly does seminars around the country, and has two books on the subject: (<a   href="matrix-energetics.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="melrose-priests-terminal-cancer-brings-new-life-to-his-calling.html">
Melrose priest's terminal cancer brings new life to his calling
</a>
</dt>
<dd>
June 7, 2009<br>
This is an amazing story; I just had to post it. Melrose priest's terminal cancer brings new life to his calling I have a lot of respect ...
(<a  href="melrose-priests-terminal-cancer-brings-new-life-to-his-calling.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="pastors-question-irs-over-preaching-politics.html">
Pastors Question IRS over Preaching Politics
</a>
</dt>
<dd>
Financial advisor Dan Busby often hears from church leaders who worry if they speak out on a political issue or candidate, the IRS will yank their tax exempt status.
</dd>

<dt>
<a href="politics-in-science.html">
Politics in Science
</a>
</dt>
<dd>
June 7, 2009<br>
I just found this article about how research in science is often fueled by what is most likely to get funding, which is based on what is ...
(<a  href="politics-in-science.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="pope-asks-space-explorers-about-science-peace-state-of-the-earth.html">
Pope asks space explorers about science, peace, state of the earth
</a>
</dt>
<dd>
In a video hookup May 21 between the Vatican and the International Space Station (ISS) in orbit around the earth, Pope Benedict asked the astronauts how science can help in the pursuit of peace and the need to protect a fragile planet.
</dd>

<dt>
<a href="pope-explains-biblical-story-of-jacob-to-stress-importance-of-prayer.html">
Pope explains biblical story of Jacob to stress importance of prayer
</a>
</dt>
<dd>
At his weekly general audience May 25 in St. Peter's Square, Pope Benedict said God's blessing cannot be won by force but rather "must be received with humility from him."
</dd>

<dt>
<a href="prayer-request.html">
Prayer Request
</a>
</dt>
<dd>
If there is something you need prayer for, please post a prayer request and we will pray for you.
</dd>

<dt>
<a href="prayers.html">
Prayers
</a>
</dt>
<dd>
Prayers are some of the most important spiritual tools at the disposal of the spiritual aspirant. Here are some of the best prayers from the world's religions.
</dd>

<dt>
<a href="religious-beliefs.html">
Religious Beliefs
</a>
</dt>
<dd>
Discusses the religious beliefs of many and varied religious traditions and spiritual paths from someone who's explored many of them personally.
</dd>

<dt>
<a href="school-of-psychic-and-spiritual-development.html">
School of Psychic and Spiritual Development
</a>
</dt>
<dd>
The School of Psychic and Spiritual Development is an all-inclusive course of psychic development that can bring you from an absolute beginner to a professional psychic in only fifteen lessons.
</dd>

<dt>
<a href="school-of-the-healing-light-of-christ.html">
School of the Healing Light of Christ
</a>
</dt>
<dd>
The School of the Healing Light of Christ is an all-inclusive course of holistic healing that can bring you from an absolute beginner to a professional healer using the healing light of Christ in only fifteen lessons.
</dd>

<dt>
<a href="seniors-hold-prayer-despite-atheists-threats.html">
Seniors Hold Prayer Despite Atheist's Threats
</a>
</dt>
<dd>
May 25, 2011<br>
Openly atheist graduate Damon Fowler complained to the superintendent about the traditional prayer and threatened to contact the American Civil Liberties Union.
</dd>

<dt>
<a href="so-were-you-raptured.html">
So, Were You Raptured?
</a>
</dt>
<dd>
May 21, 2011<br>So today is the purported end of the world, but I think most of us are still here. Not that I was really expecting anything to happen. I don't remember (<a   href="so-were-you-raptured.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="spiritual-counseling.html">
Spiritual Counseling with Christ's Light Ministries
</a>
</dt>
<dd>
Christ's Light Ministries offers spiritual counseling for those who desire to improve some part of their lives, or to lead a more fulfilling life overall.
</dd>

<dt>
<a href="spiritual-forums.html">
Spiritual Forums</a> (though all of our great visitors provide the content)</dt>
<dd>Our spiritual forums are just the place to have your voice heard. Discuss your experiences on your own spiritual journey, and help other's with theirs. This is a virtual spiritual community!</dd>

<dt><a   href="spiritual-growth-e-zine.html">Spiritual Growth E-Zine
</a>
</dt>
<dd>
Subscribe to the Spiritual Growth E-Zine today for practical articles, tips, and practices sent to your inbox every week!
</dd>

<dt>
<a href="donate.html">
Support Our Cause
</a>
</dt>
<dd>
Support Christ's Light Ministries by donating. We appreciate any contributions that you are able to give.
</dd>

<dt>
<a href="the-da-vinci-code-and-others.html">
The Da Vinci Code, and others
</a>
</dt>
<dd>
July 2, 2009<br><br>
I read Angels & Demons last year, but just read The Da Vinci Code last weekend. I know there's been a lot of controversy over it, though ...
(<a href="the-da-vinci-code-and-others.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="higher-self.html">
The Higher Self
</a>
</dt>
<dd>
The higher self is the part of your soul that actually knows why you are here. Learn to connect with it to gain more insight into your life purpose and path.
</dd>

<dt>
<a href="the-last-hour.html">
The Last Hour?
</a>
</dt>
<dd>
June 16, 2009<br>I came across 1 John 2:18 today:  1 John 2:18 (NAB)  18*Children, it is the last hour; and just as you heard that the antichrist was coming, ...
(<a  href="the-last-hour.html">
<small>Read More</small>
</a>)
</dd>

<dt>
<a href="spiritual-journey.html">
The Spiritual Journey
</a>
</dt>
<dd>
The spiritual journey is something that is personal and individual to each person, but it doesn't mean that we can't share our successes, frustrations, and encouragement with one another.
</dd>

<dt>
<a href="universal-salvation.html">
Universal Salvation?
</a>
</dt>
<dd>
I found an interesting article. The author has studied many accounts of near death experiences (NDEs), and tied them to the doctrine of universal salvation... (<a   href="universal-salvation.html"><small>Read More</small></a>)
</dd>

<dt>
<a href="who-is-god.html">
Who is God?
</a>
</dt>
<dd>
The question "who is God" is forefront in the minds of many spiritual seekers. We must have a basic understanding of this answer before we can meaningfully progress on the spiritual path.
</dd>

<dt>
<a href="why-change-your-beliefs.html">
Why Change Your Beliefs
</a>
</dt>
<dd>
Unhappy with your religion? Is your life not fulfilling you? You may want to change your beliefs. See why on this page.
</dd>

<dt>
<a href="god-loves-us.html">
Why God Loves Us
</a>
</dt>
<dd>
Why God loves us, not for anything we have done, but for who we are. I discuss how others can apply this to their lives.
</dd>

<dt>
<a href="why-the-world-might-end-next-saturday.html">
Why the world might end next Saturday
</a>
</dt>
<dd>
Why the world might end next Saturday  Wow, this is ridiculous. Apparently there is a group of people that believe that the world is going to end next (<a   href="why-the-world-might-end-next-saturday.html"><small>Read More</small></a>)
</dd>

</dl>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

<form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>


<hr size="1" width="100%" align="Left" >
<p><a  href="http://www.christs-light-ministries.org/contributors.html" title="Contributors">Return from <strong>Rev. Brandon A. Olivares</strong> to <strong>Contributors</strong>.</a><br>
<a href="http://www.christs-light-ministries.org" title="Christ's Light Ministries">Return from <strong>Rev. Brandon A. Olivares</strong> to <strong>Christ's Light Ministries</strong></a></p>

<script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script>

						<br>
                        <!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright  2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
<h3>Search Christ's Light Ministries</h3>
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

        <hr width="100%" size="1" align="left">
      
			<h3><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>
            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p>

        <hr width="100%" size="1" align="left">
<h3>Latest Forum Discussions</h3>
<script type="text/javascript" src="http://forums.christs-light-ministries.org/external.php?type=js"></script>
<script type="text/javascript">
document.write("<p>Showing " + threads.length + " recent threads.</p>\n");
document.write("<ol>\n");
for (var i = 0; i < threads.length; i++)
{
document.write("<li><a href=\"http://forums.christs-light-ministries.org/threads/" +
threads[i].threadid + "\">" +
threads[i].title + "</a><br>\n" +
"Started by " +
threads[i].poster + "<br>\n" +
"Posted on " +
threads[i].threaddate + " at " +
threads[i].threadtime + ".</li>\n");
}
document.write("</ol>\n\n");
</script>

        <hr width="100%" size="1" align="left">
        <h3>Featured Testimonial</h3>
        <p>I had a holistic healing session with <a  href="http://www.christs-light-ministries.org/brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fholistic-healing%2Echrists-light-ministries%2Eorg%2Fintake-form%2Ephp&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fbrandon%2Ehtml'; return false;">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p>
<p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hooponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift. (<a  href="http://www.christs-light-ministries.org/the-healing-continues.html"><small>Read More</small></a>)</p>
        <hr width="100%" size="1" align="left">
<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

        <form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

        <hr width="100%" size="1" align="left">
        <h3><a  href="http://www.christs-light-ministries.org/jesus-messages.html">Jesus' Messages</a></h3>
<dl id="recent-jesus-messages">
<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-147-august-14-2011.html">
<b>Jesus' Message #147: August 14, 2011</b>
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-146-august-13-2011.html">
<b>Jesus' Message #146: August 13, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-145-august-12-2011.html">
<b>Jesus' Message #145: August 12, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

</dl>

		</td>
	</tr>
</table>
</body>
</html>
