<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/daily-inspiration.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>Daily Inspiration</title>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


<META Name="Description" Content="Daily inspiration for each day of your spiritual journey, to give you encouragement and hope.">
<META Name="Keywords" Content="daily inspiration, inspirational thoughts, spiritual inspiration, spirituality">

<link href="http://www.christs-light-ministries.org/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<link href="http://www.christs-light-ministries.org/support-files/style.css" type="text/css" rel="stylesheet">



<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>


<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
</head>

<body onLoad="MM_preloadImages('http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'); ">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="imgs/logo.jpg" width="725" height="140" alt="logo for christs-light-ministries.org"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
            
            <div>
            Need prayer? Call our prayer line<br>
            <strong>(888) 989-3544</strong>
            </div>
				
				
				<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center><br>


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fforums%2Echrists-light-ministries%2Eorg%2F&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fdaily-inspiration%2Ehtml'; return false;"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<img border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration-ON.gif" alt="Daily Inspiration"><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				
			</div>
			<img src="imgs/LEFT.gif" width="130" height="10" alt="LEFT for christs-light-ministries.org">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>

<h1 style="text-align:center; color:#000066">Daily Inspiration<br>
for your Daily Walk with God</h1>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Top */
google_ad_slot = "3553303200";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<p>It is important to stay inspired, especially on our spiritual journey. This is why we post daily inspiration and inspirational thoughts here to give you encouragement and hope. The spiritual path can be difficult, but if you have inspiration to hold onto, then it is just that much easier.</p>

<dl>
<dt>
<a href="daily-inspiration-31-opening-your-heart-to-the-love-of-god.html">
Daily Inspiration #31
</a>
</dt>
<dd>
Opening Your Heart to the Love of God
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-30-success-despite-weakness.html">
Daily Inspiration #30
</a>
</dt>
<dd>
Success Despite Weakness
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-29-openness-to-blessing.html">
Daily Inspiration #29
</a>
</dt>
<dd>
Openness to Blessing
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-28-blinding-yourself-to-the-truth.html">
Daily Inspiration #28
</a>
</dt>
<dd>
Blinding Yourself to the Truth
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-27-finding-peace.html">
Daily Inspiration #27
</a>
</dt>
<dd>
Finding Peace
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-26-gods-eternal-purpose-for-you.html">
Daily Inspiration #26
</a>
</dt>
<dd>
God's Eternal Purpose for You
</dd>

<dt>
<a href="http://www.christs-light-ministries.org/daily-inspiration-25-finding-love-within.html">
Daily Inspiration #25
</a>
</dt>
<dd>
Finding Love Within
</dd>

</dl>

<h2>Archives</h2>
<ul>
<li><a href="daily-inspiration-june-2011.html">June, 2011</a></li>
<li><a href="daily-inspiration-may-2011.html">May, 2011</a></li>
</ul>

<h2 id="subscribe">Subscribe to Receive the Daily Inspiration in Your Inbox Every Day</h2>

<style type="text/css">
.link,
.link a,
#SignUp .signupframe {
	color: #226699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	#SignUp .signupframe {
		border: 1px solid #000000;
		background: #ffffff;
		}
#SignUp .signupframe .required {
	font-size: 10px;
	}
</style>
<script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=953583&l=26026&f=4541"></script>
<span class="link"><a href="http://www.icontact.com/?cobrand=953583" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fwww%2Eicontact%2Ecom%2F%3Fcobrand%3D953583&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fdaily-inspiration%2Ehtml'; return false;">Email Marketing</a> You Can Trust</span>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>


<script type="text/javascript">

  function openAddPictureBox() {
      document.getElementById('clickForMoreImagesRow').style.display = 'none';
      document.getElementById('uploadMoreImagesSection').style.display = '';
  }

  
  function show_show_hide(){
	var sh = document.getElementById('show_hide_box');
	var shl = document.getElementById('show_hide_link');

	if (sh.style.display = '' && shl.style.display == 'none') {
		return;
	}
	
	sh.style.display = '';
	shl.style.display = 'none';
  }

  function expand_by_url() {
	var url = location.href;

    if (url.match(/#INV$/) ||
        url.match(/#captchaError$/) || 
        document.getElementsByName('submission_title')[0].value != '') 
    {
        show_show_hide();
    }
  }
  

  function click_here_links() {
	var block = document.getElementById('submission_block');
	var children = block.getElementsByTagName('p');

	var click_html = '<a href="#INV" ' +
					 'onClick="show_show_hide();"' +
					'><span style="font-weight:bold;font-style:italic;">Click here to write your own.</span></a>'; 
	
	var p = document.createElement('p');
	p.innerHTML = click_html;
	children[(children.length -1)].parentNode.insertBefore(p, children[(children.length -1)].nextSibling);
	
	var count = 0;
	for (var i=children.length;i>0;i--) {
		if (count == 26) {
			count = 0;
			
			var p = document.createElement('p');
			p.innerHTML = click_html;
			children[i].parentNode.insertBefore(p, children[i]);

			}
		count++;
	} 
  }

  function save() {
    

    var errors = [];
    var regexp = /<(script|form)/;
    var imgregex = /(jpg|jpeg|JPEG|JPG|gif|GIF)/;

    var field = document.htmlForm2.submission_title.value;
    if (field.length>200) {
      errors.push('Your submission title must be a maximum of 200 characters.');
    }
    if (field.match(/^\s*$/)) {
      errors.push('Your submission must have a title.');
    }
    if (field.match(regexp)) {
      errors.push('Your submission title may not contain html.');
    }

    field = document.htmlForm2.submission_text.value;
    if (field.length>10000) {
      errors.push('Your submission body must be a maximum of 10000 characters.');
    }
    if (field.match(/^\s*$/)) {
      errors.push('Your submission body is empty.');
    }
    if (field.match(regexp)) {
      errors.push('Your submission body may not contain html.');
    }

    

    field = document.htmlForm2.submission_image_1.value;
    if (field && !field.match(imgregex)) {
      errors.push('Your image must be a jpg or gif.');
    }

    field = document.htmlForm2.submission_image_1_text.value;
    if (field && field.length>200) {
      errors.push('Your image caption must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your image caption may not contain html.');
    }
    
    

    field = document.htmlForm2.submission_author.value;
    if (field && field.length>200) {
      errors.push('Your name must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your name may not contain html.');
    }

    field = document.htmlForm2.submission_author_location.value;
    if (field && field.length>200) {
      errors.push('Your location must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your location may not contain html.');
    }

    if (document.htmlForm2.submission_guidelines.checked) {
      
    } else {
      errors.push('Please check Submission Guidelines checkbox.');
    }

    if (document.htmlForm2.submission_challenge) {
      field = document.htmlForm2.submission_challenge.value;
      if (!field) {
        errors.push('You must enter a word for the submission challenge graphic.');
      }
    }
        
    if (errors.length > 0) {
      alert(errors.join('\n'));
    }

    return (errors.length == 0);
  }

  function InactiveInvitationAlert(obj) {
    if (obj) {obj.blur();}
    alert('Sorry, we are not accepting any new submissions at this time for this page. Please return in a few days to add your submission.');
  }
</script>

<style type="text/css">

  .c2Form {
  	padding:8px;
  	border:1px solid #ddd;
  	}
  
  .InvShelp {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	background-color: #ffc;
  }

  .InvShelpT {
  	background:#ddd; 
  	padding:0px;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	margin:0px;
  	padding:0px;
  	text-align:left;
  }

  a:link.InvShelp {text-decoration:none; color:#000;}

  .InvShelpbox {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	background-color: #ffc;
  	padding: 2px;
  	border: 1px solid #666;
  }

  .InvSquestions {
  	font-weight:bold;
  	font-size:14px;
  	margin:0;
  }
  
  .titleInput {
  	width:80%; 	
  	padding-top:4px;
  	margin:0;
  	}
  
  .storyInput {
  	width:98%;
  	padding-top:4px;
  	margin:0;
  	}
  
  .otherText {
  }
  
  .dividerRule {
  border-top:1px solid #ddd;
  }
  
</style>
<!-- Headline -->

<h2 id="INV" align="Left">Post Your Inspirational Thoughts</h2>

<!-- Intro Text -->
<p>
  Do you have your own inspirational thoughts? Please share them with us so that our visitors may be inspired.
</p>

<form accept-charset="utf-8" method="post" action="/dyn/C2/SubmitInvitation" name="htmlForm2" enctype="multipart/form-data" class="c2Form">
  <input type="hidden" name="domain" value="christs-light-ministries.org">
  <input type="hidden" name="invitation_id" value="25605852">
  <input type="hidden" name="sbi_pagecode" value="6316023610018164">
 
  <p class="InvSquestions">
    Enter Your Title
  </p>
 
  <p style="text-align:center">
    <input class="titleInput" name="submission_title" value="" size="55" type="text" 
    
    
    onFocus="show_show_hide()";
    
    >
  </p>

	<p class="dividerRule">
	</p>
	
<!--  Show/Hide HTML  -->
<div id="show_hide_box" style="display:none">

  <div class="InvSquestions" style="position:relative;z-index:10;">
    Tell Us Your Inspiration!
    <span style="font-weight:normal;">[ <a href="#Help" onclick="document.getElementById('TextHelp').style.display='block';return false;">?</a> ]</span>
    <div id="TextHelp" style="position: absolute; z-index: 10; left:200px; display:none; width: 275px; background-color: rgb(255, 255, 204);font-weight:normal;" class="InvShelpbox">
      <table border="0" cellpadding="2">
        <tr>
          <td>
            <p class="InvShelpT"><a href="#closehelp" class="help" onclick="document.getElementById('TextHelp').style.display='none';return false;">Close Help</a></p>
            <p><span class="InvShelp">Entering your story is easy to do. Just type!...<br><br>Your story will appear on a Web page exactly the way you enter it here. You can wrap a word in square brackets to make it appear bold. For example &#91;my story&#93; would show as <strong>my story</strong> on the Web page containing your story.<br><br>TIP: Since most people scan Web pages, include your best thoughts in your first paragraph.<br></span></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <p style="text-align:center;">
    <textarea name="submission_text" class="storyInput" cols="55" rows="30" wrap="VIRTUAL" id="submission_text" ></textarea>
  </p>


  
  
  <p class="dividerRule">
  </p>

  <div class="InvSquestions"  style="position:relative;z-index:9;">
    Upload 1-4 Pictures or Graphics (optional)
    <span style="font-weight:normal;">[ <a href="#Help" onclick="document.getElementById('PicHelp').style.display='block';return false;">?</a> ]</span>
    <div id="PicHelp" style="position: absolute;left:200px; z-index: 9; display:none; width: 200px; background-color: rgb(255, 255, 204);font-weight:normal;" class="InvShelpbox">
      <table border="0" cellpadding="2">
        <tr>
          <td>
            <p class="InvShelpT"><a href="#closehelp" class="help" onclick="document.getElementById('PicHelp').style.display='none';return false;">Close Help</a></p>
            <p><span class="InvShelp">Do you have some pictures or graphics to add? Great! Click the button and find the first one on your computer. Select it and click on the button to choose it.<br><br>Then click on the link if you want to upload up to 3 more images.<br></span></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  

  <p style="text-align:center;">
    <input name="submission_image_1" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_1_text" type="text" value="" size="30" >
  </p>

  <p id="clickForMoreImagesRow" style="text-align:center;">
  <a href="#clickForMoreImagesRow" onClick="openAddPictureBox()">Click here to upload more images</a> <span style="font-size:85%;">(optional)</span>
  </p>

  <div id="uploadMoreImagesSection" style="display:none">

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_2" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_2_text" type="text" value="" size="30" >
  </p>

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_3" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_3_text" type="text" value="" size="30" >
  </p>

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_4" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_4_text" type="text" value="" size="30" >
  </p>

  </div>

  

  <p class="dividerRule">
  </p>

  <p class="InvSquestions">
    Author Information (optional)
  </p>
  
  <p class="otherText">
  	To receive credit as the author, enter your information below.
  </p>
  
  <table style="margin-right:auto; margin-left:auto;">
    <tbody>
      <tr>
        <td><p style="text-align:right; margin:0; padding:0;" class="otherText">Your Name</p></td>
        <td>
          <p style="margin:0; padding:0;" class="otherText">
          <input name="submission_author" type="text" value="" >
          <span class="otherText" style="font-size:85%;">
            (first or full name)
          </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
        	<p style="text-align:right; margin:0; padding:0;" class="otherText">
        		Your Location
        	</p>
        </td>
        <td>
          <p style="margin:0; padding:0;" class="otherText">
          <input name="submission_author_location" type="text" value="" >
        <span class="otherText" style="font-size:85%;">
            (ex. City, State, Country)
        </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <p class="dividerRule">
  </p>
    
  <p class="InvSquestions">
    Submit Your Contribution
  </p>
  <p class="otherText" style="text-align:center;">
    <input name="submission_guidelines" value="checkbox" type="checkbox" >Check box to agree to these <a href="/dyn/C2/SubmissionAgreement?domain=christs-light-ministries.org" target="new">submission guidelines</a>.
  </p>
  <!-- The following script uses document.write() to add the captcha to the page. -->



<script src="/ssjs/fork/foundation_DEVELOPMENT.js" type="text/javascript"></script>
<script src="/ssjs/common/captcha_delay.js" type="text/javascript"></script>

  <p style="text-align:center;">
    <input type="submit" onclick="return save();" value="Share Your Inspirational Thought!">
    <br>
    <span class="otherText" style="font-size:85%;">(You can preview and edit on the next page)</span>
  </p>
  
</div><!-- End show/hide div -->
<div id="show_hide_link"><a href='#INV' onclick="show_show_hide();">Click here to see the rest of the form and complete your submission.</a></div>

</form>



  
    <h2 id="VisitorPages" align="Left">What Other Visitors Have Said</h2>
    <p>Click below to see the inspirational thoughts that others have posted.</p>
    <div id="submission_block">
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-21-true-happiness-is-in-god.html"><b>Daily Inspiration #21: True Happiness is in God</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        You look for the ultimate happiness in the world,<br>But the only true source of happiness is in God,<br>For He is the one who created all things good,<br>And ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html"><b>Daily Inspiration #50: You are an Effect, not a Cause</b></a>&nbsp;
        
        Not rated yet<br>
        
         Is it you who puts things into motion, or are you merely the effect of something already in motion? <br><br>In the dual world, it seems evident that we have ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-49-the-world-teacher-or-temptress.html"><b>Daily Inspiration #49: The World: Teacher or Temptress</b></a>&nbsp;
        
        Not rated yet<br>
        
         Your world can either be the greatest teacher or the greatest temptress into deeper illusion. The choice is yours. It will show you exactly what you need ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-48-nothing-can-harm-those-who-love.html"><b>Daily Inspiration #48: Nothing Can Harm Those who Love</b></a>&nbsp;
        
        Not rated yet<br>
        
        If you love,<br>Nothing can ever hurt you.<br>If you do not love,<br>Calamity shall surely find you.<br>Those who love are given all things,<br>But to those who ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-47-the-source-of-all-good-things.html"><b>Daily Inspiration #47: The Source of All Good Things</b></a>&nbsp;
        
        Not rated yet<br>
        
        God has said, "follow me and you shall be saved."<br>What can the world offer you?<br>God is the source of all good things.<br>Your happiness lies only in Him....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-46-the-source-of-suffering.html"><b>Daily Inspiration #46: The Source of Suffering</b></a>&nbsp;
        
        Not rated yet<br>
        
        Your suffering arises<br>Because you have seen the unreal as real.<br>The unreal is transitory and passes away quickly;<br>It is not good to become attached ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-45-becoming-all-by-becoming-nothing.html"><b>Daily Inspiration #45: Becoming All by Becoming Nothing</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you have realized that you are nothing<br>And God is everything,<br>Then you have become God,<br>For you have united yourself with Him and you are as one....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-44-focus-on-the-goal.html"><b>Daily Inspiration #44: Focus on the Goal</b></a>&nbsp;
        
        Not rated yet<br>
        
        Take your eye off the destination for just a moment,<br>And you shall go astray into the outer darkness.<br>Keep always your full attention on the guiding ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-43-a-flame-in-the-wind.html"><b>Daily Inspiration #43: A Flame in the Wind</b></a>&nbsp;
        
        Not rated yet<br>
        
        As a flame in the wind,<br>You move where the wind of the Holy Spirit directs.<br>He fans your flames, helping you to burn with ever more vigor,<br>Preparing ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-42-victory-for-the-followers-of-god.html"><b>Daily Inspiration #42: Victory for the Followers of God</b></a>&nbsp;
        
        Not rated yet<br>
        
        With God, your victory is certain.<br>Without God, your victory is impossible.<br><br>    &laquo;  Previous Daily Inspiration       
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-41-seeing-the-truth.html"><b>Daily Inspiration #41: Seeing the Truth</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you have experienced the love of God,<br>You have seen the Truth.<br>Until this day,<br>You have seen naught but illusion.<br><br>    &laquo;  Previous Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-40-god-knows-your-destiny.html"><b>Daily Inspiration #40: God Knows Your Destiny</b></a>&nbsp;
        
        Not rated yet<br>
        
        If you are lost in life<br>It is only because you have not yet heard the voice of God.<br>Once you have heard it,<br>You will know exactly where you are,<br>And ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-39-living-for-peace.html"><b>Daily Inspiration #39: Living for Peace</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you decide to live for peace,<br>You have decided to live for God.<br>If you decide to live for division,<br>You have decided to live against God.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-38-overcoming-the-sinful-nature.html"><b>Daily Inspiration #38: Overcoming the Sinful Nature</b></a>&nbsp;
        
        Not rated yet<br>
        
        Even when you believe that you can never overcome your sins,<br>The Holy Spirit will come and create you anew.<br>Your nature shall be reformed to be more ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-37-rescue-from-the-pit-of-despair.html"><b>Daily Inspiration #37: Rescue from the Pit of Despair</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you are in the pit of despair,<br>Look up, and see the Light of Christ.<br>The Holy Spirit shall come upon you,<br>And lift you up to new heights.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-36-choose-peace.html"><b>Daily Inspiration #36: Choose Peace</b></a>&nbsp;
        
        Not rated yet<br>
        
        If you choose peace instead of division,<br>Your life shall yield abundance, not scarcity;<br>Love, not fear;<br>And selfless service, not selfishness.<br>In this ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-35-let-go-and-you-shall-receive.html"><b>Daily Inspiration #35: Let Go and You Shall Receive</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you hold onto something,<br>You will only lose it.<br>When you let it go,<br>You will gain it over again.<br><br>    &laquo;  Previous Daily Inspiration       ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-34-embodying-the-trinity.html"><b>Daily Inspiration #34: Embodying the Trinity</b></a>&nbsp;
        
        Not rated yet<br>
        
        As you ascend along your spiritual path<br>&mdash;As you follow the Light of Christ,<br>You shall become like that which you devote yourself to;<br>You shall ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-33-the-waters-of-life-carry-you-home.html"><b>Daily Inspiration #33: The Waters of Life Carry You Home</b></a>&nbsp;
        
        Not rated yet<br>
        
        Place yourself into the waters of life<br>And they shall carry you to the Kingdom of God<br>Wherein you shall have everlasting life.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-32-the-pinnacle-of-spiritual-evolution.html"><b>Daily Inspiration #32: The Pinnacle of Spiritual Evolution</b></a>&nbsp;
        
        Not rated yet<br>
        
        From life to life,<br>The path through the inner spiral is constant and sure.<br>Only keep to the tenants of love,<br>Live in alignment with the laws of the ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-31-opening-your-heart-to-the-love-of-god.html"><b>Daily Inspiration #31: Opening Your Heart to the Love of God</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you have opened your heart<br>To the love of God,<br>You are infused with the Divine Essence;<br>You become your true Self.<br><br>    &laquo;  Previous Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-30-success-despite-weakness.html"><b>Daily Inspiration #30: Success Despite Weakness</b></a>&nbsp;
        
        Not rated yet<br>
        
        Though you may have fallen in your weakness,<br>You can only reach the destination<br>If you get up and continue down the path unhindered.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-29-openness-to-blessing.html"><b>Daily Inspiration #29: Openness to Blessing</b></a>&nbsp;
        
        Not rated yet<br>
        
        God can only give you the blessings<br>That you allow Him to give you;<br>Your life will only return to you<br>That which you ask it to return.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-28-blinding-yourself-to-the-truth.html"><b>Daily Inspiration #28: Blinding Yourself to the Truth</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you fear,<br>You blind yourself to the Truth,<br>For fear comes from mere illusion.<br><br>    &laquo;  Previous Daily Inspiration    Next Daily Inspiration ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-27-finding-peace.html"><b>Daily Inspiration #27: Finding Peace</b></a>&nbsp;
        
        Not rated yet<br>
        
        The only way to find peace<br>Is to renounce all that robs you of it.<br>The ways of God are of peace,<br>But the ways of the world are not.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-26-gods-eternal-purpose-for-you.html"><b>Daily Inspiration #26: God's Eternal Purpose for You</b></a>&nbsp;
        
        Not rated yet<br>
        
        From the start of all time,<br>God has known you by name,<br>And has destined that you incarnate in this place and time<br>For His eternal purposes.<br>Will you ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-25-finding-love-within.html"><b>Daily Inspiration #25: Finding Love Within</b></a>&nbsp;
        
        Not rated yet<br>
        
        The only way to experience love from without,<br>Is to find it within.<br><br>    &laquo;  Previous Daily Inspiration    Next Daily Inspiration  &raquo;      ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-24-the-great-counselor.html"><b>Daily Inspiration #24: The Great Counselor</b></a>&nbsp;
        
        Not rated yet<br>
        
        The Holy Spirit is the great Counselor.<br>He heals your wounds,<br>Comforts you in the time of need,<br>And pushes you to new heights never before dreamed of....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-23-the-breath-of-god.html"><b>Daily Inspiration #23: The Breath of God</b></a>&nbsp;
        
        Not rated yet<br>
        
        The breath of God breathes upon you,<br>Giving you the power to continue<br>&mdash;The power to know what to do,<br>And the power to know why you are here.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-22-soul-lessons.html"><b>Daily Inspiration #22: Soul Lessons</b></a>&nbsp;
        
        Not rated yet<br>
        
        From life unto life,<br>Your soul progresses slowly to its destination.<br>These lessons now are predestined,<br>Decided even before you were born, for your ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-20-the-answer-to-guilt.html"><b>Daily Inspiration #20: The Answer to Guilt</b></a>&nbsp;
        
        Not rated yet<br>
        
        Guilt builds upon guilt<br>Pressing on you, binding you.<br>It can all be cleared out in one instant.<br>The answer? Forgiveness.<br><br>    &laquo;  Previous Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-19-healing-is-loving.html"><b>Daily Inspiration #19: Healing is Loving</b></a>&nbsp;
        
        Not rated yet<br>
        
        If you want to learn how to heal<br>You must first learn how to love.<br>For God is the one who heals,<br>And those who love are friends of God.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-18-the-eternal-peace-of-god.html"><b>Daily Inspiration #18: The Eternal Peace of God</b></a>&nbsp;
        
        Not rated yet<br>
        
        The peace of God surpasses all understanding.<br>It is with you in good times and bad,<br>In times of rejoicing and times of mourning.<br>Always tap into the ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-17-the-light-of-god-in-all-things.html"><b>Daily Inspiration #17: The Light of God in All Things</b></a>&nbsp;
        
        Not rated yet<br>
        
        The Light of God, so beautiful and radiant,<br>Flows through all things: person, animal, plant, stone.<br>See it flowing around you always&mdash;within and ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-16-god-wipes-away-sin.html"><b>Daily Inspiration #16: God Wipes Away Sin</b></a>&nbsp;
        
        Not rated yet<br>
        
        Day chases away the night, <br>Love chases away fear; <br>Love God with all your soul, <br>And your sins shall be no more.<br><br>    &laquo;  Daily Inspiration ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-1-gods-orchestra.html"><b>Daily Inspiration #1: God's Orchestra</b></a>&nbsp;
        
        Not rated yet<br>
        
        Just as every member of the orchestra is important,<br>So you are a member of God's great orchestra.<br>Will you follow the conductor,<br>Or play your own tune?...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-2-ocean-of-love.html"><b>Daily Inspiration #2: Ocean of Love</b></a>&nbsp;
        
        Not rated yet<br>
        
        You may think you are in a world of darkness<br>But really you are swept along by an ocean of God's love.<br>Only surrender to that love<br>And your sins will ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-3-the-beacon-of-christ.html"><b>Daily Inspiration #3: The Beacon of Christ</b></a>&nbsp;
        
        Not rated yet<br>
        
        Just when you seem to be on the edge of adversity<br>Open your eyes and see<br>The beacon of Christ That leads you into eternity.<br><br>    &laquo;  Daily Inspiration ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-4-loving-god.html"><b>Daily Inspiration #4: Loving God</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you love another, you love God.<br>When you hate another, you hate God.<br><br>    &laquo;  Daily Inspiration #3: The Beacon of Christ    Daily Inspiration ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-5-light-and-dark.html"><b>Daily Inspiration #5: Light and Dark</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you are full of light,<br>There is no room for darkness.<br>When you are full of darkness,<br>There is no room for light.<br><br>    &laquo;  Daily Inspiration ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-6-reaffirming-gods-supremacy.html"><b>Daily Inspiration #6: Reaffirming God's Supremacy</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you hate, you reaffirm your own supremacy.<br>When you love, you reaffirm God's supremacy.<br><br>    &laquo;  Daily Inspiration #5: Light and Dark    Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-7-freedom-from-the-cycle.html"><b>Daily Inspiration #7: Freedom from the Cycle</b></a>&nbsp;
        
        Not rated yet<br>
        
        From life to life,<br>The cycle continues.<br>Surrender to your true nature,<br>And you will be freed.<br><br>    &laquo;  Daily Inspiration #6: Reaffirming God'...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-8-water-of-life.html"><b>Daily Inspiration #8: Water of Life</b></a>&nbsp;
        
        Not rated yet<br>
        
        Drink of the water of life,<br>Then your thirst will be quenched.<br>Be filled with the Holy Spirit,<br>And you will possess life everlasting.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-9-resisting-happiness.html"><b>Daily Inspiration #9: Resisting Happiness</b></a>&nbsp;
        
        Not rated yet<br>
        
        It is not God that denies you happiness;<br>It is you who resists it.<br><br>    &laquo;  Daily Inspiration #8: Water of Life    Daily Inspiration #10: The Cycle ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-10-the-cycle-of-life.html"><b>Daily Inspiration #10: The Cycle of Life</b></a>&nbsp;
        
        Not rated yet<br>
        
        Life leads to life,<br>If you forgive, you are forgiven,<br>If you love, you are loved.<br>The cycle of life returns to you what you give.<br><br>    &laquo;  Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-11-the-angels.html"><b>Daily Inspiration #11: The Angels</b></a>&nbsp;
        
        Not rated yet<br>
        
        The angels are always at your side,<br>Ready to take your hand,<br>And walk with you along your path.<br>Put your trust in them always.<br><br>    &laquo;  Daily ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-12-the-light-within.html"><b>Daily Inspiration #12: The Light Within</b></a>&nbsp;
        
        Not rated yet<br>
        
        The inner light shimmers,<br>Waiting to be discovered.<br>Find it, uncover it,<br>And it will become as an inner sun.<br><br>    &laquo;  Daily Inspiration #11: The ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-13-revealing-the-truth.html"><b>Daily Inspiration #13: Revealing the Truth</b></a>&nbsp;
        
        Not rated yet<br>
        
        Unless you have the Holy Spirit within you,<br>The Truth remains hidden to you,<br>For your eyes perceive only darkness.<br>The Holy Spirit brings light to your ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-14-sea-of-despair.html"><b>Daily Inspiration #14: Sea of Despair</b></a>&nbsp;
        
        Not rated yet<br>
        
        When you are in a sea of despair,<br>Call upon the Holy Spirit,<br>And you will be lifted up upon the wings of love.<br><br>    &laquo;  Daily Inspiration #13:...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/daily-inspiration-15-the-silence-of-the-voice-of-god.html"><b>Daily Inspiration #15: The Silence of the Voice of God</b></a>&nbsp;
        
        Not rated yet<br>
        
        The dove coos softly in your ear;<br>The wind blows gently across your face.<br>The voice of God whispers, and you must strain to hear it,<br>But the ego roars ...
      </p>
    
  </div>
  <script language="javascript" type="text/javascript">
  click_here_links();
  </script>
  


 
 <script language="javascript" type="text/javascript">
    expand_by_url();
 </script>
  




<hr size="1" width="100%" align="Left" >

<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

<form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>


            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<hr size="1" width="100%" align="Left" >
<p><a href="http://www.christs-light-ministries.org" title="Christ's Light Ministries">Return from <strong>Daily Inspiration</strong> to <strong>Christ's Light Ministries</strong></a></p>

<script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script>

						<br>
                        <!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright  2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
<h3>Search Christ's Light Ministries</h3>
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

        <hr width="100%" size="1" align="left">
      
			<h3><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>
            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p>

        <hr width="100%" size="1" align="left">
<h3>Latest Forum Discussions</h3>
<script type="text/javascript" src="http://forums.christs-light-ministries.org/external.php?type=js"></script>
<script type="text/javascript">
document.write("<p>Showing " + threads.length + " recent threads.</p>\n");
document.write("<ol>\n");
for (var i = 0; i < threads.length; i++)
{
document.write("<li><a href=\"http://forums.christs-light-ministries.org/threads/" +
threads[i].threadid + "\">" +
threads[i].title + "</a><br>\n" +
"Started by " +
threads[i].poster + "<br>\n" +
"Posted on " +
threads[i].threaddate + " at " +
threads[i].threadtime + ".</li>\n");
}
document.write("</ol>\n\n");
</script>

        <hr width="100%" size="1" align="left">
        <h3>Featured Testimonial</h3>
        <p>I had a holistic healing session with <a  href="http://www.christs-light-ministries.org/brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fholistic-healing%2Echrists-light-ministries%2Eorg%2Fintake-form%2Ephp&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fdaily-inspiration%2Ehtml'; return false;">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p>
<p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hooponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift. (<a  href="http://www.christs-light-ministries.org/the-healing-continues.html"><small>Read More</small></a>)</p>
        <hr width="100%" size="1" align="left">
<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

        <form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

        <hr width="100%" size="1" align="left">
        <h3><a  href="http://www.christs-light-ministries.org/jesus-messages.html">Jesus' Messages</a></h3>
<dl id="recent-jesus-messages">
<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-147-august-14-2011.html">
<b>Jesus' Message #147: August 14, 2011</b>
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-146-august-13-2011.html">
<b>Jesus' Message #146: August 13, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-145-august-12-2011.html">
<b>Jesus' Message #145: August 12, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

</dl>

		</td>
	</tr>
</table>
</body>
</html>
