<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/father-of-lights-sample.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>Father of Lights Sample</title>

<!-- Don't let robots index here, please -->
<meta name="robots" content="noindex,nofollow">

<script type="text/javascript" src="support-files/soundmanager2.js"></script>

<script type="text/javascript">
soundManager.url = 'support-files/';

soundManager.useHTML5Audio = true;

soundManager.useFlashBlock = false;

soundManager.debugMode = false;

soundManager.onready(function()
{
  var song = soundManager.createSound({
    id:'sample',
    url:'http://www.thefulleffect.org/music/Father%20of%20Lights%20Sample.mp3',
  });
  
        song.play();

});

</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body onLoad="">
<h1 style="text-align:center; color:#000066">
<a href="http://www.christs-light-ministries-store.org/products/Father-of-Lights.html" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fwww%2Echrists-light-ministries-store%2Eorg%2Fproducts%2FFather-of-Lights%2Ehtml&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Ffather-of-lights-sample%2Ehtml'; return false;"><strong>Father of Lights</strong></a>: Sample
</h1>

<p><a href="http://www.christs-light-ministries-store.org/products/Father-of-Lights.html" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fwww%2Echrists-light-ministries-store%2Eorg%2Fproducts%2FFather-of-Lights%2Ehtml&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Ffather-of-lights-sample%2Ehtml'; return false;"><strong>Buy now</strong></a> for only <em>$1.47</em></p>

<p><a href="http://www.christs-light-ministries-store.org/cart.php?action=add&product_id=985" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fwww%2Echrists-light-ministries-store%2Eorg%2Fcart%2Ephp%3Faction%3Dadd%26product_id%3D985&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Ffather-of-lights-sample%2Ehtml'; return false;"><strong>Add to Cart</strong></a></p>

<p>Can't hear this sample? <a href="http://www.thefulleffect.org/music/Father%20of%20Lights%20Sample.mp3">Click here to listen</a></p>

<p><a href="javascript:window.close()">Close Window</a></p>

</body>
</html>
