<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/jesus-messages.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>Jesus' Messages &mdash; Christ's Light Ministries</title>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


<META Name="Description" Content="Jesus' messages are posted every day, channeled from Jesus Himself for the benefit of those who will listen and apply His teachings to their lives.">
<META Name="Keywords" Content="Jesus' messages, spiritual teachings, channeling, Christz, Jesus">

<link href="http://www.christs-light-ministries.org/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<link href="http://www.christs-light-ministries.org/support-files/style.css" type="text/css" rel="stylesheet">



<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>


<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
</head>

<body link="Blue" vlink="Purple" alink="Red" background="imgs/backimage.gif" bgcolor="#FFFFFF" onLoad="MM_preloadImages('http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'); ">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="imgs/logo.jpg" width="725" height="140" alt="logo for christs-light-ministries.org"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
            
            <div>
            Need prayer? Call our prayer line<br>
            <strong>(888) 989-3544</strong>
            </div>
				
				
				<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center><br>


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fforums%2Echrists-light-ministries%2Eorg%2F&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fjesus-messages%2Ehtml'; return false;"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<img border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages-ON.gif" alt="Jesus&#39; Messages"><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				
			</div>
			<img src="imgs/LEFT.gif" width="130" height="10" alt="LEFT for christs-light-ministries.org">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>

<h1 style="text-align:center;">Jesus' Messages<br>Delivered by Rev. Brandon Olivares</h1>

<p>I started to receive Jesus' messages on March 21, 2011. Since then, they have been a constant source of spiritual teaching and solace for many people. He brings His spiritual message of light and love to the modern time, and dispels many of the perversions that have been introduced to His message over the millennia. Jesus' messages revive the spirit of early Christian spirituality that has been diluted over time. He emphasizes love and forgiveness over judgment and condemnation, and shows us the way back to God by allowing the light of Christ to shine in and through us always.</p>

<p style="border: 1px solid #000066">Have these messages had an impact on you, or you just want to share your own experience with Jesus and His messages?<br>
<a href="#INV"><strong>Share your story below</strong></a>, or <a href="#VisitorPages"><strong>see what others had to say</strong></a>.</p>

<div style="float:left; margin:2px 6px 6px 0px;">
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 250x250 left */
google_ad_slot = "5946705642";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<p>Jesus started appearing to me in late February, 2011, but I had no idea what His plans were for me then. He had warned me even as far back as July, 2010, that my path would be a very unique one, and that He would be guiding me down that path Himself. How true that was!</p>

<p>As He appeared to me more frequently, my personal beliefs began to become altered without me even realizing it. I started to look to Him more and more, and realized that I was supposed to teach and to heal like He did. Soon, on March 20, He revealed to me that I was to begin to deliver His spiritual teachings every day.</p>

<p>These messages are listed below in reverse chronological order, from the most recent message at the top. I sincerely hope that you enjoy them, and that they have a beneficial effect in your life. Simply read them with an open mind, even if you don't agree with everything at first. Allow Christ's light to penetrate your being, regardless of what your beliefs are, and you will begin to be transformed by His messages within your daily life.</p>

<hr size="1" width="100%" align="Left">

<h2 style="text-align:center;">The Latest of Jesus' Messages</h2>

<dl id="recent">
<dt>
<a href="jesus-message-147-august-14-2011.html">
<b>Jesus' Message #147: August 14, 2011</b>
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a href="jesus-message-146-august-13-2011.html">
<b>Jesus' Message #146: August 13, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a href="jesus-message-145-august-12-2011.html">
<b>Jesus' Message #145: August 12, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

<dt>
<a href="jesus-message-144-august-11-2011.html">
<b>Jesus' Message #144: August 11, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must rely on the power of God, instead of our own power, and live in alignment with His will.
</dd>

<dt>
<a href="jesus-message-143-august-10-2011.html">
<b>Jesus' Message #143: August 10, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we ca always have hope, as long as God is with us, and this hope will bring us out of darkness.
</dd>

<dt>
<a href="jesus-message-142-august-9-2011.html">
<b>Jesus' Message #142: August 9, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must trust in God, and our life will become full of synchronicities and even miracles.
</dd>

</dl>

<h2>Archive</h2>
<ul id="archives">
<li><a href="jesus-messages-july-2011.html">July, 2011</a></li>
<li><a href="jesus-messages-june-2011.html">June, 2011</a></li>
<li><a href="jesus-messages-may-2011.html">May, 2011</a></li>
<li><a href="jesus-messages-april-2011.html">April, 2011</a></li>
<li><a href="jesus-messages-march-2011.html">March, 2011</a></li>
</ul>

<h2 id="subscribe">Subscribe to Receive Jesus' Messages Daily</h2>

<style type="text/css">
.link,
.link a,
#SignUp .signupframe {
	color: #226699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	#SignUp .signupframe {
		border: 1px solid #000000;
		background: #ffffff;
		}
#SignUp .signupframe .required {
	font-size: 10px;
	}
</style>
<script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=953583&l=26026&f=4536"></script>
<span class="link"><a href="http://www.icontact.com/?cobrand=953583" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fwww%2Eicontact%2Ecom%2F%3Fcobrand%3D953583&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fjesus-messages%2Ehtml'; return false;">Email Marketing</a> You Can Trust</span>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>


<script type="text/javascript">

  function openAddPictureBox() {
      document.getElementById('clickForMoreImagesRow').style.display = 'none';
      document.getElementById('uploadMoreImagesSection').style.display = '';
  }

  
  function show_show_hide(){
	var sh = document.getElementById('show_hide_box');
	var shl = document.getElementById('show_hide_link');

	if (sh.style.display = '' && shl.style.display == 'none') {
		return;
	}
	
	sh.style.display = '';
	shl.style.display = 'none';
  }

  function expand_by_url() {
	var url = location.href;

    if (url.match(/#INV$/) ||
        url.match(/#captchaError$/) || 
        document.getElementsByName('submission_title')[0].value != '') 
    {
        show_show_hide();
    }
  }
  

  function click_here_links() {
	var block = document.getElementById('submission_block');
	var children = block.getElementsByTagName('p');

	var click_html = '<a href="#INV" ' +
					 'onClick="show_show_hide();"' +
					'><span style="font-weight:bold;font-style:italic;">Click here to write your own.</span></a>'; 
	
	var p = document.createElement('p');
	p.innerHTML = click_html;
	children[(children.length -1)].parentNode.insertBefore(p, children[(children.length -1)].nextSibling);
	
	var count = 0;
	for (var i=children.length;i>0;i--) {
		if (count == 26) {
			count = 0;
			
			var p = document.createElement('p');
			p.innerHTML = click_html;
			children[i].parentNode.insertBefore(p, children[i]);

			}
		count++;
	} 
  }

  function save() {
    

    var errors = [];
    var regexp = /<(script|form)/;
    var imgregex = /(jpg|jpeg|JPEG|JPG|gif|GIF)/;

    var field = document.htmlForm2.submission_title.value;
    if (field.length>200) {
      errors.push('Your submission title must be a maximum of 200 characters.');
    }
    if (field.match(/^\s*$/)) {
      errors.push('Your submission must have a title.');
    }
    if (field.match(regexp)) {
      errors.push('Your submission title may not contain html.');
    }

    field = document.htmlForm2.submission_text.value;
    if (field.length>10000) {
      errors.push('Your submission body must be a maximum of 10000 characters.');
    }
    if (field.match(/^\s*$/)) {
      errors.push('Your submission body is empty.');
    }
    if (field.match(regexp)) {
      errors.push('Your submission body may not contain html.');
    }

    

    field = document.htmlForm2.submission_image_1.value;
    if (field && !field.match(imgregex)) {
      errors.push('Your image must be a jpg or gif.');
    }

    field = document.htmlForm2.submission_image_1_text.value;
    if (field && field.length>200) {
      errors.push('Your image caption must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your image caption may not contain html.');
    }
    
    

    field = document.htmlForm2.submission_author.value;
    if (field && field.length>200) {
      errors.push('Your name must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your name may not contain html.');
    }

    field = document.htmlForm2.submission_author_location.value;
    if (field && field.length>200) {
      errors.push('Your location must be a maximum of 200 characters.');
    }
    if (field && field.match(regexp)) {
      errors.push('Your location may not contain html.');
    }

    if (document.htmlForm2.submission_guidelines.checked) {
      
    } else {
      errors.push('Please check Submission Guidelines checkbox.');
    }

    if (document.htmlForm2.submission_challenge) {
      field = document.htmlForm2.submission_challenge.value;
      if (!field) {
        errors.push('You must enter a word for the submission challenge graphic.');
      }
    }
        
    if (errors.length > 0) {
      alert(errors.join('\n'));
    }

    return (errors.length == 0);
  }

  function InactiveInvitationAlert(obj) {
    if (obj) {obj.blur();}
    alert('Sorry, we are not accepting any new submissions at this time for this page. Please return in a few days to add your submission.');
  }
</script>

<style type="text/css">

  .c2Form {
  	padding:8px;
  	border:1px solid #ddd;
  	}
  
  .InvShelp {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	background-color: #ffc;
  }

  .InvShelpT {
  	background:#ddd; 
  	padding:0px;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	margin:0px;
  	padding:0px;
  	text-align:left;
  }

  a:link.InvShelp {text-decoration:none; color:#000;}

  .InvShelpbox {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
  	background-color: #ffc;
  	padding: 2px;
  	border: 1px solid #666;
  }

  .InvSquestions {
  	font-weight:bold;
  	font-size:14px;
  	margin:0;
  }
  
  .titleInput {
  	width:80%; 	
  	padding-top:4px;
  	margin:0;
  	}
  
  .storyInput {
  	width:98%;
  	padding-top:4px;
  	margin:0;
  	}
  
  .otherText {
  }
  
  .dividerRule {
  border-top:1px solid #ddd;
  }
  
</style>
<!-- Headline -->

<h2 id="INV" align="Center">Have Something to Share?</h2>

<!-- Intro Text -->
<p>
  Have these messages affected you in some way? Do you have something to share about applying these messages in your life? Please share your experiences here. We greatly appreciate all feedback.
</p>

<form accept-charset="utf-8" method="post" action="/dyn/C2/SubmitInvitation" name="htmlForm2" enctype="multipart/form-data" class="c2Form">
  <input type="hidden" name="domain" value="christs-light-ministries.org">
  <input type="hidden" name="invitation_id" value="25317096">
  <input type="hidden" name="sbi_pagecode" value="3706014508064240">
 
  <p class="InvSquestions">
    Enter Your Title
  </p>
 
  <p style="text-align:center">
    <input class="titleInput" name="submission_title" value="" size="55" type="text" 
    
    
    onFocus="show_show_hide()";
    
    >
  </p>

	<p class="dividerRule">
	</p>
	
<!--  Show/Hide HTML  -->
<div id="show_hide_box" style="display:none">

  <div class="InvSquestions" style="position:relative;z-index:10;">
    Tell Us Your Story!
    <span style="font-weight:normal;">[ <a href="#Help" onclick="document.getElementById('TextHelp').style.display='block';return false;">?</a> ]</span>
    <div id="TextHelp" style="position: absolute; z-index: 10; left:200px; display:none; width: 275px; background-color: rgb(255, 255, 204);font-weight:normal;" class="InvShelpbox">
      <table border="0" cellpadding="2">
        <tr>
          <td>
            <p class="InvShelpT"><a href="#closehelp" class="help" onclick="document.getElementById('TextHelp').style.display='none';return false;">Close Help</a></p>
            <p><span class="InvShelp">Entering your story is easy to do. Just type!...<br><br>Your story will appear on a Web page exactly the way you enter it here. You can wrap a word in square brackets to make it appear bold. For example &#91;my story&#93; would show as <strong>my story</strong> on the Web page containing your story.<br><br>TIP: Since most people scan Web pages, include your best thoughts in your first paragraph.<br></span></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <p style="text-align:center;">
    <textarea name="submission_text" class="storyInput" cols="55" rows="30" wrap="VIRTUAL" id="submission_text" ></textarea>
  </p>


  
  
  <p class="dividerRule">
  </p>

  <div class="InvSquestions"  style="position:relative;z-index:9;">
    Upload 1-4 Pictures or Graphics (optional)
    <span style="font-weight:normal;">[ <a href="#Help" onclick="document.getElementById('PicHelp').style.display='block';return false;">?</a> ]</span>
    <div id="PicHelp" style="position: absolute;left:200px; z-index: 9; display:none; width: 200px; background-color: rgb(255, 255, 204);font-weight:normal;" class="InvShelpbox">
      <table border="0" cellpadding="2">
        <tr>
          <td>
            <p class="InvShelpT"><a href="#closehelp" class="help" onclick="document.getElementById('PicHelp').style.display='none';return false;">Close Help</a></p>
            <p><span class="InvShelp">Do you have some pictures or graphics to add? Great! Click the button and find the first one on your computer. Select it and click on the button to choose it.<br><br>Then click on the link if you want to upload up to 3 more images.<br></span></p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  

  <p style="text-align:center;">
    <input name="submission_image_1" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_1_text" type="text" value="" size="30" >
  </p>

  <p id="clickForMoreImagesRow" style="text-align:center;">
  <a href="#clickForMoreImagesRow" onClick="openAddPictureBox()">Click here to upload more images</a> <span style="font-size:85%;">(optional)</span>
  </p>

  <div id="uploadMoreImagesSection" style="display:none">

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_2" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_2_text" type="text" value="" size="30" >
  </p>

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_3" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_3_text" type="text" value="" size="30" >
  </p>

  <p class="dividerRule">
  </p>

  <p style="text-align:center;">
    <input name="submission_image_4" type="file" value="">
  </p>
  
  <p style="text-align:center;">
  Add a Picture/Graphic Caption <span style="font-size:85%;">(optional)</span>&nbsp;<input name="submission_image_4_text" type="text" value="" size="30" >
  </p>

  </div>

  

  <p class="dividerRule">
  </p>

  <p class="InvSquestions">
    Author Information (optional)
  </p>
  
  <p class="otherText">
  	To receive credit as the author, enter your information below.
  </p>
  
  <table style="margin-right:auto; margin-left:auto;">
    <tbody>
      <tr>
        <td><p style="text-align:right; margin:0; padding:0;" class="otherText">Your Name</p></td>
        <td>
          <p style="margin:0; padding:0;" class="otherText">
          <input name="submission_author" type="text" value="" >
          <span class="otherText" style="font-size:85%;">
            (first or full name)
          </span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
        	<p style="text-align:right; margin:0; padding:0;" class="otherText">
        		Your Location
        	</p>
        </td>
        <td>
          <p style="margin:0; padding:0;" class="otherText">
          <input name="submission_author_location" type="text" value="" >
        <span class="otherText" style="font-size:85%;">
            (ex. City, State, Country)
        </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  
  <p class="dividerRule">
  </p>
    
  <p class="InvSquestions">
    Submit Your Contribution
  </p>
  <p class="otherText" style="text-align:center;">
    <input name="submission_guidelines" value="checkbox" type="checkbox" >Check box to agree to these <a href="/dyn/C2/SubmissionAgreement?domain=christs-light-ministries.org" target="new">submission guidelines</a>.
  </p>
  <!-- The following script uses document.write() to add the captcha to the page. -->



<script src="/ssjs/fork/foundation_DEVELOPMENT.js" type="text/javascript"></script>
<script src="/ssjs/common/captcha_delay.js" type="text/javascript"></script>

  <p style="text-align:center;">
    <input type="submit" onclick="return save();" value="Share Your Feedback">
    <br>
    <span class="otherText" style="font-size:85%;">(You can preview and edit on the next page)</span>
  </p>
  
</div><!-- End show/hide div -->
<div id="show_hide_link"><a href='#INV' onclick="show_show_hide();">Click here to see the rest of the form and complete your submission.</a></div>

</form>



  
    <h2 id="VisitorPages" align="Center">What Other Visitors Have Said</h2>
    <p>Click below to see what others have said about these messages.</p>
    <div id="submission_block">
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-116-july-14-2011.html"><b>Jesus' Message #116: July 14, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message teaches that God's Word is like a sift that purifies us, rooting out our guilt.<br><br>    &laquo;  Previous Message    Next Message  &raquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-109-july-7-2011.html"><b>Jesus' Message #109: July 7, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message teaches that we must give to others what we wish to receive ourselves, or to recognize those gifts that we have already been given by God....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-104-july-2-2011.html"><b>Jesus' Message #104: July 2, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message says that each one of us is on the spiritual path. We may not know where we are, but God always does.<br><br>    &laquo;  Previous Message    Next ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-103-july-1-2011.html"><b>Jesus' Message #103: July 1, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message teaches what we can pray for, and shows that if we want to be blessed, we must live with integrity.<br><br>    &laquo;  Previous Message    Next ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-96-june-24-2011.html"><b>Jesus' Message #96: June 24, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message says that we must not hesitate in following the purpose we know we must follow, for God will help us to accomplish it.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-83-june-11-2011.html"><b>Jesus' Message #83: June 11, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message says that many people have rejected their own power, and created much less than they can truly achieve, because they limit themselves.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-82-june-10-2011.html"><b>Jesus' Message #82: June 10, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message says that in this time, we must learn to discern what is right for us and what is wrong, for often they appear much the same.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-81-june-9-2011.html"><b>Jesus' Message #81: June 9, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message says that forgiveness is the road to salvation, because everything that we hold against another is really just reflected within ourselves ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-8-march-28-2011.html"><b>Jesus' Message #8: March 28, 2011</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        Jesus' message talks about how suffering is not necessary, and is not Jesus' will for us.<br><br>    &laquo;  Previous Message    Next Message  &raquo;    <br><br> <br><br> Oh ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-messages-are-beautiful.html"><b>Jesus' Messages are Beautiful</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        I am here to tell Brandon he is doing a WONDERFUL job and I am thrilled he has kept it up and really because he is so passionate and enters into that love,...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-148-august-15-2011.html"><b>Jesus' Message #148: August 15, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that w must take full responsibility in life, and work with God as a partnership in our life.<br><br>    &laquo;  Previous Message     <br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-147-august-14-2011.html"><b>Jesus' Message #147: August 14, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-146-august-13-2011.html"><b>Jesus' Message #146: August 13, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-145-august-12-2011.html"><b>Jesus' Message #145: August 12, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-144-august-11-2011.html"><b>Jesus' Message #144: August 11, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must rely on the power of God, instead of our own power, and live in alignment with His will.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-143-august-10-2011.html"><b>Jesus' Message #143: August 10, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we ca always have hope, as long as God is with us, and this hope will bring us out of darkness.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-142-august-9-2011.html"><b>Jesus' Message #142: August 9, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must trust in God, and our life will become full of synchronicities and even miracles.<br><br>    &laquo;  Previous Message    Next ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-141-august-8-2011.html"><b>Jesus' Message #141: August 8, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we should spread the love that we have received from God with others, for this will bring life to souls who are parched, thirsting ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-140-august-7-2011.html"><b>Jesus' Message #140: August 7, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must see each other through the eyes that God sees us, so that we can be more compassionate, forgiving, and loving.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-139-august-6-2011.html"><b>Jesus' Message #139: August 6, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that marriage is an essential part of life, teaching us to remain commitment to one person, no matter what happens, and that this ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-138-august-5-2011.html"><b>Jesus' Message #138: August 5, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must listen to the voice of God, no matter what it says to do, for God will give us the power and strength to carry out that ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-137-august-4-2011.html"><b>Jesus' Message #137: August 4, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we mud realize that we are completely worthy of the love of God, for He created us to be so.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-136-august-3-2011.html"><b>Jesus' Message #136: August 3, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that w must not pretend to be perfect, though we know we are not, merely because we are on the spiritual path.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-135-august-2-2011.html"><b>Jesus' Message #135: August 2, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that because we see the world as separate, we do not believe that God is within us, and it is difficult for us to forgive those who ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-134-august-1-2011.html"><b>Jesus' Message #134: August 1, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must love others, for the love that we share with others will be increased within us.<br><br>    &laquo;  Previous Message     <br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-133-july-31-2011.html"><b>Jesus' Message #133: July 31, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that God is always near us, and shall never abandon us. He is not impervious to our great need.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-132-july-30-2011.html"><b>Jesus' Message #132: July 30, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must not take credit for our own gifts or talents, for they come from God, and it is He who increases them for our use for ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-131-july-29-2011.html"><b>Jesus' Message #131: July 29, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that when we lack peace, it is because we fear the loss of something we believe will make us happy. He says that we must replace our ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-130-july-28-2011.html"><b>Jesus' Message #130: July 28, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that the lack of love leads to sickness, starting on the spiritual level, and growing eventually into the physical level.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-129-july-27-2011.html"><b>Jesus' Message #129: July 27, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must rely on the Light of Christ to see things for what they truly are, not being deceived by lies and illusions.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-128-july-26-2011.html"><b>Jesus' Message #128: July 26, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message say that we must not give darkness any power over us, for darkness is less real than light, and indeed darkness and fear have no reality ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-127-july-25-2011.html"><b>Jesus' Message #127: July 25, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we have within us a river of life that connects us with the divine source in God. If we use this source of life for good, then ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-126-july-24-2011.html"><b>Jesus' Message #126: July 24, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message rehashes the golden rule, saying that if we desire to be treated in a particular way, we should do the same for others.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-125-july-23-2011.html"><b>Jesus' Message #125: July 23, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that the original sin was just rejecting your own happiness, and the original guilt perpetuates your unhappiness through this same ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-124-july-22-2011.html"><b>Jesus' Message #124: July 22, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus message teaches that we must receive His love and love others, that we may be healed ourselves.<br><br>    &laquo;  Previous Message    Next Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-123-july-21-2011.html"><b>Jesus' Message #123: July 21, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that true peace comes from surrendering all things to God. When we give up worry of all things, then God can take care of it for ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-122-july-20-2011.html"><b>Jesus' Message #122: July 20, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-121-july-19-2011.html"><b>Jesus' Message #121: July 19, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-120-july-18-2011.html"><b>Jesus' Message #120: July 18, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-119-july-17-2011.html"><b>Jesus' Message #119: July 17, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must offer all things in service to God, and that every gift that we have been given must be used for the purposes that God ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-118-july-16-2011.html"><b>Jesus' Message #118: July 16, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we should not fear anything, because God is always with us. Jesus discusses the many gifts that God gives us, and the proper way ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-117-july-15-2011.html"><b>Jesus' Message #117: July 15, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that God loves every one of us. We must rebuke any thought that we are not worthy, for this deceptive thought keeps us from our ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-115-july-13-2011.html"><b>Jesus' Message #115: July 13, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message shows that spirituality makes us more truly who we really are. We must only realize and recognize our true nature.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-114-july-12-2011.html"><b>Jesus' Message #114: July 12, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that there is no reason to despair or to mourn, even if the light may not yet be apparent. If we surrender to God, the light will come,...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-113-july-11-2011.html"><b>Jesus' Message #113: July 11, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we need God in order to reach our destination. We need God to lead us from day-to-day so that we may not become lost.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-112-july-10-2011.html"><b>Jesus' Message #112: July 10, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must perfect wisdom, power, and love if we would hope to reach the attainment of realization of the oneness of God.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-111-july-9-2011.html"><b>Jesus' Message #111: July 9, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that the spiritual path must be a personal endeavor, not able to be shared with any other soul, for every soul has its own path. However,...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-110-july-8-2011.html"><b>Jesus' Message #110: July 8, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message shows that we must dispense with all fear or the desire to cause division if we desire to realize our union with God.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-108-july-6-2011.html"><b>Jesus' Message #108: July 6, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we are called to possess everlasting joy. This joy comes from the fulfilling of our true purpose.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-107-july-5-2011.html"><b>Jesus' Message #107: July 5, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must take on the sight of God, seeing all as one, and accept that way of thinking to reverse the process that put us into ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-106-july-4-2011.html"><b>Jesus' Message #106: July 4, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that as we send out strands of light in our daily interactions, it is building a larger net of light that pulls many souls out of ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-105-july-3-2011.html"><b>Jesus' Message #105: July 3, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that it is important to let go of your sins and your darkness, because this is the only way to purify your soul and begin to ascend ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-102-june-30-2011.html"><b>Jesus' Message #102: June 30, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must trust in God to provide what we need and desire in life, and teaches how not to chase away what we want, but to attract ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-101-june-29-2011.html"><b>Jesus' Message #101: June 29, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that every thought, word, and action must be a direct manifestation of the Trinity, and that nothing that we may accomplish is really ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-100-june-28-2011.html"><b>Jesus' Message #100: June 28, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' Message teaches that we are called to be perfect, and all will become perfect in the end, when we realie our true nature. Jesus explains the metaphysics ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-99-june-27-2011.html"><b>Jesus' Message #99: June 27, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must trust in God for all things, for He will be our protector. He knows all even when we do not, so there is no reason ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-98-june-26-2011.html"><b>Jesus' Message #98: June 26, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we have come to keep sacred the God Consciousness, one day to reunite with the fullness of God, removing all impediments along ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-97-june-25-2011.html"><b>Jesus' Message #97: June 25, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we cannot progress in our spiritual growth without the help of God, and without being infused by the Holy Spirit.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-95-june-23-2011.html"><b>Jesus' Message #95: June 23, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that when we pursue success, it must be for the highest good of all, and that good will be returned to us many times over.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-94-june-22-2011.html"><b>Jesus' Message #94: June 22, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message compares the spiritual path to a ladder that must be climbed over a period of lifetimes. At every step, old, incorrect concepts must be ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-93-june-21-2011.html"><b>Jesus' Message #93: June 21, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches more about the descent and individualization of Spirit into humanity, and the basic flaw of many ideologies in the world that seek ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-92-june-20-2011.html"><b>Jesus' Message #92: June 20, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message outlines the true meaning of the Trinity, and the Trinity's purpose in your path back to God.<br><br>    &laquo;  Previous Message    Next Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-91-june-19-2011.html"><b>Jesus' Message #91: June 19, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that forgiveness is the one way to God, and those who live in alignment with love are living in alignment with God's will.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-90-june-18-2011.html"><b>Jesus' Message #90: June 18, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message shows that we ourselves are responsible if we lack that which we desire, even happiness or peace itself.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-89-june-17-2011.html"><b>Jesus' Message #89: June 17, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that it is progressively becoming harder to continue on the path of ascension, as we grow closer and closer to the leap to the next ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-88-june-16-2011.html"><b>Jesus' Message #88: June 16, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message outlines the difference between short-term, fleeting peace and long-term, lasting peace, and says that sometimes the short-term must be ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-87-june-15-2011.html"><b>Jesus' Message #87: June 15, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches about the true meaning of sin and the necessity of salvation, though these terms are very different from what is traditionally taught....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-86-june-14-2011.html"><b>Jesus' Message #86: June 14, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must live in the light of Christ, and become intimately acquainted with it, if we should ever hope to share it with others ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-85-june-13-2011.html"><b>Jesus' Message #85: June 13, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that in order to progress on the spiritual path, we must live with an inward focus, for that is where the light of Christ is found ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-84-june-12-2011.html"><b>Jesus' Message #84: June 12, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that in the process of the light being revealed within us, our outstanding spiritual issues will be agitated, and may even appear to ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-80-june-8-2011.html"><b>Jesus' Message #80: June 8, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that God wants to communicate with us, but we often just forget to listen. Jesus outlines the spiritual path and encourages us to be ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-79-june-7-2011.html"><b>Jesus' Message #79: June 7, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we have resources that we have not even tapped into yet, that can only be accessed when we surrender ourselves to God and live ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-78-june-6-2011.html"><b>Jesus' Message #78: June 6, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must focus on what is truly important in life, being that which is eternal, not that which is temporal.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-11-march-31-2011.html"><b>Jesus' Message #11: March 31, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses giving up all things for God, for we must take up Jesus' burden, but His burden is light.<br><br>    &laquo;  Previous Message     <br><br> <br><br> My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-10-march-30-2011.html"><b>Jesus' Message #10: March 30, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message talks about the great love that Jesus has for all mankind, and how without His love, they only exist in darkness.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-77-june-5-2011.html"><b>Jesus' Message #77: June 5, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that God has called each one of us for a purpose, and every moment is the moment to respond to that calling, and to begin following ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-76-june-4-2011.html"><b>Jesus' Message #76: June 4, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that God is always there for us, no matter what we have done. We only have to make Him our refuge, and call on the Holy Spirit daily....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-9-march-29-2011.html"><b>Jesus' Message #9: March 29, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how sin and death are not real, but only Jesus is real and can lead you out of it.<br><br>    &laquo;  Previous Message    Next Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-7-march-27-2011.html"><b>Jesus' Message #7: March 27, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how the difference of religion do not matter, but only love matters.<br><br>    &laquo;  Previous Message    Next Message  &raquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-6-march-26-2011.html"><b>Jesus' Message #6: March 26, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how people have twisted His messages into ones of fear instead of love, and how love heals all wounds.<br><br>    &laquo;  Previous ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-75-june-3-2011.html"><b>Jesus' Message #75: June 3, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message answers the question of how to return to God. Jesus says that we must call upon the Holy Spirit as the first step of the spiritual path,...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-74-june-2-2011.html"><b>Jesus' Message #74: June 2, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must live from the perspective of the inner self, which is the direct connection back to God, and therefore is able to see ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-73-june-1-2011.html"><b>Jesus' Message #73: June 1, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that negative emotions are like weeds overtaking the garden of our soul, and that forgiveness must be used to pull them out and let ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-72-may-31-2011.html"><b>Jesus' Message #72: May 31, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that we must be sure to live in the light, and be able to see the light of Christ in all things, realizing that all is one.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-71-may-30-2011.html"><b>Jesus' Message #71: May 30, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that many are satisfied with much less than is their full potential. It requires applying the universal laws of God to really reach ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-70-may-29-2011.html"><b>Jesus' Message #70: May 29, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message emphasizes the essential unity of all things, signifying that it requires forgiveness to escape the cycle of life and death.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-69-may-28-2011.html"><b>Jesus' Message #69: May 28, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that true power and authority come from surrendering our own power and authority, and attempts to control others and the world around ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-68-may-27-2011.html"><b>Jesus' Message #68: May 27, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message teaches that if we want to be blessed ourselves, we must give to and serve others, for this balances the universal equation.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-messages-helping-me-to-become-better.html"><b>Jesus' Messages Helping Me to Become Better</b></a>&nbsp;
        
        Not rated yet<br>
        
        I am thrilled to see how much of a synchronicity Jesus message comes to me daily. Slowly but surely, my heart is becoming more and more like love and light....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-67-may-26-2011.html"><b>Jesus' Message #67: May 26, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message outlines the path to salvation: it requires forgiveness, and realizing that one's guilt never existed.<br><br>    &laquo;  Previous Message ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-66-may-25-2011.html"><b>Jesus' Message #66: May 25, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message emphasizes that spirituality is as important as even breathing, and that spiritual death is much worse than physical death.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-65-may-24-2011.html"><b>Jesus' Message #65: May 24, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses the danger of believing you have full grasp of a simple concept, for they are often the most difficult to really understand.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-64-may-23-2011.html"><b>Jesus' Message #64: May 23, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message explains that every person is a light-bearer, and has a three-fold mission that will bring God's light to the world, and reunite them with ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-63-may-22-2011.html"><b>Jesus' Message #63: May 22, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must discern His message, for there are many who preach messages of fear and guilt. His message is of love, and He will lead ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-2-march-22-2011.html"><b>Jesus' Message #2: March 22, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that no one is condemned by God, but God has only pure love for all. We must live in the light of God and be renewed.<br><br> <br><br>My dearest ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-1-march-21-2011.html"><b>Jesus' Message #1: March 21, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that many people ignore their need for God, believing that they can be happy in some other way. However, they must look within, see ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-62-may-21-2011.html"><b>Jesus' Message #62: May 21, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must look within to behold the light and be filled with it, and not to judge others lest we fall off the path ourselves.<br><br>    &laquo;...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-61-may-20-2011.html"><b>Jesus' Message #61: May 20, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we are all called to be light bearers. Our individual calling was decided before this life, but will be clarified through the ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-60-may-19-2011.html"><b>Jesus' Message #60: May 19, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we are like waves upon the ocean of God's consciousness, filled with His Spirit. We must come to this realization to return to ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-59-may-18-2011.html"><b>Jesus' Message #59: May 18, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how limited so many of us have made ourselves. Through our spiritual senses, we can witness the spiritual world just as strongly ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-58-may-17-2011.html"><b>Jesus' Message #58: May 17, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message encourages us to become the love that our nature consists in. Darkness is illusion, and so nothing good can come from it.<br><br> <br><br>My dearest ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-57-may-16-2011.html"><b>Jesus' Message #57: May 16, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we are given what we choose, and what results from what we choose. He says that the healing for all wounds is forgiveness.<br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-56-may-15-2011.html"><b>Jesus' Message #56: May 15, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that denying our own nature is the cause for all suffering. Love will help the many to become one again and to reunite with God.<br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-55-may-14-2011.html"><b>Jesus' Message #55: May 14, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how we must have the Spirit of God, the Holy Spirit, enter into our lives and be aligned with God's purpose for us.<br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-54-may-13-2011.html"><b>Jesus' Message #54: May 13, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses how to make the journey back to God, even if you can barely see the light. Jesus advises never to fall to spiritual pride.<br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-5-march-25-2011.html"><b>Jesus' Message #5: March 25, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says that we must rely on His saving grace. It is like a lifeline that we must cling onto, in order to escape the darkness of the world....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-4-march-24-2011.html"><b>Jesus' Message #4: March 24, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message talks about love of God and love of neighbor, how to give selflessly to others, how to serve others as though they are Jesus, and how to ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-3-march-23-2011.html"><b>Jesus' Message #3: March 23, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message speaks on God's love, and that all people will be brought home into full union with God.<br><br> <br><br>My dearest children, many of you come unto ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-53-may-12-2011.html"><b>Jesus' Message #53: May 12, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message says how God's love is always with us, whether or not we realize it. However, it requires that we have perfect love for all others.<br><br> <br><br>My ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/jesus-message-52-may-11-2011.html"><b>Jesus' Message #52: May 11, 2011</b></a>&nbsp;
        
        Not rated yet<br>
        
        Jesus' message discusses the importance of looking within and looking into the light. It will begin to transform the soul the more this is done.<br><br> <br><br>My ...
      </p>
    
  </div>
  <script language="javascript" type="text/javascript">
  click_here_links();
  </script>
  


 
 <script language="javascript" type="text/javascript">
    expand_by_url();
 </script>
  




            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<hr size="1" width="100%" align="Left">

<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

<form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>


<hr size="1" width="100%" align="Left" >
<p><a href="http://www.christs-light-ministries.org" title="Christ's Light Ministries">Return from <strong>Jesus' Messages</strong> to <strong>Christ's Light Ministries</strong></a></p>

<script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script>

						<br>
                        <!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright  2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
<h3>Search Christ's Light Ministries</h3>
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

        <hr width="100%" size="1" align="left">
      
			<h3><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>
            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p>

        <hr width="100%" size="1" align="left">
<h3>Latest Forum Discussions</h3>
<script type="text/javascript" src="http://forums.christs-light-ministries.org/external.php?type=js"></script>
<script type="text/javascript">
document.write("<p>Showing " + threads.length + " recent threads.</p>\n");
document.write("<ol>\n");
for (var i = 0; i < threads.length; i++)
{
document.write("<li><a href=\"http://forums.christs-light-ministries.org/threads/" +
threads[i].threadid + "\">" +
threads[i].title + "</a><br>\n" +
"Started by " +
threads[i].poster + "<br>\n" +
"Posted on " +
threads[i].threaddate + " at " +
threads[i].threadtime + ".</li>\n");
}
document.write("</ol>\n\n");
</script>

        <hr width="100%" size="1" align="left">
        <h3>Featured Testimonial</h3>
        <p>I had a holistic healing session with <a  href="http://www.christs-light-ministries.org/brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fholistic-healing%2Echrists-light-ministries%2Eorg%2Fintake-form%2Ephp&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fjesus-messages%2Ehtml'; return false;">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p>
<p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hooponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift. (<a  href="http://www.christs-light-ministries.org/the-healing-continues.html"><small>Read More</small></a>)</p>
        <hr width="100%" size="1" align="left">
<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

        <form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

        <hr width="100%" size="1" align="left">
        <h3><a  href="http://www.christs-light-ministries.org/jesus-messages.html">Jesus' Messages</a></h3>
<dl id="recent-jesus-messages">
<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-147-august-14-2011.html">
<b>Jesus' Message #147: August 14, 2011</b>
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-146-august-13-2011.html">
<b>Jesus' Message #146: August 13, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-145-august-12-2011.html">
<b>Jesus' Message #145: August 12, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

</dl>

		</td>
	</tr>
</table>
</body>
</html>
