<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Matrix Energetics</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<META Name="Description" Content="I was recently introduced to Dr. Richard Bartlett's Matrix Energetics. He regularly does seminars around the country, and has two books on the subject:">
<META Name="Keywords" Content="matrix energetics, alternative healing, energy healing, prayer healing, laying on of hands, healing">
<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>



<style type="text/css" media="all">
body, td
{
	font:13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000;
	margin: 0px;
	}
.thirdColumn {
width:235px;
vertical-align:top;
padding:18px 4px; 
}

</style>
</head>


<body link="Blue" vlink="Purple" alink="Red" background="http://www.christs-light-ministries.org/imgs/BACK.gif" bgcolor="#FFFFFF" onLoad="'http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="http://www.christs-light-ministries.org/imgs/logo.jpg"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="http://www.christs-light-ministries.org/imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
				
<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center>
				
				


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				

			</div>
			<img src="http://www.christs-light-ministries.org/imgs/LEFT.gif">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>
						
<!--  -->
<style type="text/css">
  
  .errFld {
    padding: 3px;
  }
  .errFldOn {
    padding: 0px;
    border: 3px solid red;
  }
  .errMsg {
    font-weight: bold;
    color: red;
    visibility: hidden;
  }
  .errMsgOn {
    visibility: visible;
  }

  #edit textarea {
    border: 1px solid #000;
  }

  /* used in both edit and preview modes */
  .editTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  #preview .editTitle {
    margin-top: 0px;
  }
  .editName, .editCountry {
    text-align: center;
  }
  .editName, .editCountry, .editBody {
  }
  .editBody {
    text-align: left;
  }
  #preview {
    margin-left: auto;
    margin-right: auto;
  }
  
  .GadSense {
  float:left; 
  vertical-align:top; 
  padding:0 8px 8px 0; 
  margin:0 8px 0px 0;
  }

	.gLinkUnitTop {
	width:466px;
	margin:12px auto;
	}
	
	.gLinkUnitBot {
	width:120px;
	float:right;
	margin:4px 0 24px 36px;
	}
  
</style>


  <div id="Matrix Energetics" style="border:0px solid black;padding:5px;">

    <h2 style="text-align:center;">Matrix Energetics</h2>

    <p style="text-align:center;">
      
        by <a href="brandon.html">Rev. Brandon A. Olivares</a>
      
      
        <br>(johnstown, PA, USA)
      
    </p>
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    

    
    
    
        
            
        
    
    
    <p>
        
            
                 
            
        
        I was recently introduced to Dr. Richard Bartlett's <a href="http://www.matrixenergetics.com" target="_blank">Matrix Energetics</a>. He regularly does seminars around the country, and has two books on the subject:<br><br><ol><br><li><a href="http://www.christs-light-ministries.org/amz-matrix-energetics" target="_blank"><em>Matrix Energetics: The Science and Art of Transformation</em></a></li><br><li><a href="http://www.christs-light-ministries.org/amz-physics-miracles" target="_blank"><em>The Physics of Miracles: Tapping in to the Field of Consciousness Potential</em></a></li><br></ol><br><br><h3>What is Matrix Energetics?</h3><br><br>This is a difficult question to answer. I think the subtitle of the first book says it the best: it is "the science and art of transformation." It is a method for transforming our lives on all levels to make us even happier and more fulfilled. Dr. Bartlett doesn't like calling it a healing technique, because he says healing is just the opposite side on the same coin as disease, which only gives power to the idea of disease. Any problem we struggle against only makes it stronger in our reality. Therefore, the goal of Matrix Energetics is not to heal a particular disease, but to transform one's entire reality from the quantum level.<br><br>Don't think it's possible? Just read any of the numerous miracles mentioned in both books. The first book alone has at least one miraculous story every few pages, and an entire chapter devoted to such stories. Alternatively, attend one of Dr. Bartlett's seminars, and see people be healed in person, right on stage. It is not only he who is able to do this, either; many people are able to learn this technique and have just as astounding and instantaneous results.<br><br>Matrix Energetics is heavily based off of quantum theory. Usually I am very skeptical of people who throw around quantum physics so liberally, but he seems to have really done his research. Further, he didn't construct Matrix Energetics around quantum theory, but uses it to best explain the experiences he had with it. It is something that happened to him, and he had to try to explain what was happening and why to the best of his ability. But really, when you read the experiences he has had, what other explanation could you come up with for such complete transformation? How else can bones be healed right in place, instantaneously, for example?<br><br>The books and seminars redefine your perception of reality, and your idea of what is possible, which is the point of the whole thing. He contends that the only reason we don't experience miracles is because we don't think miracles can happen to us. But he experiences them every day, and is more than willing to share those with us. It is both theoretically and practically satisfying.<br><br>With other healing techniques, you focus so much on a certain result, or on healing a problem. You set your intention to heal, but then you hold onto that intention and do everything you can to make it happen. However, the most happens when you let go, and leave space for the possibility of another outcome.<br><br>This has been my experience, too. If, when doing Reiki, I focus so much on what the problem is, I feel constricted. However, if I just connect and let the energy flow, it is a lot more effective.<br><br>The common misconception is that healing takes time. We're too afraid to say that someone can be healed immediately, because it seems too far beyond the realm of possibility. Therefore, we just do our thing, hoping for the best, but never really leaving room for the possibility for them being healed. The patient's healing is relegated to some vague point in the future.<br><br><h3>My Own Experience</h3><br><br>I will be writing a lot more on this method in the future, I am sure, as I think it is very powerful, and plan to use it for a lot of people. However, I have already had some experiences of my own, that prove the effectiveness of this technique to me.<br><br>Firstly, one thing that Dr. Bartlett does a lot is making people fall over at his seminars. Many times this puts them into a trance state, or has some healing effect on them, but sometimes it is just for fun, to show what is possible.<br><br>This is a coincidence to me, because I realized around a month ago that I am able to do the same thing. I was praying over Christine one day, when I realized that I accidentally made her "rest." To "rest" is a term in charismatic circles that means one is so overwhelmed, that one falls over on the ground, or slumps back in one's seat, which allows God to work a lot more. I realized that I could affect such a state, and so I started to experiment with this, with Christine's knowledge of course. I realized that all it was was a focus of energy. As time went on, I tried it for a select few people, to see if it worked for them, too, and it did.<br><br>Well, on Saturday night, I had been talking to my little cousin, Summer, about a lot of different things. I showed her Dr. Bartlett's videos about Matrix Energetics, and commented that I could do the same thing, with making people fall over, since she seemed to be amazed by it. She was surprised, so of course insisted that I do it to her.<br><br>Now I was a bit nervous, because I had only really done it for a very few people, and really mostly just on Christine, so I wasn't confident that I could do the same thing, and I warned her of such. But I figured I'd give it a go. So, she stood up, I got in front of her, placed my hands lightly on her shoulders, and she fell over. We did this another time I think, because she was amazed by it.<br><div style="width:300px;margin:12px 0px 12px 12px;clear:both;float:right"><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 300x250 */
google_ad_slot = "1297666708";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div> <br><br>Of course, being a 13-year-old, she immediately told the rest of the family, who was congregated in the living room. At this point, I was talking to Christine on the phone, but summer came and got me, and begged me to show her mother. So I told Christine I'd have to call her back.<br><br>I went out in the living room, and once again made Summer fall over. Then her mother (my aunt) asked me to do it for her, too, to see how it was, because she was fascinated. So I did, and she just as easily went over. She thought it was a fluke, so tried it again, and again she fell over.<br><br>My other cousin, Tiffany, said this stuff never worked for her, so had me try. She did start to go back, but resisted, so that she didn't go over.<br><br>Then, my mother said that my aunt had stabbing pain in her shoulder, and asked me to work on it. She knew I did Reiki, but I was going to do Matrix Energetics instead, with a technique called two-point. So I laid my hands on her shoulder, and in about 10 seconds, I felt a shift within her shoulder. A few seconds after, I removed my hands, and she reported that the stabbing pain was completely gone. It still hurt a bit when she touched it, but that went away within 30 minutes, and her shoulder was back to normal.<br><br>I then did the same thing for Tiffany, because her back was stressed, and it really helped her, as well.<br><br>I then did readings for everyone. After that, though, my mother wanted to see how it was, so I did it for her, and she also went over.<br><br>Finally, Tiffany said she wanted to try again. Once more she resisted, but I put the two-point technique fully to work, and she immediately went over.<br><br>So, that night, there were two people whose conditions were healed, and many people who fell over through this technique. The latter was mostly just for fun, but Dr. Bartlett emphasizes how important it is to have fun. We were certainly all having fun.<br><br>The next day, my grandmother went to the hospital because she broke her hip. I tried doing it for her, and though her hip wasn't healed as far as I know, I believe it helped with her recovery. My entire family had a bad feeling about the surgery, and so did I, but once I did the technique, I felt a lot better. Today, the day after her surgery, she was able to sit up in a chair, and seemed to be fine, though of course she has to go through some rehab. Still, for being 86, I think that it was definitely a good sign.<br><br>Lastly, my mother was very tired, and started to lose her voice, from being on the go for the last three days, trying to take care of my grandmother. I felt strongly I should work on her, so asked if I could, because I knew she would get sick if she wasn't careful. I did, and within the next five or ten minutes, her voice was back to normal, and she was in a better, more energetic mood.<br><br>I've also used this technique for manifesting several things. I really wanted a MacBook Pro, and wanted somehow to get it before Christmas, which seemed to be impossible. However, without my knowledge, my mother called Apple last Thursday, and ordered one for me. I was right there when she did it, but I had no idea she was calling.<br><br><h3>Conclusions</h3><br><br>This is one of the most powerful healing technique I have come across so far. Reiki definitely had deep and long-lasting effects in my life, so I will never regret getting attuned, but the practice of Reiki can often be rigid, and focused too much on the problem. I think that this technique can definitely be joined with Reiki to make it a lot more effective.<br><br>Overall, though, Matrix Energetics is the science of not doing. Dr. Bartlett says that the more you do, the less you get, because you are trying too hard, and you can't possibly consciously affect the universe at the quantum level. However, if you just set your intention and let go, there is a space for God to work and for that wave between the two points to collapse, and a new outcome manifests into our current reality.<br><br>I would recommend anyone to read these books, and to implement it into their current practice. It is approved for use in massage therapy, so it is definitely well-known and being used out there. If nothing else, it helps you to have a healthy view of reality and of how to treat disease. It shows that instead of treating disease, we should focus on the person, and transform them into the person they want to be. Ask yourself, is it a disease, or just an experience you are currently choosing?
   </p>
    

  </div>

    

    
      
	
        
        
            
                
            
        
	  
      <table id="comments" style="width:450px;" border="0" cellpadding="4" cellspacing="0">
  <tr>
    <td>
      <h2 style="text-align:center;">
        Comments for<br>
        Matrix Energetics
      </h2>
      
      <p style="text-align:center; font-weight:bold;">
      	Average Rating <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/halfstar.gif" width="14" height="14" alt="star">
      </p>
      

      <p style="text-align:center">
         <a href="http://www.christs-light-ministries.org/matrix-energetics-comment-form.html">Click here to add your own comments</a>
      </p>
 

      
        
    </td>
  </tr>

  
    <tr>
      <td style="text-align:center;">
        <div id="25476978">
          
<div id="comment_25476978" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 13, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: <a href="brandon.html">Rev. Brandon A. Olivares</a></strong></span><br>
        <br><span class="subBodyText">
        Hi floslib,<br><br>I'm so glad that you are enjoying the book.<br><br>I think that one's personal belief has a lot to do with the results you get. If you believe that nothing miraculous can happen that can't be explained scientifically, then you aren't going to experience anything that opposes that viewpoint. That's why I really stress in this thread just opening up and allowing [b]anything[/b] to happen, even if it seems unfeasible. Sure, we might not see spines straightening out in a split second, or broken bones mending every day, but why can't it happen? I think that's the best attitude to have. Why limit the universe/God?<br><br>I'd love to hear any experiences you've had, though.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25476968">
          
<div id="comment_25476968" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 13, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: floslib</strong></span><br>
        <br><span class="subBodyText">
        I'm about halfway through the book now, and I must say, my first impression was definitely off. Whenever he's talking about the metaphysics (which is most of the time so far at least) and not the science, he seems to be dead on when compared to other experiences I've had and other reliable communities I've been a part of. So far, when he's talked about something metaphysical, I've been able to tell exactly what he's been talking about. <br><br>Naturally, I can't really change my stance on the rapidity and obviousness of the results quite so easily, as that's more of a thing to be seen in person than read about in a book, so I'll remain in my state of suspended skepticism on that for now, pending a chance to give that a try. I still believe that magic requires there to be some explanation reality and people in reality can come up with to explain why it happened in the absence of magic, or at least for there to be no direct witnesses to anything blatantly unexplainable (such as "incurable" diseases being cured). <br><br>I will admit, this is perhaps because this is such a common belief in magical circles, but it's one that still seems obvious to me. If it weren't this way, it seems magic wouldn't elude scientific discovery the way it has for so long, but perhaps it is just the ingrained beliefs we all hold today. Still, this is territory I think it pays to be careful with.<br><br>Finally, I will say that this is the first time I've found specific anecdotes about different experiences to be useful in a book, which is quite a feat, since my prior experience with such anecdotes has been to note that they're taking up space that could be devoted to better things. In this book though, I've found that the way he explains these different experiences has helped me to see and find ways to practice magic in a different light, which I think I might like to try out soon, when such a thing comes up.<br><br>Bear in mind, I still have about half the book to finish as of now, but so far my opinion about the book itself is much improved over the impression I got reading about the book.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25476961">
          
<div id="comment_25476961" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 13, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: <a href="brandon.html">Rev. Brandon A. Olivares</a></strong></span><br>
        <br><span class="subBodyText">
        Hi floslib,  . Really the only thing I have to say is that you should definitely read the book. While at first glance it seems like quack science, if you read the book, he really does explain it in detail, and seems to know what he is talking about. While he isn't a trained scientist, he has done his research, and has talked to a lot of scientists. I'd recommend suspending judgment until you can read one or both of his books, and/or go to one of his seminars.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25476939">
          
<div id="comment_25476939" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 13, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: floslib</strong></span><br>
        <br><span class="subBodyText">
        Yes, you have to draw the line on skepticism somewhere, but the more incredible a claim, the more skeptical one should be until sufficient evidence is found. As I said, I'm willing to suspend skepticism on this due to your experience, but I tend not to based on the claims of people I've never spoken with, such as a review on amazon or testimonial on a website. People can be paid to provide these things, and there are charlatans in the paranormal community. It's a sad truth. I am <em>not</em> saying Dr. Bartlett <em>is</em> a charlatan, I'm saying that they exist and one has to be careful in the face of incredible claims. As I noted before, I'll suspend my skepticism on this until I have a chance to do more reading.<br><br>As for your questions, I admit that reality certainly acts in ways beyond our expectations. Studying physics has shown me that, though not the way it's portrayed by new age people, and I believed this was true even before, as I started studying paranormal things on my own in middle school and found some success then. I can also admit that miracles can happen, though I tend to imagine them as being far less dramatic in life than we sometimes portray them to be. For example, when someone is miraculously healed from an incurable disease, it's usually with no knowledge it has occurred until the next test to see how the patient is doing, there's no dramatic music or light from heaven. It's obviously dramatic for the person and their friends and family in the sense that they will now live, but that's different. <br><br>Finally, I truly don't think it matters how they happen, so long as they do. However, knowing how they happen could allow us to replicate it more reliably to help more people, so knowing how could still be useful in that sense. But when they happen, it's certainly a good thing, and if we don't know how, we can be thankful for them happening at all.<br><br>That said, my issue isn't with knowing how they happen, but that a method is presented that uses the same quack science I see plastered all over the place in New Age circles. That doesn't mean the actual method is wrong, but it sends off alarms saying quack alert. If we're more concerned about making them happen than the science behind it, then why include the pseudoscience at all? Why not focus on the empirical results and let scientists sort it out? I have no problem with this, I just have a problem with the butchering of science some do to try to seem more respectable. I think that is dishonest, though I do give him credit for at least stating they're just ideas in his head rather than saying it's how it works. Still, that should be a side discussion rather than part of the workshop. Particularly if the point is to get past the logical model, it seems a weird way to do it. I admit though, this could be an honest mistake, especially due to how butchered quantum physics is a mainstay in paranormal circles it seems.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25475449">
          
<div id="comment_25475449" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 12, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Rev. Brandon A. Olivares</strong></span><br>
        <br><span class="subBodyText">
        Hey floslib<br><br>I understand where you are coming from. I usually am very skeptical, too, but something about this guy strikes me as very genuine. I can usually sense disingenuousness from a mile away. All I can say is that if you do find a seminar that is local, or that is within a reasonable distance, to at least attend the opening night. Many skeptics have been convinced otherwise by these seminars. For example, this review on Amazon for <a href="http://www.amazon.com/gp/product/1582701636?ie=UTF8&tag=thefuleff-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=1582701636" target="_blank">Matrix Energetics</a> really helped to convince me initially:<br><br><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2Freview%2FRE35TCBVNATYZ%3Fie%3DUTF8%26ASIN%3D1582701636%26nodeID%3D283155%26ref_%3Dcm_cr_dp_perm%23&tag=thefuleff-20&linkCode=ur2&camp=1789&creative=390957">Matrix Energetics Review</a><img src="https://www.assoc-amazon.com/e/ir?t=thefuleff-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br><br>I guess you could think it was just faked, but somewhere you have to draw the line on skepticism.<br><br>Otherwise, I would say that if you get yourself to a place where you can at least partially trust Dr. Bartlett, to try to listen to what he is saying in the books, even if the science he tries to use to prove it seems to be "butchered." He admits himself that this is just a "mythology," which is useful to explain it. He says he really doesn't know what is happening, but that it just happens. After all, it is not a technique he created, so much as a technique that found him when he least expected it, in a great moment of need. an you at least admit to yourself that things can happen in this reality that is way beyond our expectations? Can you admit to yourself that miracles [b]can[/b] happen? If so, does it matter how they happen, or does it just matter [b]that[/b] they happen?<br><br>Honestly, his entire purpose is to get us beyond the logical model, to think more in the right-brain when doing Matrix Energetics, because the left brain is much more limiting, trying to figure out everything, calculate, analyze, and so forth. He says that it is best if you just let go and let things happen, without needing an explanation.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25474244">
          
<div id="comment_25474244" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 12, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: floslib</strong></span><br>
        <br><span class="subBodyText">
        The videos aren't really convincing to me. They show things that could pretty easily be just set up between the healer and person being healed. <br><br>Your experiences with it are far more convincing to me since we've already been talking and I have an idea of how you look at things. I do think it's important to look at other possibilities as to why things happened as they did for you (there's a reason my development in this area is so slow!), but the fact that it seems to be working well for you and people you know is certainly reason enough for me to look a bit deeper into it.<br><br>I will say that relieving pain seems to be one thing that can happen near instantaneously. Broken bones mending... that takes some time... maybe less than would be normal, but I highly doubt instantaneous. This seems to mesh with your own experiences from what I read in your blog post, though admittedly it was mostly relieving pain and discomfort from what you said. I think I would really have to see a healing where open wounds visibly mend to be convinced that can happen, whether it was me who did it, or I saw in person someone else do it.<br><br>I am a skeptical person by nature. These things are very easy to fake, unless what's happening is blatantly obvious, and lots of people get taken in by fakes. I don't think that's the case with you, mind you, or I wouldn't be more willing to give this practitioner the benefit of the doubt for a bit longer as I see where things are going.<br><br>I still disagree with his approach to the science, as it really does butcher quite a bit, and it would be better to start looking for how it works than take established principles and try to twist them to suit his purpose... unless he has some kind of evidence that what he says is the cause of these things, which he doesn't seem to, and doesn't really make sense.<br><br>I will consider picking up one of the books for a read, though it may be a bit before I get to that. I would like to do some more research before I drop the money for the book.<br><br>I forgot to mention, I really don't have other people to practice healing on, aside from myself, for the time being, and things for myself are pretty minor when they come up. So anything I were to try with this would have to be other aspects of it. I don't know of any seminars nearby that may be coming up, unfortunately, or I would consider attending that open night for a look. Perhaps I'll be lucky and find one though.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25474211">
          
<div id="comment_25474211" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 12, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Rev. Brandon A. Olivares</strong></span><br>
        <br><span class="subBodyText">
        floslib,<br><br>Hmm, I am surprised about your response. Let me take this in a few chunks.<br><br>Regarding the science: even he admits that it is just a useful way to explain what is going on. He discovered the technique quite by accident, far before he came up with the scientific explanations for it. Usually the same thing really gets on my nerves, but because of the miracles people (not just he) report using this technique, I'm willing to reconsider.<br><br>Regarding the practicability of it: you are right that it is much like intention manifestation. However, he would say that believing that you have to wait for things to manifest is only a limiting belief in your own reality, which I would agree with.<br><br>Firstly, he does show a few of his healings online. Have you seen the videos section of his web site, especially <a href="http://www.matrixenergetics.com/video/2point/matrix_2_point_new.wmv" target="_blank">this one</a>?<br><br>Secondly, his books are filled with story after story about how this works for a lot of people, and I've seen a lot of independent stories as well, even in the reviews on Amazon, and with people I've talked to about it.<br><br>Thirdly, and most importantly to me, I have put the techniques into use, and have had really wonderful results myself, which I discussed in my original post.<br><br>I would suggest to open your mind to the possibility of this being real. I haven't gone to one of his seminars, though I really want to, but I'd suggest that if any of them are even remotely close to you, you at least go to the demo night they have open to the public before each seminar.<br><br>Or...you could read the books, allow yourself to belief, and try it for yourself.<br><br>It's interesting you think he's only trying to sell books and seminars. I can usually tell when someone is disingenuous, and that hasn't even crossed my mind here.<br><br>I'm sorry if I came across a bit short at all. I've already seen really great results with it, and have heard of amazing stories as well, so I admit I am trying to defend the guy. But, what if reality is a lot more fluid than you think it is?<br><br>I'll be posting more of my experiences as I go on, because this is just the tip of the iceberg. As I get more confident and am able to let go more, I am noticing better results, so I am sure they will be increasing even more.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25473527">
          
<div id="comment_25473527" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 12, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Matrix Energetics</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: floslib</strong></span><br>
        <br><span class="subBodyText">
        To be honest, I think this sounds a lot like refluffed intention manifestation. Unless they can show real science, it looks like the quantum physics is just being butchered as it typically is when brought into a spiritual/paranormal discussion. When they talk about collapsing waveforms, this is something that happens at a very small level, with small groups of discrete particles. I've heard of only one experiment that may have managed to make this happen on a larger scale, but the conditions were [very] specific, and even that experiment is still questioned, and hasn't been replicated to my knowledge.<br><br>As far as energy goes, since he seems to be trying to approach this from a scientific manner, energy isn't actually a thing to be touched or manipulated. Energy, as the term is used in science, is completely different from the term energy as used in metaphysics. In science, energy is the ability to do work. Work is moving something a particular distance using a particular amount of force (usually, if memory serves, there are some variations to that). To simplify a lot, of course. In metaphysics, as we're dealing with, energy is completely different, and something you can manipulate and change.<br><br>Now, getting to the actual technique, that seems like it's useful. It still sounds like intention manifestation, but a common difficulty for many people in magic, psychic abilities, energy manipulation, and the like is letting things happen instead of trying to force them to happen. The process he describes seems to be a good way to learn how to let things happen.<br><br>I can't comment on the live performances, as I've never seen one. I tend to be skeptical when I hear of such miraculous healings, as I've read a lot about them in paranormal circles, but hear nothing about them anywhere outside. Doesn't mean it isn't real, but sometimes a little skepticism is useful in not being taken for a ride. I haven't had long enough to really dig into the site, but from my first reading, it really looks like a case of too good to be true, overhyping something that is a lot more basic at its core, and an exercise in wish-fulfillment that won't happen as easily as claimed.<br><br>I know that probably sounds weird coming from me, given some of the things we talk about here, but this just looks a bit over the top to me, like it's meant to sell classes (and maybe books?) rather than just giving people the good information.<br><br>To summarize, I like the process, but the science is wacky, and I think the idea that things happen the instant you think about it correctly is a little bit out there. Not saying results can't ever be fast, but I imagine that the speed you get results is dependent at least somewhat on how large a change you are trying to make.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  

  
  <tr>
    <td>

    <p style="text-align:center;">
         <a href="http://www.christs-light-ministries.org/matrix-energetics-comment-form.html">Click here to add your own comments</a>
    </p>

    

    
    
    <p>
    <a href="http://www.christs-light-ministries.org/alternative-healing.html#INV">
    Join in and write your own page! It's easy to do. How?<br>
    Simply click here to return to <b>Alternative Healing</b></a>
    </p>

    

    
    </td>
  </tr>
  
</table>

	
      

    
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    
        


						<br>
                        <script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script><!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright  2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
			
<p><h3>Search Christ's Light Ministries</h3><div id="cse" style="width: 100%;">Loading</div><script src="http://www.google.com/jsapi" type="text/javascript"></script><script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script><link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /></p><p>        <hr width="100%" size="1" align="left">      			<h3><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p><p><a href="/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p></p><p>        <hr width="100%" size="1" align="left"><h3><a href="http://www.christs-light-ministries.org/featured-product"><strong>Open Ended Ceremonial Horn</strong></a></h3><table border="0" cellpadding="3" cellspacing="0"><tbody><tr><th align="right" valign="top">Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$14.95</em></td></tr><tr><th align="right" valign="top">Sale Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$12.78</em></td></tr></tbody></table></p><p><p><a href="http://www.christs-light-ministries-store.org/cart.php?action=add&product_id=155" style="color:#ff0000;"><strong><em>Add to Cart</em></strong></a></p></p><p><p>Whether in gleeful celebration or in solemn ceremony, this horn adds an old-world feel to your ritual that can't be passed up. Coming 6" in length or longer, it is the intact horn of a water buffalo, providing you with a wonderful ornament for your altar, drinking horn, or, when paired with another, a wonderful addition to a representation of the horned God, whether you are fixing it to a costume or creating an image for your altar. When used as part of your ritual magic it can also add to your magick, adding to its energies the strength and stamina of the beast from which it came.</p></p><p>        <hr width="100%" size="1" align="left">        <h3>Featured Testimonial</h3>        <p>I had a holistic healing session with <a href="brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p><p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hooponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift. (<a href="/the-healing-continues.html"><small>Read More</small></a>)</p>        <hr width="100%" size="1" align="left"><h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3><p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>
<form accept-charset="utf-8" action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Enter your E-mail Address</b><br><input name="email" type="text" size="12"><br>
<b>Enter your First Name (optional)</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

<hr width="100%" size="1" align="left">        <h3><a href="jesus-messages.html">Jesus' Messages</a></h3><dl id="recent-jesus-messages"><dt><a href="jesus-message-122-july-20-2011.html"><b>Jesus' Message #122: July 20, 2011</b></a></dt><dd>Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven for the glory of God.</dd></p><p><dt><a href="jesus-message-121-july-19-2011.html"><b>Jesus' Message #121: July 19, 2011</b></a></dt><dd>Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which is deeply rooted in the promises of God.</dd></p><p><dt><a href="jesus-message-120-july-18-2011.html"><b>Jesus' Message #120: July 18, 2011</b></a></dt><dd>Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path.</dd></p><p></dl></p>

		</td>
	</tr>
</table>

</body>
</html>
