{% extends '::base.html.twig' %}

{% block title %}Prayer Request{% endblock %}

{% block description %}If there is something you need prayer for, please post a prayer request and we will pray for you.{% endblock %}
{% block keywords %}prayer request, request prayer, prayers, prayer, encouragement{% endblock %}

{% block header %}
Submit Your Prayer Request
{% endblock %}

{% block body %}
<p>Do you have a prayer request? Is there something you want to ask prayer for? Prayer is effective and can be very healing, so we want to make that as widely available as possible.</p>

<p>You have three choices when it comes to submitting a prayer request to <strong>Christ's Light Ministries</strong>:</p>

<ol>
<li>You may <a href="#INV">post your prayer request on this Web site</a> so that more people can see your prayer request and pray for you. It is a better chance to allow people to give you encouragement and hope. You may also <a href="#VisitorPages">see what others have requested prayer for</a> and give them encouragement yourself. It forms a great community of spiritual seekers who can pray for and encourage one another.</li>
<li>Call our prayer line when you need someone to talk to and pray for you. Just call us any time of the day or night at <strong>+1 (888) 989-3544</strong>.</li>
<li>You may instead <a href="#private-prayer-request">submit your prayer privately</a>. We will add you to our prayer list, and Christine and I will pray for you.</li>
</ol>

<p>Select your method below...</p>


    <h2 id="VisitorPages" align="Left">Other Visitor's Prayer Requests</h2>
    <p>Click below to see the prayer requests other visitors to this page have posted. Don't forget to pray for them and give them encouragement in the comments.</p>
    <div id="submission_block">
    
      <p>
        <a href="http://www.christs-light-ministries.org/prayer-for-my-family.html"><b>Prayer for my family</b></a>&nbsp;
        
        <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><br>
        
        I have some prayer request.<br>(1) Please pray for my wife. her name is Shagufta Rani. She is feeling that the Devil is disturbing her. Please Pray For her ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/please-pray-for-deepening-of-the-relationship-in-2012.html"><b>PLEASE PRAY FOR DEEPENING OF THE RELATIONSHIP IN 2012!</b></a>&nbsp;
        
        Not rated yet<br>
        
        Please, pray: <br><br>That Our Lord God strength the relationship between Dejan M. and me! <br><br>That any barriers between us will be removed permanently and ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/christ-followers.html"><b>christ followers</b></a>&nbsp;
        
        Not rated yet<br>
        
        psychic, reiki gifts be allowed/authorized by bishop in our churches and no more denial. Psychic means prophetic. Include /bring Back Gospel of Mary Magdalene,...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/family-unity.html"><b>FAMILY UNITY</b></a>&nbsp;
        
        Not rated yet<br>
        
        Dear lord, let there be peace and unity in my family and with my husband and his brothers. Please let all things be sorted out amicably. Amen. Thank you....
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/engagement-restoration.html"><b>Engagement Restoration</b></a>&nbsp;
        
        Not rated yet<br>
        
        Please! Pray for me and my bride Talita Oliveira de Souza. Our engagement is over. I know she still loves me, but something is taking her apart.<br>God bless ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/spiritual-life-for-my-son.html"><b>Spiritual Life for my Son</b></a>&nbsp;
        
        Not rated yet<br>
        
        Lord You are Good and Your Mercy endureth forever.  Thank You Lord jesus for delivering my son Eddie and his family from the hands of the enemy.  Thanks ...
      </p>
    
      <p>
        <a href="http://www.christs-light-ministries.org/please-pray-and-fwd.html"><b>PLEASE PRAY AND FWD</b></a>&nbsp;
        
        Not rated yet<br>
        
        Please, pray: <br>That Our Lord God strengthen the relationship between Dejan M. and me! <br>For GOING DEEPER IN KNOWING EACH OTHER! <br>That WE SPEND A LOT ...
      </p>
    
  </div>

<h2>Call Our Prayer Line</h2>

<p>Call our prayer line any time of the day or night if you need someone to talk to you and pray for you. Call us now at <strong>+1 (888) 989-3544</strong>.</p>

<hr size="1" width="100%" align="Left" >
<p><a href="{{path('christslightministries_web_default_index')}}" title="Christ's Light Ministries">Return from <strong>Prayer Requests</strong> to <strong>Christ's Light Ministries</strong></a></p>
{% endblock %}
