<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>School of Healing and Psychic Development</title>

<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />


<META Name="Description" Content="The School of Healing and Psychic Development is an all-inclusive course of psychic development and holistic healing training that can bring you from an absolute beginner to a professional psychic and healer in only 24 lessons.">
<META Name="Keywords" Content="psychic development, holistic healing, spiritual development, psychic classes, spiritual growth">

<link href="http://www.christs-light-ministries.org/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<link href="http://www.christs-light-ministries.org/support-files/style.css" type="text/css" rel="stylesheet">



<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>


<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">


<script type="text/javascript" language="JavaScript">
//browser detection
function Is() 
{
   var agent = navigator.userAgent.toLowerCase();
   this.major = parseInt(navigator.appVersion);
   this.minor = parseFloat(navigator.appVersion);

   this.ns = ((agent.indexOf('mozilla') != -1) && 	
    (agent.indexOf('spoofer') == -1) && 
    (agent.indexOf('compatible') == -1) && 
    (agent.indexOf('opera') == -1) && 
    (agent.indexOf('webtv') == -1));

   this.ns2 = (this.ns && (this.major == 2));
   this.ns3 = (this.ns && (this.major == 3));
   this.ns4 = (this.ns && (this.major == 4));
   this.ns6 = (this.ns && (this.major >= 5));
   this.ie = (agent.indexOf("msie") != -1);
   this.ie3 = (this.ie && (this.major < 4));
   this.ie4 = (this.ie && (this.major == 4));
   if(this.ie4 && (agent.indexOf("msie 5.0") != -1))
   {
      this.ie4=false;
      this.ie5=true;
   }

   this.ieX = (this.ie && !this.ie3 && !this.ie4);
}

var is = new Is();

//Write text on top of a layer
function WriteLayer(id,text) 
{
   var DOM = (document.getElementById) ? true:false;	
   var divID;

   if (is.ns4) divID = document.layers[id];
   else if (is.ie4) divID = document.all[id];
   else if (DOM) divID = document.getElementById(id);

   if (is.ns4) 
   {
      divID.document.open();
      divID.document.write(text);
      divID.document.close();
   }
   else if (DOM ||is.ie4) 
   {
      divID.innerHTML = text;						
   }
}

function SetLayerVisibility(id,visibility)
{
   if (is.ieX||is.ns6)
   {
        this.obj = document.getElementById(id).style;
        this.obj.visibility = visibility;
   }
   else if(is.ie4)
   {
        this.obj = document.all[id].style;
        this.obj.visibility = visibility;
   }
   else if(is.ns4)
   {
        this.obj = document.layers[id];
        return this.obj;
   }
}

function SubmitData(code)
{
   var flag;

   flag = eval('isReady_' + code + '()');

   if (!flag)
   {
	return false;
   }   
   eval('document._' + code + '.target="_self";');
   eval('document._' + code + '.submit();');
}

var Reqd;
var eMai;

function trim(s)
{
   while (s.substring(0,1) == ' ')
   {
      s = s.substring(1,s.length);
   }
   while (s.substring(s.length-1,s.length) == ' ')
   {
      s = s.substring(0,s.length-1);
   }
   return s;
}

function CheckEmail(eMai)
{
    var h;
    eMai=trim(eMai);
    var ok = "1234567890abcdefghijklmnopqrstuvwxyz[].\@-_ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    for(h=0; h < eMai.length; h++)
    {
        if(ok.indexOf(eMai.charAt(h))<0)
        {
            return (false);
        }
    }
    var re = /(@.*@)|(\.\.)|(^\.)|(^@)|(@$)|(\.$)|(@\.)/;
    var re_two = /^.+\@(\[?)[a-zA-Z0-9\-\.]+\.([a-zA-Z]{2,4}|[0-9]{1,4})(\]?)$/;
    if (!eMai.match(re) && eMai.match(re_two))
    {
        return -1;
    }
}
function isReady_6366990358326195()
{
   var bFieldsFilled=true;
   
    if (document._6366990358326195._2637643551033501.value == "")
    {
        var Bl='B'+"_6366990358326195_2637643551033501";
        SetLayerVisibility(Bl,"hidden");

        var Re='R'+"_6366990358326195_2637643551033501";
        SetLayerVisibility(Re,"visible");

        if( bFieldsFilled)
        {
           document._6366990358326195._2637643551033501.focus();
           bFieldsFilled=false;
        }
    }
    else
    {
        var Bl='B'+"_6366990358326195_2637643551033501";
        SetLayerVisibility(Bl,"visible");

        var Re='R'+"_6366990358326195_2637643551033501";
        SetLayerVisibility(Re,"hidden");
    }


    if (document._6366990358326195._2898470932989163.value == "")
    {
        var Bl='B'+"_6366990358326195_2898470932989163";
        SetLayerVisibility(Bl,"hidden");

        var Re='R'+"_6366990358326195_2898470932989163";
        SetLayerVisibility(Re,"visible");

        if( bFieldsFilled)
        {
           document._6366990358326195._2898470932989163.focus();
           bFieldsFilled=false;
        }
    }
    else
    {
        var Bl='B'+"_6366990358326195_2898470932989163";
        SetLayerVisibility(Bl,"visible");

        var Re='R'+"_6366990358326195_2898470932989163";
        SetLayerVisibility(Re,"hidden");
    }

    Reqd='*'; 

    eMai=document._6366990358326195._2898470932989163.value;
      
    if(eMai.length && !CheckEmail(eMai))
    {
        var Bl='B'+"_6366990358326195_2898470932989163";
        WriteLayer(Bl,"<td align=left><font color='red'><b>The e-mail address<br>is not valid.<br>Please correct it.</b></font></td>");

        document._6366990358326195._2898470932989163.style.background = "#ff0000";
        if( bFieldsFilled)
        {
           document._6366990358326195._2898470932989163.focus();
           bFieldsFilled=false;
        }
    }
    else
    {
        var Bl='B'+"_6366990358326195_2898470932989163";
        var str="<td><b>E-mail Address"+Reqd+"</b></td>";      
        WriteLayer(Bl,str);
        document._6366990358326195._2898470932989163.style.background = "#ffffff";
    }

  
    if (document._6366990358326195._0662182267749252.value == "")
    {
        var Bl='B'+"_6366990358326195_0662182267749252";
        SetLayerVisibility(Bl,"hidden");

        var Re='R'+"_6366990358326195_0662182267749252";

        SetLayerVisibility(Re,"visible");
        if( bFieldsFilled)
        {
           document._6366990358326195._0662182267749252.focus();
           bFieldsFilled=false;
        }
    }
    else
    {
        var Bl='B'+"_6366990358326195_0662182267749252";
        SetLayerVisibility(Bl,"visible");

        var Re='R'+"_6366990358326195_0662182267749252";
        SetLayerVisibility(Re,"hidden");
    }


    if (document._6366990358326195._0901167525972503.value == "")
    {
        var Bl='B'+"_6366990358326195_0901167525972503";
        SetLayerVisibility(Bl,"hidden");

        var Re='R'+"_6366990358326195_0901167525972503";

        SetLayerVisibility(Re,"visible");
        if( bFieldsFilled)
        {
           document._6366990358326195._0901167525972503.focus();
           bFieldsFilled=false;
        }
    }
    else
    {
        var Bl='B'+"_6366990358326195_0901167525972503";
        SetLayerVisibility(Bl,"visible");

        var Re='R'+"_6366990358326195_0901167525972503";
        SetLayerVisibility(Re,"hidden");
    }

      if(document._6366990358326195.submission_challenge && !document._6366990358326195.submission_challenge.value.length)
      {
         document._6366990358326195.submission_challenge.style.background = "#ff0000";
         if( bFieldsFilled)
         {
            document._6366990358326195.submission_challenge.focus();
            bFieldsFilled=false;
         }
      }

   if(!bFieldsFilled)
   {
      var str='<br><b><FONT size="3" face="Verdana, Arial, Helvetica, sans-serif" color="red">';
          str +='This Form cannot be submitted until the missing<BR>';
          str +='fields (labelled below in red) have been filled in.</FONT></b>';
      WriteLayer("MissingFields_6366990358326195",str);


      SetLayerVisibility("MissingFields_6366990358326195","visible");
   }
   else
   {
      SetLayerVisibility("MissingFields_6366990358326195","hidden");
   }

   return bFieldsFilled;
}

</script>

</HEAD>

<body onLoad="MM_preloadImages('http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'); ">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="imgs/logo.jpg" width="725" height="140" alt="logo for christs-light-ministries.org"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
            
            <div>
            Need prayer? Call our prayer line<br>
            <strong>(888) 989-3544</strong>
            </div>
				
				
				<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center><br>


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fforums%2Echrists-light-ministries%2Eorg%2F&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fschool-of-healing-and-psychic-development%2Ehtml'; return false;"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<img border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-ON.gif" alt="Full Training"><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				
			</div>
			<img src="imgs/LEFT.gif" width="130" height="10" alt="LEFT for christs-light-ministries.org">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>

<h1 style="text-align:center; color:#000066">
Want to Become a Professional Psychic and Healer in Only Three Months?
Join the <strong>School of Healing and Psychic Development</strong>!
</h1>

<p style="text-align:center;">
By <a href="brandon.html">Rev. Brandon A. Olivares</a>
</p>

<p>Psychic development and holistic healing may seem like completely different topics, but I have found that they are really quite similar, and can be used quite effectively in tandem. Those who heal can be served with a developed intuition to find those areas and issues that need to be healed, and intuitives can heal the issues that can be healed as they have discovered through their intuition.</p>

<p>The <strong>School of Healing and Psychic Development</strong> is a combined training package of the <a href="school-of-psychic-and-spiritual-development.html"><strong>School of Psychic and Spiritual Development</strong></a> and the <a href="school-of-the-healing-light-of-christ.html"><strong>School of the Healing Light of Christ</strong></a>. In this combined training package, I will be helping you to develop your gift of healing as well as your psychic abilities, and will teach you how to use them as a powerful combination to improve both your own life as well as that of others.</p>

<h2>Why Should I Choose The <strong>School of Healing and Psychic Development</strong>?</h2>

<p>I searched the Web for any class or course that came anywhere close to what is being offered here. I found <em>nothing</em>. Everything that I found offered either e-books, audio courses, or personal seminars that ran in the thousands of dollars.</p>

<p>E-Books can serve as a great start, but there's no way that they can take you very far. There is no one-size-fits-all solution to developing your psychic abilities. Every person is unique, and has their own challenges and difficulties, and needs help unique to each situation. Many of these courses don't even allow you to ask questions.</p>

<p>Seminars are great, for those who can afford them. However, many people just don't have the disposable income or the <em>time</em> to attend such a seminar, and it can often be very intensive and overwhelming. Who can take off work for a week on a whim? Even if you can, it's easier just to do psychic development on the side, going at the pace that works for you.</p>

<p>So, what does the <strong>School of Healing and Psychic Development</strong> have over all of these other options?</p>

<h3>One-on-One Instruction over the Phone or Skype</h3>

<p>The <strong>School of Healing and Psychic Development</strong> is a middle-of-the-road solution. YOu can do it distantly, but you get to work with someone one-on-one to discuss and work through your specific challenges and answer all of your questions without you feeling like you are on the clock. In fact, you are able to directly talk to me, <a href="brandon.html">Rev. Brandon</a>.</p>

<p>You are guaranteed 24 lessons on the phone with me, privately, working through your questions and challenges, and teaching you even more on how to develop your psychic abilities and holistic healing potential. Yes, that's right, these hour lessons are not shared with any other student; it is just <em>you</em>.</p>

<h3>Priority Scheduling for Urgent Questions or Challenges</h3>

<p>In addition to that, if you ever have any urgent questions or challenges, you can schedule a time with me to talk over the phone, and you get priority scheduling so that we can talk as soon as possible.</p>

<h3>Exclusive One-Year Access to Our Weekly Psychic Development Phone Conference</h3>

<p>Every student is guaranteed one-year access to our exclusive weekly conference call on psychic and spiritual development, as well as a second weekly conference call on holistic healing. Every week, you can join in as I teach about more specific topics on psychic development and holistic healing that I just don't have enough time to discuss in the training. You can share your own experiences, and listen to other students as they share their experiences as well. Finally, you can ask your questions that you don't mind sharing with the group, and we can discuss and try to resolve them. Even better, if you can't join in some weeks, you always have access to the recorded transcript of the conference, so you can still benefit from the content.</p>

<p>Yes, that is 104 hours of specific, exclusive teachings on psychic development and holistic healing. This alone is worth the price of the school. You can even renew your access for another year if you like, for a reduced price.</p>

<h3>Exclusive Lifetime Access to the <strong>Psychic and Spiritual Development Newsletter</strong> and the <strong>Healing Light of Christ Newsletter</strong></h3>

<p>Get exclusive access to our <strong>Psychic and Spiritual Development Newsletter</strong> as well as the <strong>Healing Light of Christ Newsletter</strong>. Even more exclusive material on psychic development and holistic healing is shared in these newsletters, and you can also read about experiences that our students have shared. You have access to these newsletters for life.</p>

<h3>Chakra Balancing and Alignment</h3>

<p>At the beginning of each level (every eight lessons), you will receive a full chakra balancing and healing attunement. This will serve to realign and open the chakras, open up the energy pathways in your body and soul, clear out any residual karmic bonds, and open the third eye center and crown, which are the most important centers for psychic development. It will also attune you progressively to the levels of the <strong>Healing Light of Christ</strong> system of holistic healing. Finally, as with all attunements that we do, we will pray for an infusion of God's Spirit, the Holy Spirit, to propel you forward both in your spiritual growth as well as your psychic development. The more open you are to this, the more that you will be transformed to be more open to psychic and spiritual development.</p>

<h3>Guided Meditations</h3>

<p>When you register for the <strong>School of Healing and Psychic Development</strong>, you will get free access to many of the guided meditations that we offer. Currently, this includes:</p>

<dl>
<dt>
<a href="higher-self-guided-meditation.html">
<strong>Higher Self Guided Meditation</strong>
</a>
</dt>
<dd>
This is a guided meditation to help you to meet with and talk to your higher self, in order to gain more insight on your life purpose and what lessons you are here to learn. This guided meditation will supplement the specific training you will receive for communicating with your higher self, and give you a specific method for meeting with and talking to him or her through this meditation.
</dd>
</dl>

<h2>Do I Have to be Spiritual to Join This School?</h2>

<p>You do not have to be religious, but you must strive to live a spiritual life.</p>

<p>When I did my research on other related courses, the one thing that struck me and saddened me was how it was marketed. I will never promise you strange new powers that you can influence others with or get your way. I will never tell you that you can get information about people that you have no right to. All of this is just an ego trip, and is sure to get you in trouble. If you are looking for that, you are in the wrong place.</p>

<p>I strongly believe that psychic abilities and holistic healing potential should be developed hand-in-hand with your spiritual growth. It doesn't matter to me what religion you are, or if you just have personal spiritual beliefs, but you need some sort of spirituality to serve as a worthy foundation of these new psychic abilities. If you don't have that foundation, you have the risk of being overcome, using them for the wrong reasons, and even being influenced by negative forces. All of that is very ugly, and we won't go anywhere near it.</p>

<p>It's not only that, though. with our existing students, I have seen that developing their psychic abilities and healing potential through these schools has far reaching effects. When working with the essential energies and hidden powers of the universe, you learn things about God that you never might have learned or experienced otherwise. It is a very experiential process, and you grow a much stronger connection with God in the end. We preach using your abilities and gifts alongside and in service to God, and the more you continue in the training, the more you realize why that is necessary.</p>

<p>Yes, psychic abilities can be developed without spirituality, but they can be developed even more powerfully when you are becoming more spiritually advanced. It is like rowing a boat against the current of the river vs. along with the current. If you try to develop psychic abilities on their own, you are rowing against the current, and may even get caught in some rapids or get bashed against some rocks. Ouch! However, if you work on your spiritual development as well, then you are going with the flow of the river, and you will reach your destination even faster.</p>

<p>There are powers in the universe that you could not even dream of. However, I guarantee you that these powers are yours if you become spiritually developed. God only gives such powers to those who are highly spiritually developed, because they are the only ones who know how to use them responsibly. If your only concern is for power, then they will work against you.</p>

<p>So, this school is rather different from any other because it integrates spirituality in the teaching of holistic healing and psychic development. If you trust me in this, you will see much more than you ever thought possible, if you promise only to use it for the good.</p>

<h2>Take Your First Step to Psychic Mastery Today</h2>

<p>So, just to summarize, when you sign up for the <strong>School of Healing and Psychic Development</strong>, you get:</p>

<ul>
<li>Twenty-four hours of private, one-on-one lessons with me, <a href="brandon.html">Rev. Brandon Olivares</a> over the phone or Skype</li>
<li>Priority scheduling to talk to me about urgent questions or challenges</li>
<li>Exclusive access to the psychic development and holistic healing weekly conferences  for up to one year, with the option to renew</li>
<li>Access to recordings from the exclusive psychic development and holistic healing weekly conferences for up to one year</li>
<li>Exclusive lifetime access to the <strong>Psychic and Spiritual Development Newsletter</strong> and the <strong>Healing Light of Christ Newsletter</strong> for even more teachings not found in the lessons</li>
<li>Three full sessions of chakra balancing and healing attunements to open up your energy pathways, activate the third eye psychic center, and pray for an infusion of the Holy Spirit for accelerated growth.</li>
</ul>

<p id="lessons-content">What will you learn in the lessons? Because every person is different, the lessons are customized to each student, but you can expect to learn this, and more:</p>
<ol>
<li>How to begin to listen to and trust your intuition</li>
<li><strong>Important!</strong> How to protect yourself from negative energy and spirits through psychic protection</li>
<li>How to tangibly feel energy within and around you</li>
<li>How to develop clairsentience&mdash;the ability to receive psychic information through feeling and emotion</li>
<li>How to develop empathy&mdash;the ability to detect other people's emotions</li>
<li>How to read your own energy centers, called chakras, and the flow of energy in your body and soul</li>
<li>How to call upon the first form of energy as introduced in level 1; this energy is very holistic, being used to break down division and bring unity</li>
<li>How to do healing for yourself</li>
<li>How to do healing for others through the laying on of hands</li>
<li>How to develop clairaudience&mdash;the ability to receive psychic information through hearing</li>
<li>How to communicate with your angels and spirit guides. If your belief system only recognizes angels, that is fine, too.</li>
<li>How to read the energy field of another person to get quick information about them</li>
<li>How to access the second form of energy for healing; this energy is used for aiding issues of emotions, anxiety, power, communication, and psychic development</li>
<li>The ethics of reading other people</li>
<li>How to develop clairvoyance&mdash;the ability to receive psychic information through seeing and visions</li>
<li>How to heal people distantly, without touching</li>
<li>How to discover your own life lessons and life purpose</li>
<li>How to scan the chakras and energy flow of another person for even deeper information</li>
<li>How to scan the timeline for yourself or any person</li>
<li>How to do psychic defense and psychic battle and free people of negative forces, evil spirits, and demons</li>
<li>How to call upon and use the third form of energy; this is the deepest form, and is used for both spiritual issues as well as physical issues, because the physical is a mirror of the spiritual</li>
<li>How to conduct a professional reading for a client</li>
<li>How to clear out residual karma for yourself and others</li>
<li>How to develop claircognizance&mdash;the ability to receive psychic information just by knowing it instantly</li>
<li>How to combine all three forms of healing energy for the most powerful healing</li>
<li>How to create a business around psychic or intuitive readings, or how to integrate it into your own work (optional)</li>
<li>How to create a successful, profitable Web site for doing readings (optional)</li>
</ol>

<h2>How Do I Get Started?</h2>

<p>The <strong>School of Healing and Psychic Development</strong> is split into three levels. Each level gets more advanced than the last.</p>

<p>You are not required to do all three levels, but it is highly encouraged. Each level will give you:</p>

<ul>
<li>Eight lessons of healing and psychic development</li>
<li>One attunement and chakra balancing</li>
<li>Four months access to the exclusive psychic development weekly conference and holistic healing weekly conference. All three levels will give you a full year's access.</li>
<li>Lifetime access to the <strong>Psychic and Spiritual Development Newsletter</strong> and the <strong>Healing Light of Christ Newsletter</strong></li>
</ul>

<p>I strongly encourage you to start with the first level, no matter how experienced you might be in psychic development. Each lesson is customized for each individual student, and there is more than enough material that we can go over that you probably have not learned before, or I can help you to master things you have had trouble with in the past. If you really think you should start with a later level, <a href="contact.html">contact us</a> and I will evaluate your request.</p>

<p>Read through all of the below options before choosing. You can purchase any level by itself, but there are <a href="#packages">discounts</a> for purchasing two or <a href="#best-value">all three</a> levels together to save over 10%.</p>

<p><strong>Important!</strong> Just for a limited time, the next nine people who sign up for the <strong>School of Healing and Psychic Development</strong> will receive a 20% discount! Be sure to get in now to take advantage of the opportunity.</p>

<h3>Our Guarantee</h3>

<p>I know it can be difficult to decide. I guarantee you that if you try out this program, and are not satisfied within the first 30 days, you will get your full money back.</p>

<h3><strong>The School of Healing and Psychic Development</strong> Levels</h3>

<p>See our <a href="#best-value">full package</a> to save $114.00 (13%), or any of the other <a href="#packages">packages</a> to save over 10%.</p>

<table border="1" cellpadding="3" cellspacing="3" width="100%">
<thead>
<tr>
<th>Level</th>
<th>Description</th>
<th>Price</th>
<th>Discounted Price<br>Next Nine Students Only</th>
<th>Buy Now!</th>
</tr>
</thead>

<tbody>
<tr>
<th>Level 1<br>Lessons 1-8</th>
<td>Level 1 will introduce you to listening to and trusting your intuition, learning to feel the flow of energy within and around you, learning to read your own energy field and chakras, learning to use the first form of healing energy, developing the abilities of clairsentience and empathy, beginning to become acquainted with your angels and spirit guides, and protecting yourself against negative influences.</td>
<td>$297.00</td>
<td><strong>$237.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BUW5LG2YF7QHE">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<th>Level 2<br>Lessons 9-16</th>
<td>This level will improve your psychic abilities and healing potential even more, teach you how to read other people's energy fields accurately, how to communicate with your angels and spirit guides as well as other spirit beings if desired, how to use the second form of healing energy, how to develop clairaudience, how to heal others distantly, and how to scan timelines for either yourself or others both in the future and in the past.</td>
<td>$377.00</td>
<td><strong>$297.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6ZG8C324SNZQ6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<th>Level 3<br>Lessons 17-24</th>
<td>This level is the most advanced. It teaches you how to improve your psychic abilities even more, how to develop claircognizance, how to use the third and deepest form of healing energy, how to do psychic battle to free people of evil influences, how to teach healing to others, and how to do professional psychic readings for clients. Real test clients are provided for practice.</td>
<td>$447.00</td>
<td><strong>$357.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5B8VNS8QEGLGU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>
</tbody>
</table>

<h3 id="packages"><strong>The School of Healing and Psychic Development</strong> Packages</h3>

<table border="1" cellpadding="3" cellspacing="3" width="100%">
<thead>
<tr>
<th>Level</th>
<th>Description</th>
<th>Price</th>
<th>Discounted Price<br>Next Ten Students Only</th>
<th>Buy Now!</th>
</tr>
</thead>

<tbody>
<tr>
<th>Levels 1 and 2<br>Lessons 1-16<br><strong>Save $57.00</strong></th>
<td>Wherever you are in your psychic development, jumpstart your progress. Learn about psychic protection, listening to and trusting your intuition, feeling energy within and around you, reading your own energy fields and chakras, using the first two forms of energy to heal yourself and others, communicating with your angels and spirit guides, reading other people's energy fields and chakras, developing clairsentience, developing empathy, developing clairaudience, scanning timelines, and more!</td>
<td>$597.00</td>
<td><strong>$477.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RHHGXENL8Z2UQ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<th>Levels 2 and 3<br>Lessons 9-24<br><strong>Save $57.00</strong></th>
<td>This package is for you if you've already done level 1 and just want to get the rest of the package. Learn how to communicate with your angels and spirit guides, how to read other people's energy fields and chakras, how to use the second and third forms of healing energy to heal yourself and others, how to do professional psychic readings including doing a psychic reading for real test clients, how to do psychic battle to free others from evil spirits and demons, how to develop clairaudience, how to develop clairvoyance, how to develop claircognizance, how to teach healing, and how to create your own business for your work if that is your desire.</td>
<td>$747.00</td>
<td><strong>$597.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="BQVVZ6SUBNB32">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</td>
</tr>

<tr>
<th id="best-value">Full Package<br>Lessons 1-24<br><strong>Save $114.00</strong><br><strong><em>Recommended</em></strong></th>
<td>This package gives the best value! Go from wherever you are in your healing and psychic development to a professional psychic and healer ready to do professional psychic readings and holistic healing for clients, and even to start your own business or integrate your new-found skills into your own work.</td>
<td>$977.00</td>
<td><strong>$777.00</strong></td>
<td>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z82BVTX6HSRJ4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</tr>
</tbody>
</table>

<p>If you have any questions about the <strong>School of Healing and Psychic Development</strong>, please contact us and we will discuss your questions and concerns.</p>

<!-- FormDisplay.html -->
<STYLE type="text/css">
<!--
.formbody {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12 px;}
-->
</STYLE>
<form method="post" name="_6366990358326195" action="http://www.christs-light-ministries.org/cgi-bin/fb/FormProcess.pl" >
<!--FORMCODE 2255488331704824_6366990358326195-->
<INPUT type="hidden" name="DOMAIN" value="christs-light-ministries.org" >
<INPUT type="hidden" name="DOMAIN_ID" value="21125140" >
<INPUT type="hidden" name="FORM_CODE" value="2255488331704824" >
<INPUT type="hidden" name="SUBMISSION_TYPE" value="1" >

<TABLE bgcolor="#FFFFFF" border="1" bordercolor="#000000" 
cellspacing="0" cellpadding="2" align="center" width="500">
<TR>
<TD><TABLE border="0" cellspacing="0" cellpadding="4" align="center" width="100%" class="formbody">
<TR>
<TD colspan="2" align="center">
<FONT size="+1"><B>Contact Us</B></FONT>
</TD>
</TR>


<DIV ID="FormLayer_6366990358326195" style="visibility:visible">
<DIV ID="MissingFields_6366990358326195" style="visibility:hidden" align="center">
</DIV>
<tr><td colspan="2" align="center"><font face="Verdana, Arial, Helvetica,
sans-serif" size="1">Please note that all fields followed by an asterisk must be filled in.</font></td></tr>
<tr><td align="right" valign="top" width="50%"><b><div id="B_6366990358326195_2637643551033501" style="visibility: visible"><font color="black">First Name*</font></div><div id="R_6366990358326195_2637643551033501" style="visibility: hidden"><font color="red">First Name*</font></div></b></td><td width="50%"><input type="text" name="_2637643551033501" size="35" value=""></td></tr>
<tr><td align="right" valign="top" width="50%"><b><div id="B_6366990358326195_2898470932989163" style="visibility: visible"><font color="black">E-mail Address*</font></div><div id="R_6366990358326195_2898470932989163" style="visibility: hidden"><font color="red">E-mail Address*</font></div></b></td><td width="50%"><input type="text" name="_2898470932989163" size="35" value=""></td></tr>
<tr><td align="right" valign="top" width="50%"><b><div id="B_6366990358326195_0662182267749252" style="visibility: visible"><font color="black">Subject*</font></div><div id="R_6366990358326195_0662182267749252" style="visibility: hidden"><font color="red">Subject*</font></div></b></td><td width="50%"><input type="text" name="_0662182267749252" size="35" value=""></td></tr>
<tr><td align="right" valign="top" width="50%"><b><div id="B_6366990358326195_0901167525972503" style="visibility: visible"><font color="black">Message*</font></div><div id="R_6366990358326195_0901167525972503" style="visibility: hidden"><font color="red">Message*</font></div></b></td><td width="50%"><TEXTAREA name="_0901167525972503" cols="50" rows="8" wrap="VIRTUAL"></textarea></td></tr>
	
</DIV>
						

     <script language="JavaScript">
     function playSound(bPlay)
     {
        if(is.mac && !is.safari)
        {
           if(bPlay)
           {
              window.open('http://www.christs-light-ministries.org/cgi-bin/CAPTCHA/Sound.pl?domain=christs-light-ministries.org&name=2255488331704824','SoundWindow','scrollbars=no,resizable=no,width=10,height=10');
           }
        }
        else if(is.ns || is.opera)
        {
           var str = (bPlay) ? '<EMBED SRC="http://www.christs-light-ministries.org/cgi-bin/CAPTCHA/Sound.pl?domain=christs-light-ministries.org&name=2255488331704824" AUTOSTART="TRUE" HIDDEN="FALSE">' : '';
           WriteLayer('auEmb',str);       
           eval("document.auEmb." + (bPlay ? "play()" : "stop()"));
        }   
        else 
        {
           var DOM = (document.getElementById) ? true : false;
           var auCon = (DOM) ? document.getElementById("auIEContainer") : document.auIEContainer;
           auCon.src = (bPlay) ? "http://www.christs-light-ministries.org/cgi-bin/CAPTCHA/Sound.pl?domain=christs-light-ministries.org&name=2255488331704824" : "";
        }
     }
     </script>

     <tr bgcolor="#ffffff">
     <td colspan="2" align="center">

     <BGSOUND ID="auIEContainer">
     <DIV ID='auEmb' STYLE='position:absolute; visibility:hidden'></DIV>  

     <p>Please enter the word that you see below.<br>
     <!-- (If you cannot see it, click to hear the word, and then enter it.)--></p>
     <p><a href="#SOUND" onClick="playSound(true);">
     <img src="http://www.christs-light-ministries.org/cgi-bin/CAPTCHA/Image.pl?domain=christs-light-ministries.org&name=2255488331704824" align="middle" width="240" height="52" border="0"></a>
     &nbsp;&nbsp;
     <input name="submission_challenge" type="text">
     </p>
     </td>
     </tr>

   

<TR>
<TD colspan="2" align="center">
<INPUT type="button" name="Button" value="Send It!" onClick="SubmitData('6366990358326195');">
</TD>
</TR>
</TABLE>
</TD>
</TR>
</TABLE>

</form>

            <div style="width:340px; margin:12px auto; text-align:center;"><br>
<script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* 336x280 Bottom */
google_ad_slot = "3294468029";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<br><br>
</div>

<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

<form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>


<hr size="1" width="100%" align="Left" >
<p><a href="http://www.christs-light-ministries.org" title="Christ's Light Ministries">Return from <strong>School of Healing and Psychic Development</strong> to <strong>Christ's Light Ministries</strong></a></p>

<script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script>

						<br>
                        <!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright  2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
<h3>Search Christ's Light Ministries</h3>
<div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

        <hr width="100%" size="1" align="left">
      
			<h3><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>
            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p>
<p><a  href="http://www.christs-light-ministries.org/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p>

        <hr width="100%" size="1" align="left">
<h3>Latest Forum Discussions</h3>
<script type="text/javascript" src="http://forums.christs-light-ministries.org/external.php?type=js"></script>
<script type="text/javascript">
document.write("<p>Showing " + threads.length + " recent threads.</p>\n");
document.write("<ol>\n");
for (var i = 0; i < threads.length; i++)
{
document.write("<li><a href=\"http://forums.christs-light-ministries.org/threads/" +
threads[i].threadid + "\">" +
threads[i].title + "</a><br>\n" +
"Started by " +
threads[i].poster + "<br>\n" +
"Posted on " +
threads[i].threaddate + " at " +
threads[i].threadtime + ".</li>\n");
}
document.write("</ol>\n\n");
</script>

        <hr width="100%" size="1" align="left">
        <h3>Featured Testimonial</h3>
        <p>I had a holistic healing session with <a  href="http://www.christs-light-ministries.org/brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php" onClick="window.location.href='http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=http%3A%2F%2Fholistic-healing%2Echrists-light-ministries%2Eorg%2Fintake-form%2Ephp&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fschool-of-healing-and-psychic-development%2Ehtml'; return false;">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p>
<p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hooponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift. (<a  href="http://www.christs-light-ministries.org/the-healing-continues.html"><small>Read More</small></a>)</p>
        <hr width="100%" size="1" align="left">
<h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3>

<p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>

        <form action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Email</b><br><input name="email" type="text" size="12"><br>
<b>Name</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

        <hr width="100%" size="1" align="left">
        <h3><a  href="http://www.christs-light-ministries.org/jesus-messages.html">Jesus' Messages</a></h3>
<dl id="recent-jesus-messages">
<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-147-august-14-2011.html">
<b>Jesus' Message #147: August 14, 2011</b>
</a>
</dt>
<dd>
Jesus' message teaches that we all are manifestations of the light of Christ and the love of God; we all come out of the light and return to it. Jesus focuses on the oneness of all, teaching that we are allays in the presence of God.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-146-august-13-2011.html">
<b>Jesus' Message #146: August 13, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we must do good to all, regardless whether another does good or evil to us. Jesus also says, however, that we must stand up for our own dignity.
</dd>

<dt>
<a  href="http://www.christs-light-ministries.org/jesus-message-145-august-12-2011.html">
<b>Jesus' Message #145: August 12, 2011</b>
</a>
</dt>
<dd>
Jesus' message says that we hold direct all recognition and praise to God, and not attempt to take this recognition ourselves, for this leads to greater selfishness, while giving it only to God leads to greater love.
</dd>

</dl>

		</td>
	</tr>
</table>
</body>
</html>
