<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><link rel="canonical" href="http://www.christs-light-ministries.org/all-in-all-sample.html"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<title>All in All Sample</title>

<!-- Don't let robots index here, please -->
<meta name="robots" content="noindex,nofollow">

<script type="text/javascript" src="support-files/soundmanager2.js"></script>

<script type="text/javascript">
soundManager.url = 'support-files/';

soundManager.useHTML5Audio = true;

soundManager.useFlashBlock = false;

soundManager.debugMode = false;

soundManager.onready(function()
{
  var ascension = soundManager.createSound({
    id:'ascension',
    url:'http://www.thefulleffect.org/music/All%20in%20All%20Sample.mp3',
    onload:function()
    {
    }
  });
  
        ascension.play({
      });

});

</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body onLoad="">
<h1 style="text-align:center; color:#000066">
All in All: Sample
</h1>

<p><strong>Buy now</strong> for $1.97</p>

<p><a target="_top" class="dpdcart iframe" href="https://getdpd.com/v2/cart/add/8167/19337/18648" onClick="window.open('http://www.christs-light-ministries.org/cgi-bin/counter.pl?url=https%3A%2F%2Fgetdpd%2Ecom%2Fv2%2Fcart%2Fadd%2F8167%2F19337%2F18648&referrer=http%3A%2F%2Fwww%2Echrists-light-ministries%2Eorg%2Fall-in-all-sample%2Ehtml'); return false;"><img border="0" alt="Add to Cart" src="https://getdpd.com/images/buy_buttons/atc/solid1/dpd_addtocart_1.png"></a></p>

<p>Can't hear this sample? <a href="http://www.thefulleffect.org/music/All%20in%20All%20Sample.mp3">Click here to listen</a></p>

<p><a href="javascript:window.close()">Close Window</a></p>

</body>
</html>
