<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Grace: What It Is and What It Does</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<META Name="Description" Content="June 28, 2009  On our spiritual journey, it can become evident that we need God's help&mdash;we need God's grace to get us through. Without it, we get">
<META Name="Keywords" Content="grace: what it is and what it does, spiritual journey, spiritual path, religious beliefs, religion, spirituality">
<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>



<style type="text/css" media="all">
body, td
{
	font:13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000;
	margin: 0px;
	}
.thirdColumn {
width:235px;
vertical-align:top;
padding:18px 4px; 
}

</style>
</head>


<body link="Blue" vlink="Purple" alink="Red" background="http://www.christs-light-ministries.org/imgs/BACK.gif" bgcolor="#FFFFFF" onLoad="'http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="http://www.christs-light-ministries.org/imgs/logo.jpg"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="http://www.christs-light-ministries.org/imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
				
<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center>
				
				


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				

			</div>
			<img src="http://www.christs-light-ministries.org/imgs/LEFT.gif">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>
						
<!--  -->
<style type="text/css">
  
  .errFld {
    padding: 3px;
  }
  .errFldOn {
    padding: 0px;
    border: 3px solid red;
  }
  .errMsg {
    font-weight: bold;
    color: red;
    visibility: hidden;
  }
  .errMsgOn {
    visibility: visible;
  }

  #edit textarea {
    border: 1px solid #000;
  }

  /* used in both edit and preview modes */
  .editTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  #preview .editTitle {
    margin-top: 0px;
  }
  .editName, .editCountry {
    text-align: center;
  }
  .editName, .editCountry, .editBody {
  }
  .editBody {
    text-align: left;
  }
  #preview {
    margin-left: auto;
    margin-right: auto;
  }
  
  .GadSense {
  float:left; 
  vertical-align:top; 
  padding:0 8px 8px 0; 
  margin:0 8px 0px 0;
  }

	.gLinkUnitTop {
	width:466px;
	margin:12px auto;
	}
	
	.gLinkUnitBot {
	width:120px;
	float:right;
	margin:4px 0 24px 36px;
	}
  
</style>


  <div id="Grace: What It Is and What It Does" style="border:0px solid black;padding:5px;">

    <h2 style="text-align:center;">Grace: What It Is and What It Does</h2>

    <p style="text-align:center;">
      
        by <a href="brandon.html">Rev. Brandon A. Olivares</a>
      
      
        <br>(Johnstown, PA, USA)
      
    </p>
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    

    
    
    
        
            
        
    
    
    <p>
        
            
                 
            
        
        June 28, 2009<br><br>On our spiritual journey, it can become evident that we need God's help&mdash;we need God's grace to get us through. Without it, we get hopelessly stuck in this world without a way out.<br><br>So we must pray for and accept that grace. However, there are a few basic different types of grace: sanctifying grace and actual grace. Knowing the difference can help us even more to know what is happening supernaturally in our relationship with God, and motivate us to pursue spiritual growth with even more vigor.<br><br>The information in this article comes from a Catholic article that I found.<br><br><a href="http://www.catholic.com/library/Grace_What_It_Is.asp" target="_blank">Grace: What It Is and What It Does</a><br><br><h3>Sanctifying Grace</h3><br><br>Sanctifying grace is grace that remains within the soul. It is that which gives the soul a supernatural nature, that is capable of going to heaven after death, or at least purgatory. It is grace that binds us to God in a relationship with Him. It is sanctifying grace that  makes us holy before God.<br><br>How do we lose sanctifying grace? By sinning mortally. Any mortal sin completely cuts off our relationship with God, removing all sanctifying grace, defiling the soul.<br><br>However, even venial sin can weaken our supply of sanctifying grace if practiced regularly. This is why all sin is to be avoided.<br><br>If the soul does not have sanctifying grace at death, then it goes to hell, according to Catholic doctrine. Thus the name of "mortal sin"&mdash;sin that leads to death.<br><br><h3>Actual Grace</h3><br><br>Actual grace comes from outside of the soul. Of course it still comes from God, but it is when He pushes us to perform something that will restore or strengthen our sanctifying grace, and our relationship with Him. So to Catholics, actual grace might be when you feel a nudge to pray, to read the Bible, attend Mass, or go to confession.<br><br><h3>Grace for Non-Catholics</h3><br><br>Every step in our lives leads us either to or away from God, no matter what your beliefs are. If you pray, you have taken yet another step toward Him, strengthening your relationship with God that much more. If you do something immoral, then you have weakened that relationship.<br><div style="width:300px;margin:12px 12px 12px 0;clear:both;float:left"><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 300x250 */
google_ad_slot = "1297666708";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div> <br><br>To me, sanctifying grace is God's grace that purifies us and helps us to become holier in our spiritual journey. If we are completely without it, then it is so much harder to do what we need to do to grow closer to God. We might be overtaken by the temptations of the world and fall off the spiritual path entirely. If we have God's grace, and accept it, then we are more receptive to spiritual practices and worship that will help us to grow even closer and take another step in our spiritual growth.<br><br>Actual grace is those little nudges that we have. If you haven't prayed for a while, or any other spiritual practice that you might to, you might start to feel guilty about that, or just have an urge that you really should begin to soon. Once you have started, that builds up sanctifying grace, making your soul even holier, and it is actual grace that pushes you to keep doing that spiritual practice every day.<br><br>It is the nature of the darkness in the world, sin if you want to call it that, that makes us want to backslide and just miss a day. And as everyone well knows, if you just miss one day, you may as well given up. One day turns into two, and two days turn into three, and pretty soon you have completely stopped.<br><br>So it takes a cooperation between us and God to take on those practices that will help us in our spiritual growth the most. If we accept it, it can still be challenging, but it is much easier than if we reject that grace. Then we are hopelessly stuck in the cycle without god's help and the help of the Holy Spirit.
   </p>
    

  </div>

    

    
      
	
        
        
            
                
            
        
	  
      <table id="comments" style="width:450px;" border="0" cellpadding="4" cellspacing="0">
  <tr>
    <td>
      <h2 style="text-align:center;">
        Comments for<br>
        Grace: What It Is and What It Does
      </h2>
      
      <p style="text-align:center; font-weight:bold;">
      	Average Rating <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
      </p>
      

      <p style="text-align:center">
         <a href="http://www.christs-light-ministries.org/grace-what-it-is-and-what-it-does-comment-form.html">Click here to add your own comments</a>
      </p>
 

      
        
    </td>
  </tr>

  
    <tr>
      <td style="text-align:center;">
        <div id="25797818">
          
<div id="comment_25797818" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Holly</strong></span><br>
        <br><span class="subBodyText">
        July 20, 2009<br><br>That was a great article!  I really learned a lot!  <img src="/images/biggrin.png" border="0" alt="Big Grin" title="Big Grin"></span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25797811">
          
<div id="comment_25797811" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Rev. Brandon A. Olivares</strong></span><br>
        <br><span class="subBodyText">
        July 13, 2009<br><br>Pax et bonum, John.<br><br>Thank you for your post. I agree with your distinction. <img src="/images/smile.png" border="0" alt="Smile" title="Smile"><br><br>When I was on that retreat, the priest who was giving the talks said that it is God who gives that grace, but he wants us to <b>ask</b> for it. He wants us to pray. He will usually give us grace if we ask for it, unless he determines we have sufficient grace, as he told St. Paul when he asked God to remove the sting from his flesh.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25797806">
          
<div id="comment_25797806" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: John J. Farren</strong></span><br>
        <br><span class="subBodyText">
        July 8, 2009<br><br>JMJ / MMM     090708  Wednesday<br>I’d like to add something important to this topic .. <u>and then I’ll continue in topic “Divinization, Theosis..</u>”<br><br>The two major kinds of grace are <font color="Blue">sanctifying or habitual grace</font> .. and <font color="blue">actual grace</font>.<br><br>It is God’s purpose in creating us that we creatures, we finite beings, truly and really SHARE WITH GOD IN LIVING THE DIVINE LIFE in Jesus in the Trinity.  If we were to become perfect human beings -- and that’s all -- we would have totally missed what God has planned for us and given us in Jesus Christ.  We would have “lost” our souls.<br><br><font color="blue"><b>Sanctifying Grace</b> (also called Habitual Grace because after Baptism it resides in our souls permanently unless we lose it by mortal sin) .. Sanctifying Grace causes, effects, in us A PERMANENT <i>CHANGE</i> IN OUR <i>NATURE</i>.  Instead of continuing as mere human beings, creatures of God, we are made by God true and REAL sons and daughters of God.  God has done this through His Son Jesus Christ.  It’s like taking one ant and making the ant to be the greatest human composer and pianist ever to be.</font>  It's even more than that.  See especially <b>CCC</b> 1997 through 2000.<br><br>Over the course of the centuries the Church (founded by Christ) in the East has kept this emphasis.  We find it expressed especially in their great celebration of the Transfiguration.  But in the Church in the West (that’s we, Latin) we have  neglected to give it it’s <i>central</i> position in favor of emphasis on avoiding sin and obeying the commandments.<br><br><font color="blue"><b>Actual Graces</b></font> are God’s free gift to each of us in our free choice ACTions.  These graces are not permanent but are with us as we need them.  These also can be of several kinds.<br><br>It has been mentioned in our posts that this idea of <font color="Red">SHARING IN GOD’S VERY DIVINE LIFE</font> is needing to be further developed.  I’d like to continue sharing this in another topic already begun in the forums, <i>Divinization, Theosis</i>.<br>May Holy Spirit enter us and possess us .. in Jesus Christ Trinity!      John (JohnJFarren)</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25797795">
          
<div id="comment_25797795" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: NightSpirit</strong></span><br>
        <br><span class="subBodyText">
        July 7, 2009<br><br>Yes it is informative and a thought provoking teaching, especially concerning grace. I hadn't thought about sanctification doctrines in a long time, since it is rarely a subject of sermons. The Pentecostal Holiness preachers speak a lot about it, as a separate work of the Holy Spirit, as something a person will know has happened because they are lifted above ongoing temptation to sin. <br><br>There is also a debate among Protestants about whether a person can lose what they have been given and scriptures can be used by either side in defense of their position. I think the author was only presenting the one position on it even though many protestants believe a person can neglect or trample upon their gifts from God or turn back once they have come to know God. <br><br>I know the Catholic church does a great service to it's members in the study and interpretation of biblical concepts and I have read on other Catholic forums how some Catholics are critical of protestants for their varying denominations. I myself believe that everything is as it should be, that every person's walk with God is personal to them, and that everyone is called to perform a unique function within the body of Christ. As long as a person knows in their own spirit that they are doing their best to follow the Holy Spirit then each one must go where they feel led. I respect that some people feel led to serve Christ in the Catholic church, even though I personally don't feel drawn there.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25797783">
          
<div id="comment_25797783" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Rev. Brandon A. Olivares</strong></span><br>
        <br><span class="subBodyText">
        July 6, 2009<br><br>Thanks for pointing that out. It does describe pretty well though what the view of Catholics is on this issue.<br>Well, that's what I like about the Church, is that she does attempt to define a position on such doctrinal issues, even if the position isn't clear from scripture. I think it is important to have a good understanding of such issues, not necessarily for one's salvation, but I think God knows we are naturally curious beings and like to know the truth. Further, it helps to explain God's relationship with humanity and why certain things are the way they are.<br><br>For instance if we understand that grace is received through the sacraments, then we can effectively draw closer to God with that knowledge, by making frequent reception of the sacraments.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25797774">
          
<div id="comment_25797774" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        Jun 05, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Grace: What It Is and What It Does</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: NightSpirit</strong></span><br>
        <br><span class="subBodyText">
        July 6, 2009<br><br>That is a very interesting article that does make some good points. I would only caution that, as far as Protestant beliefs and teachings are concerned, to be able to point out errors in the beliefs of another group from the outside, one must first have a full and clear understanding of all the beliefs of the other group. As a non-Catholic, most of what the author said protestants believe, I found as foreign as Catholics must find it when someone says they worship Mary.     <br><br>In other words, the best person to explain Catholic beliefs is a Catholic and the best person to explain a certain protestant doctrine would be a member of that denomination. The author of this article attempts several times to paint all non-Catholic Christians with a broad brush of one common doctrine concerning topics such as salvation, sanctification, justification and sin. There are many protestant denominations and while those beliefs mentioned in the article may be held by some, there are many that hold beliefs very similar to those of the author. <br><br>It seems useless in a way to point out doctrinal differences because teachings and doctrines themselves do not have any power to save, sanctify or justify. The Holy Spirit does these works in the lives of people who submit to God through Christ. I think most doctrines arise from our attempts to explain or describe what the Holy Spirit did after the fact. For those experiencing a work of the Spirit, no doctrines are needed.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  

  
  <tr>
    <td>

    <p style="text-align:center;">
         <a href="http://www.christs-light-ministries.org/grace-what-it-is-and-what-it-does-comment-form.html">Click here to add your own comments</a>
    </p>

    

    
    
    <p>
    <a href="http://www.christs-light-ministries.org/spiritual-journey.html#INV">
    Join in and write your own page! It's easy to do. How?<br>
    Simply click here to return to <b>Spiritual Journey</b></a>
    </p>

    

    
    </td>
  </tr>
  
</table>

	
      

    
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    
        


						<br>
                        <script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script><!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright © 2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
			
<p><h3>Search Christ's Light Ministries</h3><div id="cse" style="width: 100%;">Loading</div><script src="http://www.google.com/jsapi" type="text/javascript"></script><script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script><link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /></p><p>        <hr width="100%" size="1" align="left">      			<h3><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p><p><a href="/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p></p><p>        <hr width="100%" size="1" align="left"><h3><a href="http://www.christs-light-ministries.org/featured-product"><strong>Open Ended Ceremonial Horn</strong></a></h3><table border="0" cellpadding="3" cellspacing="0"><tbody><tr><th align="right" valign="top">Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$14.95</em></td></tr><tr><th align="right" valign="top">Sale Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$12.78</em></td></tr></tbody></table></p><p><p><a href="http://www.christs-light-ministries-store.org/cart.php?action=add&product_id=155" style="color:#ff0000;"><strong><em>Add to Cart</em></strong></a></p></p><p><p>Whether in gleeful celebration or in solemn ceremony, this horn adds an old-world feel to your ritual that can't be passed up. Coming 6" in length or longer, it is the intact horn of a water buffalo, providing you with a wonderful ornament for your altar, drinking horn, or, when paired with another, a wonderful addition to a representation of the horned God, whether you are fixing it to a costume or creating an image for your altar. When used as part of your ritual magic it can also add to your magick, adding to its energies the strength and stamina of the beast from which it came.</p></p><p>        <hr width="100%" size="1" align="left">        <h3>Featured Testimonial</h3>        <p>I had a holistic healing session with <a href="brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p><p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hoʻoponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift…. (<a href="/the-healing-continues.html"><small>Read More</small></a>)</p>        <hr width="100%" size="1" align="left"><h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3><p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>
<form accept-charset="utf-8" action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Enter your E-mail Address</b><br><input name="email" type="text" size="12"><br>
<b>Enter your First Name (optional)</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

<hr width="100%" size="1" align="left">        <h3><a href="jesus-messages.html">Jesus' Messages</a></h3><dl id="recent-jesus-messages"><dt><a href="jesus-message-122-july-20-2011.html"><b>Jesus' Message #122: July 20, 2011</b></a></dt><dd>Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven for the glory of God.</dd></p><p><dt><a href="jesus-message-121-july-19-2011.html"><b>Jesus' Message #121: July 19, 2011</b></a></dt><dd>Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which is deeply rooted in the promises of God.</dd></p><p><dt><a href="jesus-message-120-july-18-2011.html"><b>Jesus' Message #120: July 18, 2011</b></a></dt><dd>Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path.</dd></p><p></dl></p>

		</td>
	</tr>
</table>

</body>
</html>
