<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>The Healing Love of God</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<META Name="Description" Content="April 15, 2011  I have had several very powerful experiences lately about the great power of love, that I think very few people get to truly experience">
<META Name="Keywords" Content="the healing love of god, alternative healing, energy healing, prayer healing, laying on of hands, healing">
<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>



<style type="text/css" media="all">
body, td
{
	font:13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000;
	margin: 0px;
	}
.thirdColumn {
width:235px;
vertical-align:top;
padding:18px 4px; 
}

</style>
</head>


<body link="Blue" vlink="Purple" alink="Red" background="http://www.christs-light-ministries.org/imgs/BACK.gif" bgcolor="#FFFFFF" onLoad="'http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="http://www.christs-light-ministries.org/imgs/logo.jpg"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="http://www.christs-light-ministries.org/imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
				
<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center>
				
				


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				

			</div>
			<img src="http://www.christs-light-ministries.org/imgs/LEFT.gif">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>
						
<!--  -->
<style type="text/css">
  
  .errFld {
    padding: 3px;
  }
  .errFldOn {
    padding: 0px;
    border: 3px solid red;
  }
  .errMsg {
    font-weight: bold;
    color: red;
    visibility: hidden;
  }
  .errMsgOn {
    visibility: visible;
  }

  #edit textarea {
    border: 1px solid #000;
  }

  /* used in both edit and preview modes */
  .editTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  #preview .editTitle {
    margin-top: 0px;
  }
  .editName, .editCountry {
    text-align: center;
  }
  .editName, .editCountry, .editBody {
  }
  .editBody {
    text-align: left;
  }
  #preview {
    margin-left: auto;
    margin-right: auto;
  }
  
  .GadSense {
  float:left; 
  vertical-align:top; 
  padding:0 8px 8px 0; 
  margin:0 8px 0px 0;
  }

	.gLinkUnitTop {
	width:466px;
	margin:12px auto;
	}
	
	.gLinkUnitBot {
	width:120px;
	float:right;
	margin:4px 0 24px 36px;
	}
  
</style>


  <div id="The Healing Love of God" style="border:0px solid black;padding:5px;">

    <h2 style="text-align:center;">The Healing Love of God</h2>

    <p style="text-align:center;">
      
        by <a href="brandon.html">Rev. Brandon A. Olivares</a>
      
      
        <br>(Johnstown, PA, USA)
      
    </p>
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    

    
    
    
        
            
        
    
    
    <p>
        
            
                 
            
        
        April 15, 2011<br><br>I have had several very powerful experiences lately about the great power of love, that I think very few people get to truly experience within their lives. Love is such a common word, though in my opinion it has been so degraded, and there are very few real examples of love in this world. Love is usually selfish, because we require the other person to conform to certain standards or to act a certain way, or else we might not love them as much, or not at all.<br><br>It is for this reason that so many people find it difficult to truly believe in god's love. They think, &ldquo;surely there must be some exception. Surely He can get angry at me and cast me into hell for doing something wrong.&rdquo; Then, they fear exactly that — fear taking a misstep lest God might get angry at them.<br><br>If you've been reading <a href="jesus-messages.html">Jesus' Messages</a>, you know how ridiculous of an idea this truly is. But still, even if you do know this, have you really experienced the purifying, the intensifying, the all-encompassing effects that love, pure love, has on a person's soul? Few do. I don't think I really did, until last weekend, and now it has happened several times and I am striving to live in that love always.<br><br>Christine and I went to my house for the weekend last week. Every so often, we get so overwhelmed by work, that we just know that it's about time for a trip to my house just to regroup, relax, and recharge. Also, amazing spiritual events always seem to happen at my house, such as the one <a href="http://www.thefulleffect.org/entries/59" target="_blank">in February</a>, and <a href="http://www.thefulleffect.org/entries/65" target="_blank">over spring break</a>. This weekend was no different.<br><br>As everyone knows, God has been unfolding His healing gift within me a lot lately, and I've been gaining more confidence in using it. When I went home last weekend, I saw my mother, who has rheumatoid arthritis. She is on medicine for it, and hopefully that will prevent it from getting worse, but it is never a good situation. Driving us home was an effort for her, and she had to keep switching arms.<br><br>I had the growing feeling that I should really work on her for healing. My confirmation came Saturday, when Christine said the same thing. I was a little afraid of that prospect, but not too much since she knows that I do healing, and would probably welcome it. The only thing was finding the right time to step in and offer. I'm still working on my courage when it comes to such things, so that is a difficult thing to do.<br><br>So I prayed about it, and waited. It was getting late on Saturday night. I just decided that I would have to take a step out in faith and just do it. So, while she was watching TV, I just sat down in the chair with her (it's a rather large chair). She welcomed that, and nothing more happened for a few minutes. Then Christine came over and rubbed her feet, which she always loves.<br><br>Then I started working on her shoulders, because they were what was bothering her. It was especially her right shoulder, which was really inflamed and swollen. I laid my hands there, and the swelling did decrease quite a bit, probably about half way. I worked on her hands a bit too because those were bothering her. Then, by Christine's encouragement, I just laid my hands on her head to just try to take care of the whole problem.<br><br>That allowed her to relax a bit, and eventually she just asked me if I was able to tune into feelings. I said I was. She asked me whether I could tune into her feelings. I felt a little put on the spot, but I tried. Her soul was an open book to me, and I revealed many things that I won't write about here. But I could tell that these had a deep, profound effect on her. She felt understood, and who doesn't want that? Of course, as such feelings are brought to the light, they are available for healing by the Light of Christ, and that can have far-reaching consequences deep in the soul. I saw things there that I never knew existed. Of course every child idealizes his or her parents, and I had just never realized some of the things I found there that she had just never told me, because she didn't want to burden me.<br><br>As I held her there, an act going back to the days when I was small enough to be held, I could feel the great power of God's love encompassing both of us. After what had been happening in my own life, I was a much better channel for God's love, though I didn't always use it. At this time, though, the love of God was flowing unabated through my soul, into hers, and there was a deep, unspeakable union there between us. I felt the sins of both of us be forgiven, without a word spoken. A great weight was lifted off of me, and I know it was taken off of her, too, for the darkness and exhaustion I once saw within her soul was replaced with a gentle light and new-found peace. I saw her in a different light after that day.<br><br>It is a difficult thing to discuss, because it was a very intimate moment between a mother and her child, her grown child about to get married, but I know that it needs to be shared, so that others know the real power of love, and how it can heal in an instant of complete soul union.<br><div style="width:300px;margin:12px 12px 12px 0;clear:both;float:left"><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 300x250 */
google_ad_slot = "1297666708";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div> <br><br>I felt released by that experience — released to go out and begin my own ministry, to love and to heal others. Only my mother could have prepared me for such a work, for her love is probably the closest to unconditional that I have ever seen in anyone before.<br><br>One is blessed to experience this love once in a lifetime, but God was not done with me, nor will He ever be done with me, if my feeling is correct. Last night, a very similar thing happened between Christine and me. I have been reading a book, called <a href="http://www.sacred-texts.com/eso/um/index.htm" target="_blank"><em>Unveiled Mysteries</em></a>. It is a truly beautiful book, that has been awakening many things in me that I did not even know were there in my soul, ready to be awakened. It awakened me to a power that is in every one of us, that seemed to great to hope for, a power that binds us in union with God in love, and in service to others in the same unconditional love. This book stresses listening and remaining centered in your inner God self, the inner flame that comes from the great I AM, Source of all, God the Father. By so doing, one lives a life of perfection, always acting in Love and Light.<br><br>Therefore, I decided to try to do this as much as possible. So I said, “OK, I shall try to center. What is it that you wish me to do?” I just went about my business, then, but keeping a mental eye upon this inner God self, trying to listen to any promptings that might arise. Christine was lying down for a while for a nap, and after she got up we were going to run to get dinner on campus. However, the thought struck me that she might like to go out to dinner. It had been a long week for both of us, and she had just gotten through a difficult test, and I figured she might like that. So I called one of our friends who has a car, and asked her if she wanted to go out to dinner, and she said yes. Then, when Christine woke up, I had a little surprise to tell her, and she seemed really appreciative. We ended up having a lot of fun and getting back around 11:00.<br><br>Then it was about time to leave for the night, because the dorm closes at 1:00. We had probably about 30 minutes left. Then, I don't know how it happened, but I wound up holding her, in much the same way I had done for my mother last weekend. Not a big deal, of course, couples hold each other all the time. But as we will both attest to, there was something completely different. Once more, I could feel the love of God pouring through me, binding us in a union of souls, deep and without flaw. All was forgiven, just as before, wordlessly, and a great weight was lifted. Many hurts within her soul were healed. It lasted probably about 15 minutes, and then we had to get to praying so that we'd have enough time. But I think that this experience awakened something within Christine, and she made me promise that we'd do that every day. It was deeper than just a normal human love. This was a spiritual, purifying, healing love that I don't know she's ever felt before, and I've only felt a few times.<br><br>After these two experiences, I have been yearning for that love even more, and trying to live in that love. The only one who can provide that love is God, and those who allow God's love to flow through them unhindered. Sometimes it is hard for me to keep the remembrance of it, but when I do, and that is more often now, I get that same sweeping feeling of healing and purification and unity with God and with all.<br><br>I urge you please to pour out the love of God, to the extent you are able, upon as many people as possible. See the God self within each individual, and love that Goodness and that Light within them, ignoring the ignorance and the darkness that temporarily clouds that Light. Live in the fullness of the Love of God, and love others with that same Love. Soon you shall experience this same thing, and shall feel as though you are in union with all in great love, and nothing will be able to disturb that love within you. It is the inheritance of every human being, of every spiritual being, and it is yours to claim at any moment, if you would let go of all that which is not love. So I write this as a preview of what such a love is like, insofar as words are able to express it, which they cannot.<br><br>Please write to me about your own experiences of the Love of God, and how you may have felt that Love through another or flow through you to another. I may post up some experiences here on this site, or you may post them in the <a href="spiritual-forums.html">forums</a>. The more reminders of this Love we have, the more we are encouraged to seek after it.
   </p>
    

  </div>

    

    
      

         <p>
	 <a href="http://www.christs-light-ministries.org/the-healing-love-of-god-comment-form.html">Click here to post comments.</a>
         </p>

        
          <p style="text-align:left;">
          <a href="http://www.christs-light-ministries.org/alternative-healing.html#INV">
          Join in and write your own page! It's easy to do.  How?<br>
          Simply click here to return to <b>Alternative Healing</b></a>.
          </p>
        

      

    
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    
        


						<br>
                        <script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script><!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright © 2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
			
<p><h3>Search Christ's Light Ministries</h3><div id="cse" style="width: 100%;">Loading</div><script src="http://www.google.com/jsapi" type="text/javascript"></script><script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script><link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /></p><p>        <hr width="100%" size="1" align="left">      			<h3><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p><p><a href="/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p></p><p>        <hr width="100%" size="1" align="left"><h3><a href="http://www.christs-light-ministries.org/featured-product"><strong>Open Ended Ceremonial Horn</strong></a></h3><table border="0" cellpadding="3" cellspacing="0"><tbody><tr><th align="right" valign="top">Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$14.95</em></td></tr><tr><th align="right" valign="top">Sale Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$12.78</em></td></tr></tbody></table></p><p><p><a href="http://www.christs-light-ministries-store.org/cart.php?action=add&product_id=155" style="color:#ff0000;"><strong><em>Add to Cart</em></strong></a></p></p><p><p>Whether in gleeful celebration or in solemn ceremony, this horn adds an old-world feel to your ritual that can't be passed up. Coming 6" in length or longer, it is the intact horn of a water buffalo, providing you with a wonderful ornament for your altar, drinking horn, or, when paired with another, a wonderful addition to a representation of the horned God, whether you are fixing it to a costume or creating an image for your altar. When used as part of your ritual magic it can also add to your magick, adding to its energies the strength and stamina of the beast from which it came.</p></p><p>        <hr width="100%" size="1" align="left">        <h3>Featured Testimonial</h3>        <p>I had a holistic healing session with <a href="brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p><p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hoʻoponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift…. (<a href="/the-healing-continues.html"><small>Read More</small></a>)</p>        <hr width="100%" size="1" align="left"><h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3><p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>
<form accept-charset="utf-8" action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Enter your E-mail Address</b><br><input name="email" type="text" size="12"><br>
<b>Enter your First Name (optional)</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

<hr width="100%" size="1" align="left">        <h3><a href="jesus-messages.html">Jesus' Messages</a></h3><dl id="recent-jesus-messages"><dt><a href="jesus-message-122-july-20-2011.html"><b>Jesus' Message #122: July 20, 2011</b></a></dt><dd>Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven for the glory of God.</dd></p><p><dt><a href="jesus-message-121-july-19-2011.html"><b>Jesus' Message #121: July 19, 2011</b></a></dt><dd>Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which is deeply rooted in the promises of God.</dd></p><p><dt><a href="jesus-message-120-july-18-2011.html"><b>Jesus' Message #120: July 18, 2011</b></a></dt><dd>Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path.</dd></p><p></dl></p>

		</td>
	</tr>
</table>

</body>
</html>
