<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Universal Salvation?</title>
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.christs-light-ministries.org/spiritual-growth.xml">
<style type="text/css">
#addSiteTo {
width:90%;
font-size:85%;
text-align:center;
padding:8px 0;
border:1px solid #000;
margin:12px auto;
background-color: ;
}

#addSiteTo p {
padding:2px 2px 4px;
margin:0;
}

#addSiteTo img {
border:0;
padding:1px 0;
}

#addSiteTo .questionMark {
 padding:0;
 margin:1px auto;
 text-align:center;
 width:75%;
 }

 #addSiteTo .questionMark img {
 margin:0 4px 4px 0;
 padding:0;
 }
</style>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=UTF-8">
<META Name="Description" Content="I found an interesting article. The author has studied many accounts of near death experiences (NDEs), and tied them to the doctrine of universal salvation,">
<META Name="Keywords" Content="universal salvation?, spiritual journey, spiritual path, religious beliefs, religion, spirituality">
<link href="/support-files/classic_footer.css" type="text/css" rel="stylesheet">
<script language="JavaScript" type="text/javascript">
<!--

function MM_swapImgRestore() 
{
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() 
{
    var d=document; 
    if(d.images)
    { 
	if(!d.MM_p) d.MM_p=new Array();
	var i,j=d.MM_p.length,a=MM_preloadImages.arguments; 
	for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0)
	    { 
		d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
	    }
    }
}

function MM_swapImage() 
{
    var i,j=0,x,a=MM_swapImage.arguments; 
    document.MM_sr=new Array; 
    for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

function MM_openBrWindow(theURL,winName,features) 
{
    window.open(theURL,winName,features);
}

function MM_findObj(n, d) 
{
    var p,i,x;  
    if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) 
    {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);
    }
    if(!(x=d[n])&&d.all) 
	x=d.all[n]; 
    for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) 
	x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) 
	x=d.getElementById(n); 
    return x;
			
}
//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
function MM_displayStatusMsg(msgStr) { //v1.0
  status=msgStr;
  document.MM_returnValue = true;
}
//-->
</script>



<style type="text/css" media="all">
body, td
{
	font:13px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#000;
	margin: 0px;
	}
.thirdColumn {
width:235px;
vertical-align:top;
padding:18px 4px; 
}

</style>
</head>


<body link="Blue" vlink="Purple" alink="Red" background="http://www.christs-light-ministries.org/imgs/BACK.gif" bgcolor="#FFFFFF" onLoad="'http://www.christs-light-ministries.org/imgs/index-over.gif', 'http://www.christs-light-ministries.org/imgs/contact-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif', 'http://www.christs-light-ministries.org/imgs/_forums-over.gif', 'http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif', 'http://www.christs-light-ministries.org/imgs/prayer-request-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif', 'http://www.christs-light-ministries.org/imgs/donate-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif', 'http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif', 'http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif', 'http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif', 'http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif', 'http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif', 'http://www.christs-light-ministries.org/imgs/contributors-over.gif', 'http://www.christs-light-ministries.org/imgs/who-is-god-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif', 'http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif', 'http://www.christs-light-ministries.org/imgs/prayers-over.gif', 'http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif', 'http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif', 'http://www.christs-light-ministries.org/imgs/new-age-store-over.gif', 'http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif', 'http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif', 'http://www.christs-light-ministries.org/imgs/christian-news-over.gif', 'http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif', 'http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif'">
<table width="960" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3"><img src="http://www.christs-light-ministries.org/imgs/logo.jpg"></td>
	</tr>
	<tr>
		<td valign="top" width="130" background="http://www.christs-light-ministries.org/imgs/LEFT.gif">
			<div id="Layer1" style="position:absolute; width:130px; z-index:1; top: 120px;">
				
<center><div id="addSiteTo"><div class="questionMark">Subscribe To This Site</div><a href="http://www.christs-light-ministries.org/spiritual-growth.xml" target="new"><img style="padding-top:2px;" src="http://www.christs-light-ministries.org/objects/rss.jpg" alt="XML RSS"></a><br><a href="http://fusion.google.com/add?feedurl=http://www.christs-light-ministries.org/spiritual-growth.xml" 
target="new" rel="nofollow"><img src="http://www.christs-light-ministries.org/objects/googleplus.gif"
                alt="Add to Google"></a><br><a href="http://add.my.yahoo.com/rss?url=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/addtomyyahoo4.gif"
               alt="Add to My Yahoo!"></a><br><a href="http://my.msn.com/addtomymsn.armx?id=rss&amp;ut=http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow">
               <img src="http://www.christs-light-ministries.org/objects/add-mymsn2.gif" alt="Add to My MSN"></a><br><a href="http://www.bloglines.com/sub/http://www.christs-light-ministries.org/spiritual-growth.xml" target="new" rel="nofollow"><img 
src="http://www.christs-light-ministries.org/objects/bloglines.gif" alt="Subscribe with Bloglines"></a></div></center>
				
				


<style type="text/css">
.navheader {
display: block;
width: 130px;
font-family: Verdana;
font-size: 14px;
font-weight: bold;

color: #000000;
text-align: left;


border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
background-color: #FFFFFF
}
</style>
   

<a href="http://www.christs-light-ministries.org/index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('index','','http://www.christs-light-ministries.org/imgs/index-over.gif',1)"><img name="index" border="0" src="http://www.christs-light-ministries.org/imgs/index.gif" alt="Home"></a><br>
<a href="http://www.christs-light-ministries.org/contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image0','','http://www.christs-light-ministries.org/imgs/contact-over.gif',1)"><img name="Image0" border="0" src="http://www.christs-light-ministries.org/imgs/contact.gif" alt="Contact Us"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-blog.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','http://www.christs-light-ministries.org/imgs/spiritual-growth-blog-over.gif',1)"><img name="Image1" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-blog.gif" alt="Spiritual Blog"></a><br>
<a href="http://forums.christs-light-ministries.org/" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','http://www.christs-light-ministries.org/imgs/_forums-over.gif',1)"><img name="Image2" border="0" src="http://www.christs-light-ministries.org/imgs/_forums.gif" alt="Christ&#39;s Light Forums"></a><br>
<a href="http://www.christs-light-ministries.org/christs-light-radio.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','http://www.christs-light-ministries.org/imgs/christs-light-radio-over.gif',1)"><img name="Image3" border="0" src="http://www.christs-light-ministries.org/imgs/christs-light-radio.gif" alt="Christ&#39;s Light Radio"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-growth-e-zine.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine-over.gif',1)"><img name="Image4" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-growth-e-zine.gif" alt="Spiritual Newsletter"></a><br>
<span class="navheader">Services</span>
<a href="http://www.christs-light-ministries.org/prayer-request.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image6','','http://www.christs-light-ministries.org/imgs/prayer-request-over.gif',1)"><img name="Image6" border="0" src="http://www.christs-light-ministries.org/imgs/prayer-request.gif" alt="Prayer Request"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image7','','http://www.christs-light-ministries.org/imgs/holistic-healing-over.gif',1)"><img name="Image7" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/intuitive-reading.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image8','','http://www.christs-light-ministries.org/imgs/intuitive-reading-over.gif',1)"><img name="Image8" border="0" src="http://www.christs-light-ministries.org/imgs/intuitive-reading.gif" alt="Intuitive Reading"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image9','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-over.gif',1)"><img name="Image9" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling.gif" alt="Spiritual Counseling"></a><br>
<a href="http://www.christs-light-ministries.org/donate.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image10','','http://www.christs-light-ministries.org/imgs/donate-over.gif',1)"><img name="Image10" border="0" src="http://www.christs-light-ministries.org/imgs/donate.gif" alt="Support Our Cause"></a><br>
<span class="navheader">Online Schools</span>
<a href="http://www.christs-light-ministries.org/school-of-psychic-and-spiritual-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development-over.gif',1)"><img name="Image12" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-psychic-and-spiritual-development.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-the-healing-light-of-christ.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ-over.gif',1)"><img name="Image13" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-the-healing-light-of-christ.gif" alt="Christ&#39;s Healing"></a><br>
<a href="http://www.christs-light-ministries.org/school-of-healing-and-psychic-development.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development-over.gif',1)"><img name="Image14" border="0" src="http://www.christs-light-ministries.org/imgs/school-of-healing-and-psychic-development.gif" alt="Full Training"></a><br>
<span class="navheader">Teleconferences</span>
<a href="http://www.christs-light-ministries.org/psychic-development-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','http://www.christs-light-ministries.org/imgs/psychic-development-teleconference-over.gif',1)"><img name="Image16" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-teleconference.gif" alt="Psychic Development"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-teleconference.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image17','','http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference-over.gif',1)"><img name="Image17" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-teleconference.gif" alt="Holistic Healing"></a><br>
<span class="navheader">Testimonials</span>
<a href="http://www.christs-light-ministries.org/holistic-healing-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials-over.gif',1)"><img name="Image19" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-testimonials.gif" alt="Holistic Healing"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-counseling-testimonials.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image20','','http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials-over.gif',1)"><img name="Image20" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-counseling-testimonials.gif" alt="Spiritual Counseling"></a><br>
<span class="navheader">Inspiration</span>
<a href="http://www.christs-light-ministries.org/words-of-wisdom.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','http://www.christs-light-ministries.org/imgs/words-of-wisdom-over.gif',1)"><img name="Image22" border="0" src="http://www.christs-light-ministries.org/imgs/words-of-wisdom.gif" alt="Words of Wisdom"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','http://www.christs-light-ministries.org/imgs/spiritual-messages-over.gif',1)"><img name="Image23" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-messages.gif" alt="Spiritual Messages"></a><br>
<a href="http://www.christs-light-ministries.org/ask-jesus.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image24','','http://www.christs-light-ministries.org/imgs/ask-jesus-over.gif',1)"><img name="Image24" border="0" src="http://www.christs-light-ministries.org/imgs/ask-jesus.gif" alt="Ask Jesus"></a><br>
<a href="http://www.christs-light-ministries.org/jesus-messages.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image25','','http://www.christs-light-ministries.org/imgs/jesus-messages-over.gif',1)"><img name="Image25" border="0" src="http://www.christs-light-ministries.org/imgs/jesus-messages.gif" alt="Jesus&#39; Messages"></a><br>
<a href="http://www.christs-light-ministries.org/daily-inspiration.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image26','','http://www.christs-light-ministries.org/imgs/daily-inspiration-over.gif',1)"><img name="Image26" border="0" src="http://www.christs-light-ministries.org/imgs/daily-inspiration.gif" alt="Daily Inspiration"></a><br>
<span class="navheader">Community Center</span>
<a href="http://www.christs-light-ministries.org/meditation-experiences-journal.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','http://www.christs-light-ministries.org/imgs/meditation-experiences-journal-over.gif',1)"><img name="Image28" border="0" src="http://www.christs-light-ministries.org/imgs/meditation-experiences-journal.gif" alt="Meditation Journal"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-reflections.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','http://www.christs-light-ministries.org/imgs/spiritual-reflections-over.gif',1)"><img name="Image29" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-reflections.gif" alt="Spiritual Reflections"></a><br>
<a href="http://www.christs-light-ministries.org/contributors.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','http://www.christs-light-ministries.org/imgs/contributors-over.gif',1)"><img name="Image30" border="0" src="http://www.christs-light-ministries.org/imgs/contributors.gif" alt="Our Contributors"></a><br>
<span class="navheader">Spiritual Articles</span>
<a href="http://www.christs-light-ministries.org/who-is-god.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image32','','http://www.christs-light-ministries.org/imgs/who-is-god-over.gif',1)"><img name="Image32" border="0" src="http://www.christs-light-ministries.org/imgs/who-is-god.gif" alt="Who is God?"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-journey.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image33','','http://www.christs-light-ministries.org/imgs/spiritual-journey-over.gif',1)"><img name="Image33" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-journey.gif" alt="Spiritual Journey"></a><br>
<a href="http://www.christs-light-ministries.org/law-of-attraction.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image34','','http://www.christs-light-ministries.org/imgs/law-of-attraction-over.gif',1)"><img name="Image34" border="0" src="http://www.christs-light-ministries.org/imgs/law-of-attraction.gif" alt="Law of Attraction"></a><br>
<a href="http://www.christs-light-ministries.org/prayers.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image35','','http://www.christs-light-ministries.org/imgs/prayers-over.gif',1)"><img name="Image35" border="0" src="http://www.christs-light-ministries.org/imgs/prayers.gif" alt="Prayers"></a><br>
<a href="http://www.christs-light-ministries.org/alternative-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','http://www.christs-light-ministries.org/imgs/alternative-healing-over.gif',1)"><img name="Image36" border="0" src="http://www.christs-light-ministries.org/imgs/alternative-healing.gif" alt="Alternative Healing"></a><br>
<span class="navheader">Products</span>
<a href="http://www.christs-light-ministries.org/guided-meditations.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','http://www.christs-light-ministries.org/imgs/guided-meditations-over.gif',1)"><img name="Image38" border="0" src="http://www.christs-light-ministries.org/imgs/guided-meditations.gif" alt="Guided Meditations"></a><br>
<a href="http://www.christs-light-ministries.org/healing-beyond-healing.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image39','','http://www.christs-light-ministries.org/imgs/healing-beyond-healing-over.gif',1)"><img name="Image39" border="0" src="http://www.christs-light-ministries.org/imgs/healing-beyond-healing.gif" alt="Healing Course"></a><br>
<a href="http://www.christs-light-ministries.org/new-age-store.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image40','','http://www.christs-light-ministries.org/imgs/new-age-store-over.gif',1)"><img name="Image40" border="0" src="http://www.christs-light-ministries.org/imgs/new-age-store.gif" alt="New Age Store"></a><br>
<a href="http://www.christs-light-ministries.org/praise-and-worship-music.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image41','','http://www.christs-light-ministries.org/imgs/praise-and-worship-music-over.gif',1)"><img name="Image41" border="0" src="http://www.christs-light-ministries.org/imgs/praise-and-worship-music.gif" alt="Christian Music"></a><br>
<span class="navheader">Free Coaching</span>
<a href="http://www.christs-light-ministries.org/psychic-development-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image43','','http://www.christs-light-ministries.org/imgs/psychic-development-coaching-over.gif',1)"><img name="Image43" border="0" src="http://www.christs-light-ministries.org/imgs/psychic-development-coaching.gif" alt="Psychic Coaching"></a><br>
<a href="http://www.christs-light-ministries.org/holistic-healing-coaching.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image44','','http://www.christs-light-ministries.org/imgs/holistic-healing-coaching-over.gif',1)"><img name="Image44" border="0" src="http://www.christs-light-ministries.org/imgs/holistic-healing-coaching.gif" alt="Healing Coaching"></a><br>
<span class="navheader">News</span>
<a href="http://www.christs-light-ministries.org/christian-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image46','','http://www.christs-light-ministries.org/imgs/christian-news-over.gif',1)"><img name="Image46" border="0" src="http://www.christs-light-ministries.org/imgs/christian-news.gif" alt="Christian News"></a><br>
<a href="http://www.christs-light-ministries.org/buddhist-news.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image47','','http://www.christs-light-ministries.org/imgs/buddhist-news-over.gif',1)"><img name="Image47" border="0" src="http://www.christs-light-ministries.org/imgs/buddhist-news.gif" alt="Buddhist News"></a><br>
<a href="http://www.christs-light-ministries.org/spiritual-links.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image48','','http://www.christs-light-ministries.org/imgs/spiritual-links-over.gif',1)"><img name="Image48" border="0" src="http://www.christs-light-ministries.org/imgs/spiritual-links.gif" alt="Spiritual Links"></a><br>
				
				

			</div>
			<img src="http://www.christs-light-ministries.org/imgs/LEFT.gif">
		</td>
		<td valign="top" width="595">
			<table width="550" border="0" cellpadding="8" cellspacing="0">
				<tr>
					<td width="15">&nbsp;</td>
					<td>
						
<!--  -->
<style type="text/css">
  
  .errFld {
    padding: 3px;
  }
  .errFldOn {
    padding: 0px;
    border: 3px solid red;
  }
  .errMsg {
    font-weight: bold;
    color: red;
    visibility: hidden;
  }
  .errMsgOn {
    visibility: visible;
  }

  #edit textarea {
    border: 1px solid #000;
  }

  /* used in both edit and preview modes */
  .editTitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  #preview .editTitle {
    margin-top: 0px;
  }
  .editName, .editCountry {
    text-align: center;
  }
  .editName, .editCountry, .editBody {
  }
  .editBody {
    text-align: left;
  }
  #preview {
    margin-left: auto;
    margin-right: auto;
  }
  
  .GadSense {
  float:left; 
  vertical-align:top; 
  padding:0 8px 8px 0; 
  margin:0 8px 0px 0;
  }

	.gLinkUnitTop {
	width:466px;
	margin:12px auto;
	}
	
	.gLinkUnitBot {
	width:120px;
	float:right;
	margin:4px 0 24px 36px;
	}
  
</style>


  <div id="Universal Salvation?" style="border:0px solid black;padding:5px;">

    <h2 style="text-align:center;">Universal Salvation?</h2>

    <p style="text-align:center;">
      
        by <a href="brandon.html">Rev. Brandon A. Olivares</a>
      
      
        <br>(Johnstown, PA, USA)
      
    </p>
    
    
        
            <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
        
    

    
    
    
        
            
        
    
    
    <p>
        
            
                 
            
        
        I found an interesting article. The author has studied many accounts of near death experiences (NDEs), and tied them to the doctrine of universal salvation, the belief that everyone will eventually be saved.<br><br><a href="http://www.near-death.com/experiences/origen021.html" target="_blank">http://www.near-death.com/experiences/origen021.html</a><br><br>I don't think the Church accepts universal salvation, but I'm not sure. For me personally though, the concept of hell itself, as an eternal punishment, has been really bothering me, and is hard for me to believe.
   </p>
    

  </div>

    

    
      
	
        
        
            
                <div style="width:340px; margin:12px auto; text-align:center;"><br><script type="text/javascript"><!--
google_ad_client = "pub-7242869414180671";
/* C2 336x280 */
google_ad_slot = "1964628586";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br><br></div>
            
        
	  
      <table id="comments" style="width:450px;" border="0" cellpadding="4" cellspacing="0">
  <tr>
    <td>
      <h2 style="text-align:center;">
        Comments for<br>
        Universal Salvation?
      </h2>
      
      <p style="text-align:center; font-weight:bold;">
      	Average Rating <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
      </p>
      

      <p style="text-align:center">
         <a href="http://www.christs-light-ministries.org/universal-salvation-comment-form.html">Click here to add your own comments</a>
      </p>
 

      
        
    </td>
  </tr>

  
    <tr>
      <td style="text-align:center;">
        <div id="25508619">
          
<div id="comment_25508619" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 15, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Thoughts on hell</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: <a href="brandon.html">Brandon Olivares</a></strong></span><br>
        <br><span class="subBodyText">
        Hi Deborah,<br><br>Oh, so wonderful to see you around here, and thank you for the comment.<br><br>Yeah, since I've been with Christine, I've adopted parts of the charismatic movement, but also other traditions as well, within and without of Christianity. That's what works the best for me. I had a period of time where I really explored Hinduism, and I still love a lot of their beliefs.<br><br>I agree with you on the matter of pride. I've fought that temptation before, but in general my nature is to dismiss my own work. It was really hard for me to believe the purpose that God had for me, because I never thought I was deserving of it.<br><br>Sometimes the messages are in responses to mistakes I've made, but obviously they can help others as well. They are written just as much for me as for everyone else. I try to remove myself as much of possible when writing them. It's funny how things work together, because usually the problems I am facing are the exact same problems others are facing, and they will say it was exactly what they needed to hear that day.<br><br>Again, thanks for commenting. I hope to see you around. :) I hope all is going well for you.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25508335">
          
<div id="comment_25508335" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 15, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>thoughts on hell</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: Deborah Knight</strong></span><br>
        <br><span class="subBodyText">
        Hi, Brandon.  Catching up on all you are saying here. Very interesting discussions.<br><br>I have always had a belief that since God is no respector of persons, and because Jesus revealed Himself in all His glory to some people, then everyone would be given a chance to see and know Jesus in the same way before they would be punished for rejecting Him. <br><br>Satan does know God and still rejected Him so there may be some that would still reject Jesus out of pride or rebellion. For those, however, the book of Revealation says that death and hell are thrown into the lake of fire, this being called the second death. If we have eternal life as a gift from God through Jesus, then the opposite of that, to me, would be eternal death, or just ceasing to exist at the second death. <br><br>I was a little worried by some of the experiences you described in other posts, but upon reflection, they don't seem to be much different from some that other Christians say they have had. And the daily messages are very similar to those given in charismatic churches I have attended as people exercise the gifts of the Spirit in those meetings.<br><br>The only caution I would give you, as I think John has also, is to resist the pride that can come in when one is being used by God. It can happen to any of us, even happened to Elijah, when he thought he was the only one left that loved God and God told him He had 7000 more Elijah knew nothing about. We are the Body of Christ, and we each have our own special place and destiny. <br><br>The Apostle Peter lived and died, as we all will. The stories of all his successes as well as the mistakes of his life, blessed those of his generation and still blesses us as we read of him.  We each have our own testaments to what we know of the love and goodness and mercy of God to share, wherever we are in God's time and plan, but we are just one of many millions.  I think Peter may have faced a temptation that I sometimes fall in to, to revel and enjoy what I know of God's love, all by myself. Jesus had to tell Peter three times to 'feed his sheep'...that what we know and feel for God is to be shared to encourage and feed the faith of others. So keep sharing, Brandon, even your mistakes and corrections, and God will give the increase. </span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25497197">
          
<div id="comment_25497197" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 14, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Universal Salvation?</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: John J. Farren</strong></span><br>
        <br><span class="subBodyText">
        Regarding what I’ve referred to as “infallibly efficacious (actual) grace,” I must immediately disassociate myself from Reginald Garrigou-Lagrange and some of the so-called “Neo-thomists,” whose doctrines on actual grace, while claiming to be those of Aquinas, are most certainly not. For excellent reading in this area read the two best, Jacques Maritain, [B]God and the Permission of Evil[/B],  and Charles Journet, [COLOR="blue"]The Meaning of Grace.[/COLOR]<br><br>You wrote regarding actual grace, “[COLOR="blue"]I can see perhaps him putting all his power into having them choose it, but in the end if they are 100% dead set against believing it, there's not much God can do.[/COLOR]” This is similar to what Augustine held. I do not accept this as a sufficient solution. It is one of three major ways that attempt to deal with actual grace.<br><br>You also wrote, “[COLOR="blue"]I find a complication in God being able to have someone choose what he wants them to choose, for I don't know if that is truly free.[/COLOR]” God, the First Cause of all being, never interferes with the creature’s free will/choice .. but rather PERFECTS it. God’s grace does not diminish free will but rather brings it to complete perfection in the order of being, freedom, fullness, and goodness. (An aside > The Beatific Vision perfects us not merely in infallibly preventing us from doing evil but rather removes from us totally the imperfection that permits us to fail.)<br><br>I myself have found much enlightenment in the great truths of faith of our Catholic Church in the writings of Hinduism, especially the [B]Bhagavad-Gita[/B] .. and the teachings of Mahayana Buddhism and Zen Buddhism. Always it is necessary to separate the chaff from the wheat. And with the grace of the Holy Spirit one must discern and judge and reject and accept all that one encounters. For centuries people almost worship the popes and the curia -- I say almost -- as they were meant to worship Christ. The popes of Vatican II and Post-Vatican II have helped us toward a greater legitimate (true) freedom in the lives of faith we must lead and in our attitudes toward this very church that Jesus founded.<br><br>You asked whether it is permitted for a Catholic to hold the belief in universal salvation. In what I have explained I see nothing that is opposed to anything we must believe as Catholics. Some might disagree with me .. but surely some would agree with me.<br><br>Brandon, you really share some good thinking. I seldom get caught by postings .. but often you do catch me.<br>Blessing in Jesus and Mary, John            (JohnJFarren)</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25497193">
          
<div id="comment_25497193" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 14, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Universal Salvation?</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: John J. Farren</strong></span><br>
        <br><span class="subBodyText">
        JMJ / MMM     27 July 2010<br>Hello Brother Brandon --<br>It's good to be back in the thinking circle again.<br><br>It is true “<span style="color:blue;">that parts of the Church are very legalistic.</span>” I’ve often heard Catholics, who have a reasonable grasp of the faith, make statements (sometimes dogma, sometimes morals) that are simply false. In past ages our Catholic Church has been extremely legalistic. So we must consider ourselves in the Post Vatican II time very blessed because this grossly excessive legalism has been tremendously diminished, thanks to a great in pouring of the Holy Spirit, and several very saintly popes. I do thank God, Brandon, that I never became a priest. I would have obligations that now and then would put me between a rock and a hard place.<br><br>	At the same time we must realize that the Church must have laws and that proper laws are to be obeyed. And here again we have a difficulty. Who shall decide about these laws? We are not to be BLIND sons of God. We are to be intelligent, and respectful and obedient sons of God. There have never been easy solutions to these intricate problems. Let each of us pray to the Holy Spirit for guidance as we strive to be good sons of God and good sons of the Church.<br><br>I <em>can</em> understand a human being or an angel truly deserving an eternal hell. Many of our sins are sins or weakness or confusion. But there ARE people who have chosen to commit (“baptize”) themselves to Satan absolutely .. and at the same time to freely and with full knowledge to hate Jesus Christ and the Holy Spirit and the Father. They KNOW what they are doing .. and they truly WANT to do it. There are small groups of these people in every major city of the world.<br><br>IF we were able to converse with someone in hell (assuming there IS a human being in hell) and offer them grace and escape and Heaven, they would curse us and damn us. Such a person would truly WANT to be in hell rather than in Heaven.<br><br>It is proper to say that, in a sense, God never damns anyone to hell. But it is also accurate to say that there are people, deeply “matured” in deliberate evil, who freely choose [I]to damn themselves[/I]. “[COLOR="blue"]Better to rule in hell than to serve in Heaven[/COLOR]” .. from Dante’s [B]IL INFERNO[/B]. We have been made “in the image and likeness of God,” and in the psalms we are said to be “[COLOR="blue"]little less than gods.[/COLOR]” The power of intellect we have and the terrible mighty power of our free choice makes us destined to “[COLOR="blue"]become like God[/COLOR]” [B]1 John[/B] 3:1-2 .. or the complete inverse in the order of being.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25497119">
          
<div id="comment_25497119" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 14, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Universal Salvation?</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: <a href="brandon.html">Rev. Brandon A. Olivares</a></strong></span><br>
        <br><span class="subBodyText">
        John I will tell you truly and honestly the problem I have been having. Firstly, I am not able to bring myself to believe in an eternal hell. Even if the pope himself came and told me I was wrong, I still couldn't imagine that God could send someone to hell forever, or even for very long. I think that God loves everyone so much as people allow him to, and no one is proud of the mistakes they know they made. I like the life review idea that the article mentioned. People may accuse themselves and may have to forgive themselves, but never do I think God would accuse them.<br><br>My second problem is that I begin to feel that parts of the Church are very legalistic. I've been around people who think that a white lie will send you to hell, or a child doing something his parents said not to do. I believe that Jesus told us to follow the spirit of the law, and that love for God and neighbor was more important than the letter of the law and the rituals.<br><br>My problem is that there are some things the Church says certain things are wrong, that I am having a hard time seeing as wrong. For example, there is a practice that comes from the east, called reiki, which is a form of healing. The US bishops condemned it last year, saying it was spiritually dangerous for Christians. On the other hand, Pope John Paul II gave several priests and nuns permission to practice it back in the '90s. To me it seems that if people are practicing it, and they are healing people physically, mentally, emotionally, and they are only helping people in every way possible, that there is no problem with it. Jesus said that we would know them by their fruits, and the fruits of the work of many people involved in practices such as this are very good.<br><br>I think that many people are reluctant to explore outside of the Church. I believe, however, that though the Church may have the truth, it doesn't mean that there is not also truth in other beliefs and philosophies, in some way, even truth not necessarily covered within the Church. Not everything good is exclusively contained within the Christian tradition. Even Augustine struggled to figure out which teachings of Plato were compatible with Christianity, and which were not, but he did not simply throw all of Plato's teachings away for being Pagan. I believe that we can learn much from other systems. I think that we should be cautious, but not fear needlessly that which is foreign for only the fact that it is foreign.<br><br>It's just something that's really been bothering me. Since you seem very reasonable, I just wanted to post my struggle here.<br><br>I hope all is well with you.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25497113">
          
<div id="comment_25497113" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 14, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Universal Salvation?</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: <a href="brandon.html">Rev. Brandon A. Olivares</a></strong></span><br>
        <br><span class="subBodyText">
        Thanks a lot. That's not a belief I expected you to hold, though I guess now that I read your response, I'm not surprised. According to the Church, are we allowed to hold such a belief?<br><br>This efficacious grace, are there sources for this kind of belief, or is this something you yourself hold? I find a complication in God being able to have someone choose what he wants them to choose, for I don't know if that is truly free. I can see perhaps him putting all his power into having them choose it, but in the end if they are 100% dead set against believing it, there's not much God can do. What do you think?<br><br>I sincerely hope that all humans are saved, as well. I can't fathom any human deserving eternal punishment, no matter how bad they might have been. I believe that every human has a core of good if you look deep enough, and I believe what needs to happen is for that good to be brought out of them. People that I know who might not be believers, or might practice things that the Church condemns, aren't trying to do evil. They are just trying to do the best good they can, as they see it. Not one of them would consciously and intentionally choose hell if the choice were right before them. I wouldn't even say that Hitler deserves eternal and unending punishment.</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  
    <tr>
      <td style="text-align:center;">
        <div id="25497049">
          
<div id="comment_25497049" >
  <table style="width:100%; padding:4px;">
    <tr>
      <td valign="top" style="width:25%;text-align:left;" class="date">
	
        May 14, 2011<br>
	
        
	
           <strong>Rating</strong><br>
           <img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star"><img src="http://www.christs-light-ministries.org/objects/star2.gif" width="14" height="14" alt="star">
	
      </td>
      <td valign="top" style="text-align:left;">
        <strong>Re: Universal Salvation?</strong>

		
          	  <br>
		

        <span class="author" style="text-align:left;"><strong>by: John J. Farren</strong></span><br>
        <br><span class="subBodyText">
        JMJ / MMM     27 July 2010<br>Hello Brandon --<br>It has been my belief that in the final conclusion of Creation both all human beings and all angels will be saved, will attain to Heaven.<br><br>I believe that any words of Jesus we have will not militate against that belief.<br><br>As Catholics we are obliged to believe in the existence of hell. I believe there are some human beings in hell at this time .. And that there are fallen angels who are in hell at this time.<br><br>Let's consider Satan (Lucifer) as our extreme example. I ask myself whether or not God has graces not yet given to Satan that are far more powerful than any ever previously given to "the evil one." Shall we say no? Of course not.<br><br>And more than this. There is a kind of grace (I don't want to tangle about the name we will give it -- although I call it "infallibly efficacious grace") that causes a free will, freely, and infallibly, to do the good God wants. I believe this kind of grace was given to Mary at the Incarnation. That it was, now and then, given to Moses .. and that it was, now and then, given to St Paul .. and to others known to God.<br><br>Should God choose He could cause true repentance in Satan. It is my believe that God will do that. And if, in this extreme instance of one who damned him/her self, then with others possessed of less evil.<br><br>I will share with you a prayer I have been offering to God every morning for many years. "[COLOR="Blue"]Father, we beg You in the Name of Your Son Jesus Christ .. for the Eternal Salvation of all self-damned human beings ever to exist in all Your creation .. absolutely all, no exceptions.[/COLOR] AND [COLOR="blue"]Father, we beg You in the Name of Your Son Jesus Christ .. for the Eternal Salvation of all self-damned angels ever to exist in all Your creation .. absolutely all, no exceptions.[/COLOR]"<br><br>I may be mistaken in my belief. But I know God Loves all His creation .. and I hope very, very much that I am right.        John (JohnJFarren)</span>
      </td>
    </tr>
  </table>
  <hr>
</div>





        </div>
      </td>
    </tr>
  

  
  <tr>
    <td>

    <p style="text-align:center;">
         <a href="http://www.christs-light-ministries.org/universal-salvation-comment-form.html">Click here to add your own comments</a>
    </p>

    

    
    
    <p>
    <a href="http://www.christs-light-ministries.org/spiritual-journey.html#INV">
    Join in and write your own page! It's easy to do. How?<br>
    Simply click here to return to <b>Spiritual Journey</b></a>
    </p>

    

    
    </td>
  </tr>
  
</table>

	
      

    
    
    
        
            
        
    
        


						<br>
                        <script src="/ssjs/socializeit.js" type="text/javascript"></script>
                 <script type="text/javascript">socializeit({pack: 1, domain:'christs-light-ministries.org', payItText:'Enjoy this page?  Please pay it forward. Here\'s how...', szColor:'',whatIsThisUrl:'http://www.christs-light-ministries.org/help/whats-this.html'});
                 </script><!-- SB_START: sbitool_blocks.footer -->
<div class="page_footer_container" >
    <div class="page_footer_content" >
        <div class="liner" >
            <div class="footer_divider_above"></div>
            <div class="footer_content">Copyright © 2011 Christ's Light Ministries. All rights reserved.</div>
            
        </div>    
    </div> 
    
    <div class="powered_by_sbi_banner">
    <p>
        <a href="http://www.sitesell.com/azavia.html" target="_blank"><img src="http://www.christs-light-ministries.org/imgs/SBI.png" border="0" alt="SBI"></a><br><a href="http://www.sitesell.com/azavia.html" target="blank"><strong>SBI!</strong></a>
    </p>
</div>
 
</div>
<!-- SB_END: sbitool_blocks.footer -->

					</td>
				</tr>
			</table>
		</td>
		<!-- third col -->
		<td class="thirdColumn">
			
<p><h3>Search Christ's Light Ministries</h3><div id="cse" style="width: 100%;">Loading</div><script src="http://www.google.com/jsapi" type="text/javascript"></script><script type="text/javascript">
  google.load('search', '1', {language : 'en'});
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl('013911021771413477836:8cg4etm8gi4');
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script><link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" /></p><p>        <hr width="100%" size="1" align="left">      			<h3><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html">Daily Inspiration<br>November 16, 2011</a></h3>            <p style="border:1px solid #0000FF">Is it you who puts things into motion, or are you merely the effect of something already in motion?</p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause.html" title="Read the rest of this entry">More...</a></p><p><a href="/daily-inspiration-50-you-are-an-effect-not-a-cause-comment-form.html">Click here to comment</a></p><p><a href="/daily-inspiration.html"><small>Archive of Daily Inspiration</small></a></p></p><p>        <hr width="100%" size="1" align="left"><h3><a href="http://www.christs-light-ministries.org/featured-product"><strong>Open Ended Ceremonial Horn</strong></a></h3><table border="0" cellpadding="3" cellspacing="0"><tbody><tr><th align="right" valign="top">Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$14.95</em></td></tr><tr><th align="right" valign="top">Sale Price:</th><td align="left" valign="top"><em style="font-weight:bold;">$12.78</em></td></tr></tbody></table></p><p><p><a href="http://www.christs-light-ministries-store.org/cart.php?action=add&product_id=155" style="color:#ff0000;"><strong><em>Add to Cart</em></strong></a></p></p><p><p>Whether in gleeful celebration or in solemn ceremony, this horn adds an old-world feel to your ritual that can't be passed up. Coming 6" in length or longer, it is the intact horn of a water buffalo, providing you with a wonderful ornament for your altar, drinking horn, or, when paired with another, a wonderful addition to a representation of the horned God, whether you are fixing it to a costume or creating an image for your altar. When used as part of your ritual magic it can also add to your magick, adding to its energies the strength and stamina of the beast from which it came.</p></p><p>        <hr width="100%" size="1" align="left">        <h3>Featured Testimonial</h3>        <p>I had a holistic healing session with <a href="brandon.html">Brandon</a> over Skype two nights ago.  We spent some time talking and began going over the questions I had answered on his <a href="http://holistic-healing.christs-light-ministries.org/intake-form.php">form</a>.  Slowly with no pressure we made our way through each one and by the end there had already been a shift.  But the healing did not end there.</p><p>A large focus of the healing is about a shift from living in "ought" or "obligation" to living in "inspiration". The day after the healing session I continued to clean using Hoʻoponopono and also <em>The Work</em>.  That night I had a series of dreams that began with frustration and disturbing feelings.  Each of those dreams was cleaned and by morning, even though there was a line of memories waiting to be cleaned there was an obvious shift…. (<a href="/the-healing-continues.html"><small>Read More</small></a>)</p>        <hr width="100%" size="1" align="left"><h3>Want a Weekly Dose of Inspiration, Motivation, and Practical Spiritual Tips in Your Inbox?</h3><p>Subscribe to the <i>Spiritual Growth E-Zine</i> for free tips, practical articles and practices that you can apply today for a more fulfilling life.</p>
<form accept-charset="utf-8" action="http://www.christs-light-ministries.org/cgi-bin/mailout/mailmgr.cgi" method="post">
<input type="hidden" name="list_id" value="21107432">
<input type="hidden" name="action" value="subscribe">
<table cellpadding="5" cellspacing="0" border="1" align="" bgcolor="#ffffff">
<tr>
<td valign="top" align="center"><b>Enter your E-mail Address</b><br><input name="email" type="text" size="12"><br>
<b>Enter your First Name (optional)</b><br>
<input name="name" type="text" size="12"><br>
<font size="1"><b>Then</b><br>
<input type="SUBMIT" value="Subscribe" name="SUBMIT"><br>
Don't worry -- your e-mail address is totally secure.<br>
I promise to use it <b>only</b> to send you Spiritual Growth E-Zine.</font>
</td>
</tr>
</table>
</form>

<hr width="100%" size="1" align="left">        <h3><a href="jesus-messages.html">Jesus' Messages</a></h3><dl id="recent-jesus-messages"><dt><a href="jesus-message-122-july-20-2011.html"><b>Jesus' Message #122: July 20, 2011</b></a></dt><dd>Jesus' message says that we should count the gifts that we have received from God already, that we may be worthy to be showered with the gifts of heaven for the glory of God.</dd></p><p><dt><a href="jesus-message-121-july-19-2011.html"><b>Jesus' Message #121: July 19, 2011</b></a></dt><dd>Jesus' message says that we should have hope, for we are children of God, and God will not forsake us. Jesus compares our faith to a strong tree, which is deeply rooted in the promises of God.</dd></p><p><dt><a href="jesus-message-120-july-18-2011.html"><b>Jesus' Message #120: July 18, 2011</b></a></dt><dd>Jesus' message says that we must have faith that we may see the way before us, and must submit this faith to God that we may walk upon the proper path.</dd></p><p></dl></p>

		</td>
	</tr>
</table>

</body>
</html>
